<template>
  <section class="main-slider w-100 cl-white">
    <div class="relative">
      <div class="swiper-slider-wrap">
        <div v-swiper="newSwiperOption" :instance-name="sliderId">
          <div class="swiper-wrapper">
            <div class="swiper-slide hover-on-product" v-for="(slide, index) in bannerData" :key="index">
              <img :src="!isMobile ? slide.image : slide.mobile_image" :alt="slide.title" class="img-cover object-cover" width="1920" height="800">
              <div class="main-slide-caption hidden visible-md">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="caption-wrap">
                        <p
                          class="subtitle"
                          data-testid="mainSliderSubtitle"
                          v-html="slide.description"
                        />
                        <h2 class="title" data-testid="mainSliderTitle" v-html="slide.title" />
                        <div class="slide-btn">
                          <button-outline :link="slide.link" color="light">
                            {{ $t('SHOP NOW') }}
                          </button-outline>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination" />
    </div>
  </section>
</template>

<script>
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import SwiperCore, { Pagination } from 'swiper';
import { directive } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Pagination]);

export default {
  props: {
    bannerData: {
      type: Array,
      default: () => []
    },
    sliderId: {
      type: String,
      default: 'homepage-banners'
    }
  },
  data () {
    return {
      slides: [],
      totalSlides: 1,
      isMobile: false,
      newSwiperOption: {
        spaceBetween: 0,
        slidesPerView: 1,
        loop: false,
        autoplay: {
          delay: 9000
        },
        pagination: {
          el: '.swiper-pagination',
          type: 'bullets',
          clickable: true
        }
      }
    }
  },
  directives: {
    swiper: directive
  },
  components: {
    ButtonOutline
  },
  methods: {
    checkIsMobileView () {
      this.isMobile = window.innerWidth <= 767
    }
  },
  mounted () {
    this.checkIsMobileView()
    window.addEventListener('resize', this.checkIsMobileView)
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-white: color(white);
$gray-595959: color(gray-595959);
$color-secondary: color(secondary);
$gray-FCFCFC: color(gray-FCFCFC);

.main-slider {
  position: relative;
  padding-top: 41.65%;
  img {
    width: 100%;
  }
  @media (max-width: 767px) {
    padding-top: 96.65%;
  }
  > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
  }
  .swiper-slider-wrap, .swiper-slider-wrap > div, .swiper-slider-wrap > div > div {
    height: 100%;
  }
  .swiper-pagination-bullet{
    margin: 0 -14px;
    background: none !important;
    min-width: 48px;
    min-height: 48px;
    pointer-events: none;
    display: block;
    position: relative;
    cursor: pointer;
    &:after {
      content: '';
      width: 12px;
      height: 12px;
      display: flex;
      pointer-events: auto;
      margin: auto;
      pointer-events: auto;
      background-color: rgb(89, 89, 89);
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active::after {
      background-color: rgb(54, 178, 137);
  }
  .swiper-pagination {
    position: absolute;
    bottom: 44px;
    max-width: 500px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    width: auto;
    display: flex;
    justify-content: center;
    z-index: 9;
    @media (max-width: 991px) {
      bottom: 24px;
    }
  }

  .main-slide {
    position: relative;
    line-height: 0;
  }

  .main-slide-caption {
    position: absolute;
    left: 35px;
    bottom: 50px;
    max-width: 100%;
  }

  .caption-wrap {
    line-height: 1;
    text-align: left;
    max-width: 413px;
    margin: 0;

    .subtitle {
      font-size: 16px;
      color: $gray-595959;
      margin-bottom: 10px;

      @media (max-width: 991px) {
        font-size: 14px;
      }
    }

    .title {
      font-size: 56px;
      margin-bottom: 80px;

      @media (max-width: 1199px) {
        font-size: 46px;
        margin-bottom: 40px;
      }

      @media (max-width: 991px) {
        font-size: 36px;
        margin-bottom: 30px;
      }

      span {
        color: $color-secondary;
      }
    }

    .button-outline {
      font-family: 'Teko';
      font-weight: 400;
      font-size: 24px;
      border-color: $gray-FCFCFC;
      color: $gray-FCFCFC;
      padding: 10px 16px 8px;
      display: inline-block;
      line-height: 1;
      height: auto;
      text-align: center;
      min-width: 189px;

      @media (max-width: 991px) {
        font-size: 18px;
        min-width: 149px;
      }

      &:hover,
      &:focus {
        color: $color-secondary;
      }
    }
  }
}
</style>
