<template>
  <button class="brdr-none bg-cl-transparent p0 middle-xs inline-flex cl-secondary weight-400 h4 sans-serif fs-medium" @click="$emit('click')">
    <span class="clearcart-btn cl-accent">
      <i class="material-icons cl-accent mr5">
        cancel
      </i>
      {{ $t('Clear wishlist') }}
    </span>
  </button>
</template>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$green-3C967B: color(green-3C967B);
button {
  height: 24px;
}
.clearcart {
  &-btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: $black;
    transition: 0.5s;
    margin-top: -6px;
    i {
      color: inherit;
      font-size: 19px;
      margin-right: 8px;
    }
    &:hover {
      color: $green-3C967B;
    }
  }
}
</style>
