<template>
  <li class="row mb10 pr55 py20 product-item">
    <div class="blend product-image" @click="closeWishlist">
      <router-link :to="productLink">
        <product-image :image="image" />
      </router-link>
    </div>
    <div class="col-xs between-xs flex pl40 py15 product-desc">
      <div @click="closeWishlist">
        <div class="details">
          <router-link :to="productLink">
            {{ product.name | htmlDecode }}
          </router-link>
          <div class="h6 cl-bg-tertiary pt5 sku">
            {{ product.sku }}
          </div>
        </div>
        <div v-if="showAddToCart" class="wishlist-btn-wrap">
          <add-to-cart
            v-if="product.type_id === 'simple'"
            :product="product"
            class="wishlist-add-to-cart col-xs-12 col-sm-4 col-md-6"
          />
          <router-link
            v-else
            :to="productLink"
            class="wishlist-add-to-cart no-outline px10 ripple weight-400"
          >
            {{ $t('Edit') }}
          </router-link>
          <div class="remove-whishlist">
            <span @click="removeProductFromWhishList(product)"><remove-button class="cl-accent" /></span>
          </div>
        </div>
      </div>
      <div class="col-xs flex py15 align-right price">
        <div v-if="product.price_incl_tax">
          <span class="price-special" v-if="product.special_price">{{ product.price_incl_tax | price(storeView) }}</span>&nbsp;
          <span class="price-original" v-if="product.special_price">{{ product.original_price_incl_tax | price(storeView) }}</span>

          <span class="price-special" v-if="!product.special_price">
            {{ product.price_incl_tax | price(storeView) }}
          </span>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import config from 'config'
import Product from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Product'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import RemoveButton from './RemoveButton'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import AddToCart from 'theme/components/core/AddToCart'

export default {
  components: {
    RemoveButton,
    ProductImage,
    AddToCart
  },
  mixins: [Product],
  props: {
    showAddToCart: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    removeProductFromWhishList (product) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Product ' + htmlDecode(product.name) + ' has been removed from wishlist!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('OK') }
      }, { root: true })
      this.removeFromWishlist(product)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$mine-shaft: color(mine-shaft);
$primary: color(primary);
$black: color(black);
$green-3C967B: color(green-3C967B);
$gray-E5E5E5: color(gray-E5E5E5);
$gray-404040: color(gray-404040);
$red: color(red);
.blend {
  flex: 0 0 121px;
  opacity: .8;
  will-change: opacity;
  transition: .3s opacity $motion-main;
  &:hover{
     opacity: 1;
   }
}
.col-xs {
  flex-direction: column;
}
input {
  width: 30px;
}
.price-original {
  text-decoration: line-through;
  color: #828282;
  font-size: .95rem;
}
.wishlist-add-to-cart {
  padding: 10px;
  margin: 15px 0;
  min-width: 100px;
  font-size: 14px;
  text-align: center;
}
.price-regular, .price-special {
  font-family: 'Aller', sans-serif;
  font-size: 18px;
  color: $green-3C967B;
  font-weight: bold;
}
.price-original {
  font-family: 'Aller', sans-serif;
  font-size: 16px;
}

.product-item {
  padding: 10px 20px;
  border: 1px solid $gray-E5E5E5;
  margin-left: 0;
  margin-right: 0;
  .product-image {
    flex: 0 0 150px;
  }
  .product-desc {
    padding: 28px 0px 28px 10px;
    display: flex;
    flex-direction: row;
    .h6 {
      font-size: 15px;
    }
    .details {
      padding-bottom: 0 !important;
      padding-right: 0 !important;
      a {
        color: $gray-404040;
        font-size: 20px;
        line-height: 22px;
        font-family: 'Teko', serif;
        &:hover {
          color: $green-3C967B;
        }
      }
    }
  }
  .wishlist-add-to-cart {
    border: 1px solid $black;
    color: $black;
    width: 42px;
    padding: 0;
    text-align: center;
    height: 30px;
    min-width: auto;
    display: inline-block;
    vertical-align: top;
    line-height: 28px;
    font-size: 12px;
    margin-bottom: 0;
    &:hover {
      background-color: $green-3C967B;
      border-color: $green-3C967B;
      color: $white;
    }
  }
  .remove-whishlist {
    display: inline-block;
    vertical-align: top;
    margin-top: 19px;
    margin-left: 10px;
  }
  .price {
    padding: 0px;
  }
}
@media only screen and (max-width: 767px) {
  .price-regular, .price-special, .price-original {
    font-size: 12px;
  }
  .product-item.row {
    padding: 10px;
    .product-image {
      flex: 0 0 80px;
    }
    .product-desc {
      padding: 0 35px 36px 10px;
      flex: 0 0 calc(100% - 80px);
      flex-wrap: wrap;
      position: relative;
      .details {
        a {
          font-size: 14px;
          line-height: 14px;
        }
        .h6 {
          font-size: 12px;
          padding-top: 0;
          padding-bottom: 3px;
        }
      }
      .wishlist-add-to-cart {
        position: absolute;
        left: 10px;
        bottom: 0;
        margin: 0;
      }
    }
    .price {
      padding: 0;
      flex: 0 0 100%;
      text-align: left;
    }
    .remove-whishlist {
      margin: 0;
    }
    .wishlist-btn-wrap {
      font-size: 0;
    }
  }
}

</style>
<style lang="scss">
.wishlist-btn-wrap {
  .wishlist-add-to-cart {
    svg {
      max-width: 20px;
      margin-top: 2px;
    }
  }
}
</style>
