<template>
  <button class="brdr-none bg-cl-transparent">
    <i class="material-icons h6">remove_shopping_cart</i>
    {{ $t('Remove') }}
    <i class="material-icons h6 mobile-remove">close</i>
  </button>
</template>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$green-3C967B: color(green-3C967B);
$gray-404040: color(gray-404040);
button {
  color: $black;
  font-size: 14px;
  text-decoration: underline;
  .material-icons {
    font-size: 18px;
    vertical-align: middle;
    margin-right: 6px;
  }
  &:hover {
    color: $green-3C967B;
  }
  .mobile-remove {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    font-size: 0;
    position: absolute;
    right: 14px;
    width: 15px;
    height: 18px;
    margin: auto;
    top: 0;
    bottom: 0;
    .material-icons {
      &:first-child {
        display: none;
      }
    }
    .material-icons {
      color: $gray-404040;
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      &:hover {
        color: $green-3C967B;
      }
    }
  }
}
</style>
