<template>
  <div class="wishlist cl-accent">
    <div class="row">
      <div class="col-md-12 end-xs">
        <i class="material-icons p15 pointer cl-accent close" @click="closeWishlist">close</i>
      </div>
    </div>
    <div class="row middle-xs wishlist-title-wrap px40">
      <h2 v-if="productsInWishlist.length" class="wishlist-title col-xs-5 col-sm-7 cl-accent">
        {{ $t('My Favourite') }}
      </h2>
      <clear-wishlist-button v-if="productsInWishlist.length" @click="clearWishlist" class="end-sm" />
    </div>
    <h4 v-if="!productsInWishlist.length" class="cl-accent ml30">
      {{ $t('Your wishlist is empty.') }}
    </h4>
    <div v-if="!productsInWishlist.length" class="ml30">
      {{ $t("Don't hesitate and") }}
      <router-link :to="localizedRoute('/')" @click.native="closeWishlist" class="cl-secondary">
        {{ $t('browse our catalog') }}
      </router-link>
      {{ $t('to find something beautiful for You!') }}
    </div>
    <ul class="products">
      <product v-for="wishlistProduct in productsInWishlist" :key="wishlistProduct.id" :product="wishlistProduct" />
    </ul>
  </div>
</template>

<script>
import Wishlist from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Wishlist'
import Product from 'theme/components/core/blocks/Wishlist/Product'
import ClearWishlistButton from 'theme/components/core/blocks/Wishlist/ClearWishlistButton'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  components: {
    Product,
    ClearWishlistButton
  },
  methods: {
    clearWishlist () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Are you sure you want to clear your wishlist?'),
        message_second: this.$t('If you empty the wishlist you can’t recover it.'),
        action1: { label: this.$t('Clear'),
          action: () => {
            this.$store.dispatch('wishlist/clear')
          }
        },
        action2: { label: this.$t('Cancel'), action: 'close' },
        hasNoTimeout: true
      })
    }
  },
  mixins: [Wishlist]
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$mine-shaft: color(mine-shaft);
$primary: color(primary);
$black: color(black);
$gray-666666: color(gray-666666);
$gray-E3E3E3: color(gray-E3E3E3);
$green-3C967B: color(green-3C967B);
$green-36B289: color(green-36B289);
$light-black: color(light-black);
$light-black-2D2D2D: color(light-black-2D2D2D);
i {
  opacity: 0.6;
  &:hover {
    opacity: 1;
  }
}
.wishlist {
  padding-top: 80px;
  padding-bottom: 30px;
  min-height: 100%;
  background-color: $white;
  .close {
    color:$black;
    position: absolute;
    right: 44px;
    top: 44px;
    padding: 0;
    opacity: 1;
    i {
      opacity: 1;
      padding: 0;
      color: inherit;
    }
    &:hover{
      color: $primary;
    }
  }
  .wishlist-title-wrap {
    justify-content: space-between;
    padding-right: 56px;
    .wishlist-title {
      font-size: 40px;
      color: $mine-shaft;
      line-height: 40px;
      margin-bottom: 10px;
      @media only screen and (max-width: 767px) {
        font-size: 18px;
      }
    }
  }
  .products {
    padding: 0 40px;
    margin: 0;
  }
  @media only screen and (max-width: 767px) { 
    padding: 42px 0 20px;
    .wishlist-title-wrap {
      padding: 0 36px 0 20px;
    }
    .close {
      right: 15px;
      top: 15px;
    }
    .products {
      padding: 0 20px;
    }
  }
  a.cl-secondary {
    &:hover {
      color: $black
    }
  }
}

</style>
<style lang="scss">
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$z-index-notification: map-get($z-index, notification) + 2;
.default-layout {
  .notifications {
    z-index: $z-index-notification;
  }
  .right-sidebar {
   z-index: 1001;
   background-color: $white;
    @media only screen and (max-width: 767px) {
      width: 364px;
      max-width: 95%;
    }
  }
}
</style>
