<template>
  <no-ssr>
    <div class="bbt__wrapper blogs blogs-tag container" v-if="blogsByTags.length > 0">
      <div class="log-list">
        <blog-single v-for="blog in blogsByTags" :blog="blog" :key="blog.post_id" />
      </div>
    </div>
  </no-ssr>
</template>
<script>
import NoSSR from 'vue-no-ssr'
import BlogSingle from '../components/BlogSingle.vue'
export default {
  name: 'BlogsByTag',
  components: {
    'no-ssr': NoSSR,
    BlogSingle
  },
  computed: {
    blogsByTags () {
      return this.$store.getters['blogs/getBlogsByTag'](this.$route.params.tag)
    }
  }
}
</script>
