<template>
  <div class="bbt__wrapper blogs blogs-tag container">
    <h1 class="title">
      {{ $t('Search result(s)...') }}
    </h1>
    <div class="log-list" v-if="searchedBlog.length">
      <blog-single v-for="blog in searchedBlog" :blog="blog" :key="blog.post_id" />
    </div>
    <div v-else>
      {{ $t('No result found..') }}
    </div>
  </div>
</template>
<script>
import BlogSingle from '../components/BlogSingle.vue'
export default {
  name: 'BlogSearch',
  data () {
    return {
      searchedBlog: []
    }
  },
  components: {
    BlogSingle
  },
  created () {
    this.$store.dispatch('blogs/searchKeyword', this.$route.query.q).then(res => {
      this.searchedBlog = res || []
    })
  }
}
</script>
