<template>
  <no-ssr>
    <div class="blogs blogs-details container" v-if="Object.keys(blogDetail).length">
      <h1 class="title">
        {{ blogDetail.title }}
      </h1>
      <p>
        {{ $t('Author : ') + blogDetail.author_name }} - {{ blogDetail.publish_date | date('ll') }}
      </p>
      <img :src="blogDetail.featured_img" :alt="blogDetail.title">
      <div v-html="blogDetail.content" class="blogdetails" />
      <p v-if="blogDetail.tags.length" class="tag-links-row">
        <template v-for="(tag,index) in blogDetail.tags">
          <router-link class="tag-links" :to="localizedRoute('/tag/'+ tag)" :key="index">
            {{ tag }}
          </router-link>
        </template>
      </p>
    </div>
  </no-ssr>
</template>
<script>
import NoSSR from 'vue-no-ssr'
import { htmlDecode } from '@vue-storefront/core/filters/html-decode'
export default {
  name: 'BlogDetail',
  components: {
    'no-ssr': NoSSR
  },
  computed: {
    blogDetail () {
      return this.$store.getters['blogs/getBlogByIdentifier'](this.$route.params.slug) || {}
    }
  },
  metaInfo () {
    return {
      bodyClass: 'blogDetails',
      title: this.blogDetail.meta_title ? htmlDecode(this.blogDetail.meta_title) : this.blogDetail.title,
      meta: this.blogDetail.meta_description ? [{ vmid: 'description', name: 'description', content: htmlDecode(this.blogDetail.meta_description) }] : []
    }
  }
}
</script>
<style lang="scss">
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $black: color(black);
  $white: color(white);
  .blogs-details{
    > img{
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;
    }
    .blogdetails{
      padding: 25px 0 0 0;
    }
    .blog-button {
      color: $white;
    }
    @media (max-width: 1272px) {
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  .tag-links-row{
    padding-top: 15px;
    .tag-links{
      background: #f8f8f8;
      padding: 2px 5px;
      border: solid 1px #ddd;
      margin-right: 5px;
    }
  }
  </style>
