<template>
  <no-ssr>
    <div class="blogs container">
      <h1 class="title">
        {{ $t('Blog') }}
      </h1>
      <div class="blogs__featured-post" v-if="featuredBlog">
        <blog-single :blog-description="false" :blog="featuredBlog" :key="featuredBlog.post_id" class="bl_single" />
      </div>
      <tabs class="blog-tabing">
        <tab :title="$t('Featured')" v-if="slicedPositionBlog.length">
          <div class="blogs__featured-post">
            <blog-single v-for="blog in slicedPositionBlog" :blog-description="false" :blog="blog" :key="blog.post_id" class="bl_single" />
          </div>
        </tab>
        <tab :title="$t('This Month')" v-if="monthlyBlogs.length">
          <div class="blogs__featured-post">
            <blog-single v-for="blog in monthlyBlogs" :blog-description="false" :blog="blog" :key="blog.post_id" class="bl_single" />
          </div>
        </tab>
      </tabs>
      <div class="search-blogs">
        <search-blog />
        <blogs-category-list />
      </div>
      <blog-list />
    </div>
  </no-ssr>
</template>
<script>
import { mapGetters } from 'vuex'
import NoSSR from 'vue-no-ssr'
import BlogsCategoryList from '../components/BlogCategoryListing.vue'
import SearchBlog from '../components/SearchBlog.vue'
import BlogList from '../components/BlogsList.vue'
import BlogSingle from '../components/BlogSingle.vue'
import Tab from 'theme/components/theme/Tab.vue'
import Tabs from 'theme/components/theme/Tabs.vue'
export default {
  name: 'BlogsList',
  components: {
    BlogsCategoryList,
    SearchBlog,
    BlogList,
    BlogSingle,
    'no-ssr': NoSSR,
    Tab,
    Tabs
  },
  computed: {
    ...mapGetters({
      getBlogs: 'blogs/getBlogs',
      getRecentBlogs: 'blogs/getFeaturedBlogList',
      getCurrentMonthBlog: 'blogs/getBlogByCurrentMonth',
      featuredBlog: 'blogs/getFirstBlogByPosition',
      positionedBlogs: 'blogs/getBlogsByPosition'
    }),
    recentBlogs () {
      return this.getRecentBlogs.length > 0 ? this.getRecentBlogs.slice(0, 4) : []
    },
    slicedPositionBlog () {
      return this.positionedBlogs.length > 0 ? this.positionedBlogs.slice(0, 4) : []
    },
    monthlyBlogs () {
      return this.getCurrentMonthBlog.length > 0 ? this.getCurrentMonthBlog.slice(0, 4) : []
    }
  }
}
</script>
<style lang="scss">
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-black: color(black);
  $color-white: color(white);
  $gray-A6A6A6: color(gray-A6A6A6);
  $gray-C9C9C9: color(gray-C9C9C9);
  $light-black: color(light-black);
  $gray-737373: color(gray-737373);
  $green-36B289: color(green-36B289);
  $gray-888888: color(gray-888888);

  .blogs{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 80px;
    padding-bottom: 80px;
     @media (max-width: 767px) {
       padding:20px 20px;
     }
    .title{
      border-bottom: solid 1px #ddd;
      margin-bottom: 25px;
      padding-bottom: 15px;
      @media (max-width: 767px) {
        margin-bottom: 20px;
        padding-bottom: 10px;
        font-size: 26px;
     }
    }
    .search-blogs{
      margin:20px 0;
      background: #F5F5F5;
      padding: 20px;
      input{
         border: solid 1px #ccc;
         border-radius: 0;
         padding: 7px 15px;
      }
    }
  }
  .log-list{
    display: flex;
    flex-wrap: wrap;
    margin:0 -7px;
    .bl__wrapper--title{
      border-top: solid 1px #eae7e5;
      padding-top:20px;
    }
    .bl__wrapper--single{
      position: relative;
      width: 33.3%;
      padding-left:7px;
      padding-right:7px;
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        .bl__wrapper--title {
          border-top:0;
          padding-top:0px;
        }
      }
      @media (max-width: 767px) {
        &:nth-child(2), &:nth-child(3) {
        .bl__wrapper--title {
          border-top: solid 1px #eae7e5;
          padding-top:20px;
        }
      }
        width: 100%;
      }
      .blog-disc{
        display: -webkit-box;
        /* autoprefixer: off */
        -webkit-box-orient: vertical;
        /* autoprefixer: on */
        -webkit-line-clamp: 3;
        overflow: hidden;
        margin-bottom: 10px;
        height: 60px;
      }
      .blogimg{
        position: relative;
        padding-bottom: 40.5%;
        background: #F5F5F5;
        a{
          object-fit: cover;
          height: 100%;
          width: 100%;
          position: absolute;
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
      .blog-text{
        padding: 15px 0 20px 0;
        .blog-title{
          font-size: 17px;
          color: #000;
          display: block;
          margin-bottom: 7px;
          &:hover{
            color: $green-36B289;
          }
        }
      }
    }
  }
  .blogs-category{
    padding:5px 0 0 0;
  }
  .blogs__featured-post{
    clear: both;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -7px;
    .bl_single{
      position: relative;
      width: 33.3%;
      padding-left:7px;
      padding-right:7px;
      @media (max-width: 767px) {
        width:100%;
        margin-bottom: 15px;
      }
    }
    .bl_single:nth-child(1){
       width: 100%;
       .bl__wrapper--title {
        .blogimg {
          padding-bottom: 40.40%;
          position: relative;
          @media (max-width: 767px) {
            margin-bottom:0px;
            padding-bottom: 18%;
            align-self: flex-start;
          }
        }
      }
    }
    .blog-text{
      margin-top: 15px;
    }
    @media (max-width: 767px) {
      .bl_single {
        .bl__wrapper--title {
          padding: 0;
          display: flex;
          .blogimg {
            width: 30%;
            position: relative;
          }
          .blog-text {
            width: 70%;
            position: relative;
            padding: 0 0 0 20px;
            margin-top: 0;
            .blog-title {
              font-size: 16px;
              color: #000;
              margin-bottom: 7px;
              padding: 0;
              background-color: transparent;
            }
            .blog-date {
              font-size: 13px;
            }
          }
        }
      }
    }
    .blog-disc{
      display: none;
    }
    a.blog-title{
      font-size: 17px;
      color: #000;
      display: block;
      margin-bottom: 7px;
      &:hover{
        color: $green-36B289;
      }
    }
    .blogimg{
      a {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        display: block;
      }
    }
    .blog-date{
      color: $gray-888888;
    }
  }
  .blog-tabing {
    margin-top: 40px;
    ul.tabs__header > li {
      font-size: 18px;
    }
    .blogs__featured-post {
      .bl__wrapper--single {
        width: 25%;
        .blogimg {
          padding-bottom: 40.40%;
          position: relative;
          overflow: hidden;
          a {
            transform: scale(1);
            transition: 0.2s;
          }
          &:hover {
            a {
              transform: scale(1.1);
            }
          }
        }
        .blog-text {
          .blog-title {
            font-size: 15px;
          }
        }
      }
    }
    @media (max-width: 767px) {
      margin-top: 10px;
      .blogs__featured-post {
        .bl__wrapper--single {
          width: 100%;
          &:not(:first-child) .bl__wrapper--title {
            padding-bottom: 0;
          }
          .blogimg {
            padding-bottom: 18%;
            align-self: flex-start;
          }
        }
      }
    }
  }
  .pagination{
    width: 100%;
  }
  .blogs {
    > .blogs__featured-post {
      .bl__wrapper--single .bl__wrapper--title {
        display: block;
        .blogimg {
          width: 100%;
          padding-bottom: 40.40%;
        }
        .blog-text {
          width: 100%;
          padding: 0;
          margin-top: 15px;
        }
      }
    }
  }
  </style>
