<template>
  <div class="category-menu-wrap flex w-100">
    <ul class="category-menu-list">
      <li
        class="category-menu-item"
        :key="category.slug"
        v-for="category in visibleCategories"
      >
        <router-link
          :to="categoryLink(category)"
        >
          {{ category.name }}
        </router-link>
      </li>
    </ul>
    <ul class="blog-menu category-menu-list">
      <li class="category-menu-item">
        <router-link
          :to="localizedRoute('/blog')"
        >
          {{ $t('Blog') }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import config from 'config'

export default {
  computed: {
    ...mapGetters('category-next', ['getMenuCategories']),
    getCategories () {
      return this.getMenuCategories
    },
    categories () {
      return this.getCategories.filter((op) => {
        return op.level === (config.entities.category.categoriesDynamicPrefetchLevel >= 0 ? config.entities.category.categoriesDynamicPrefetchLevel : 2) // display only the root level (level =1 => Default Category), categoriesDynamicPrefetchLevel = 2 by default
      })
    },
    visibleCategories () {
      return this.categories.filter(category => {
        if (category.include_in_menu === 1) {
          return category.product_count > 0 || category.children_count > 0
        }
      })
    }
  },
  methods: {
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-404040: color(gray-404040);
.category-menu-wrap {
  .blog-menu {
    margin-left: auto;
    padding-left: 20px;
    a {
      background-color: $gray-404040;
      display: block;
      line-height: 45px;
      padding: 0 20px;
      margin-top: -12px;
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 23px 20px 22px 0;
        border-color: transparent $gray-404040;
        right: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        background-color: $gray-404040;
        width: 40px;
      }
    }
  }
}
.category-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  .category-menu-item {
    padding-right: 25px;
    padding-bottom: 3px;
    @media only screen and (min-width: 1401px) and (max-width: 1600px) {
      padding-right: 20px;
      font-size: 15px;
    }
    @media only screen and (min-width: 1200px) and (max-width: 1400px) {
      padding-right: 15px;
      font-size: 14px;
    }
    @media (max-width: 1199px) {
      padding-right: 10px;
      font-size: 13px
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
</style>
