<template>
  <button
    type="button"
    class="bg-cl-transparent brdr-none p0"
    @click="openSidebarMenu"
    :aria-label="$t('Open menu')"
    data-testid="menuButton"
  >
    <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="15" height="1.5" rx="0.75" fill="white"/>
      <rect y="6" width="10" height="1.5" rx="0.75" fill="white"/>
      <rect y="12" width="15" height="1.5" rx="0.75" fill="white"/>
    </svg>
  </button>
</template>

<script>
import HamburgerIcon from '@vue-storefront/core/compatibility/components/blocks/Header/HamburgerIcon'

export default {
  mixins: [HamburgerIcon]
}
</script>
