<template>
  <div class="slider-row">
    <cms-block :identifier="'header_promotional_bar'" />
  </div>
</template>

<script>
import CmsBlock from 'theme/components/core/blocks/Cms/Block'

export default {
  data () {
    return {
      slideIndex: 1
    }
  },
  components: {
    CmsBlock
  },
  name: 'HeaderSlider',
  mounted () {
    this.$nextTick(() => {
      this.showSlides(this.slideIndex);
      setInterval(() => {
        this.showSlides(this.slideIndex);
        this.slideIndex++;
      }, 3500);
    });
  },
  methods: {
    showSlides (n) {
      var i;
      var slides = document.getElementsByClassName('slides-col');
      if (slides && slides.length > 0) {
        if (n > slides.length) {
          this.slideIndex = 1
        }
        if (n < 1) {
          this.slideIndex = slides.length
        }
        for (i = 0; i < slides.length; i++) {
          slides[i].style.opacity = '0';
        }
        slides[this.slideIndex - 1].style.opacity = '1';
      }
    }
  }

}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$white: color(white);
$green-36B289: #36B289;

.slider-row .cms-content {
  background: $green-36B289;
  min-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  margin: 0 -24px 20px -24px;
  flex-wrap: wrap;
  z-index: 1;
  overflow: hidden;
  *{
    font-size: 14px;
    font-weight: 400;
  }
  ::selection {
    color: $white;
    background: $black;
  }
  @media (max-width: 991px) {
    margin-bottom: 10px;
  }
  @media (max-width:767px) {
    margin: 0 0px 10px 0px;
  }
  @media (max-width:700px) {
    min-height:48px;
  }
  .slides-col{
    color: $white;
    text-align: center;
    background: $green-36B289;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    transition: 1s;
    padding: 0 10px;
    overflow: hidden;
    opacity: 0;
    @media (max-width:700px) {
      line-height: 14px;
      font-size: 13px;
    }
  }
  .slides-col[style="opacity: 1;"] {
    z-index: 1;
  }
}
</style>
