<template>
  <div class="header" :class="{'homeheader' : isHomePage || isProductPage || isProductListPage }">
    <header
      class="fixed w-100"
      :class="{ 'is-visible': navVisible, 'header-checkout': isCheckoutPage}"
    >
      <HeaderPromotional v-if="isHomePage || isProductPage || isProductListPage" />
      <div class="container-fluid">
        <div class="header-wrap header-desktop" v-if="!isCheckoutPage || isThankYouPage">
          <div class="header-right">
            <div class="header-left">
              <logo class="block" width="auto" height="auto" />
            </div>
            <div class="header-right-top">
              <div class="icon-wrap">
                <search-icon class="icon pointer" :label="true" />
              </div>
              <div class="icon-wrap">
                <account-icon class="icon pointer" :label="true" />
              </div>
              <div class="icon-wrap">
                <wishlist-icon class="icon pointer" :label="true" />
              </div>
              <div class="icon-wrap">
                <microcart-icon class="icon pointer" :label="true" />
              </div>
            </div>
          </div>
          <div class="header-right-bottom">
            <category-menu />
          </div>
        </div>
        <div class="header-wrap header-mobile" v-if="!isCheckoutPage || isThankYouPage">
          <div class="left-header">
            <hamburger-icon class="icon pointer" />
            <search-icon class="icon pointer" />
          </div>
          <div class="logo-wrap">
            <logo class="block" width="auto" height="auto" />
          </div>
          <div class="right-header">
            <wishlist-icon class="icon pointer" />
            <microcart-icon class="icon pointer" />
          </div>
        </div>
        <!-- <div class="row between-xs middle-xs" v-if="!isCheckoutPage || isThankYouPage">
          <div class="col-md-4 col-xs-2 middle-xs">
            <div>
              <hamburger-icon class="icon pointer" />
            </div>
          </div>
          <div class="col-xs-2 visible-xs">
            <search-icon class="icon pointer" />
          </div>
          <div class="col-md-4 col-xs-4 flex center-xs middle-xs">
            <logo width="auto" height="auto" />
          </div>
          <div class="col-xs-2 visible-xs">
            <wishlist-icon class="icon pointer" />
          </div>
          <div class="col-md-4 col-xs-2 end-xs">
            <div class="inline-flex right-icons">
              <search-icon class="icon hidden-xs pointer" />
              <wishlist-icon class="icon hidden-xs pointer" />
              <microcart-icon class="icon pointer" />
              <account-icon class="icon hidden-xs pointer" />
            </div>
          </div>
        </div> -->
        <div class="row between-xs middle-xs py2 header-minimal-desktop" v-if="isCheckoutPage && !isThankYouPage">
          <div class="col-xs-5 col-md-3 middle-xs">
            <div>
              <router-link
                :to="localizedRoute('/')"
                class="cl-white f-s-16 links"
              >
                <svg class="mr9 mt2" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15 8H1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M8 15L1 8L8 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                {{ $t('Return to shopping') }}
              </router-link>
            </div>
          </div>
          <div class="col-xs-2 col-md-6 center-xs flex middle-xs header-minimal-logo">
            <logo width="auto" height="auto" />
          </div>
          <div class="col-xs-5 col-md-3 end-xs">
            <div>
              <a
                v-if="!currentUser"
                href="#"
                @click.prevent="gotoAccount"
                class="cl-white f-s-16 links"
              >
                <svg class="mr9" width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 6C17 6.98891 16.7068 7.9556 16.1573 8.77785C15.6079 9.60009 14.827 10.241 13.9134 10.6194C12.9998 10.9978 11.9945 11.0969 11.0246 10.9039C10.0546 10.711 9.16373 10.2348 8.46447 9.53553C7.76521 8.83627 7.289 7.94536 7.09608 6.97545C6.90315 6.00555 7.00217 5.00021 7.3806 4.08658C7.75904 3.17295 8.39991 2.39206 9.22215 1.84265C10.0444 1.29324 11.0111 1 12 1C13.3261 1 14.5979 1.52678 15.5355 2.46447C16.4732 3.40215 17 4.67392 17 6Z" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M23 23V22C23 18.6863 20.3137 16 17 16H7C3.68629 16 1 18.6863 1 22V23" stroke="white" />
                </svg>
                {{ $t('Login/SignUp') }}
              </a>
              <span class="cl-white f-s-16" v-else>
                <svg class="mr9" width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M17 6C17 6.98891 16.7068 7.9556 16.1573 8.77785C15.6079 9.60009 14.827 10.241 13.9134 10.6194C12.9998 10.9978 11.9945 11.0969 11.0246 10.9039C10.0546 10.711 9.16373 10.2348 8.46447 9.53553C7.76521 8.83627 7.289 7.94536 7.09608 6.97545C6.90315 6.00555 7.00217 5.00021 7.3806 4.08658C7.75904 3.17295 8.39991 2.39206 9.22215 1.84265C10.0444 1.29324 11.0111 1 12 1C13.3261 1 14.5979 1.52678 15.5355 2.46447C16.4732 3.40215 17 4.67392 17 6Z" stroke="#FFFFFF" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M23 23V22C23 18.6863 20.3137 16 17 16H7C3.68629 16 1 18.6863 1 22V23" stroke="white" />
                </svg>
                {{ $t('You are logged in as '+currentUser.firstname+ " "+currentUser.lastname) }}
              </span>
            </div>
          </div>
        </div>

        <div class="row between-xs middle-xs py7 header-minimal-mobile" v-if="isCheckoutPage && !isThankYouPage">
          <div class="col-xs-4 col-md-3 middle-xs">
            <div>
              <router-link
                :to="localizedRoute('/')"
                class="cl-white links"
              >
                <svg class="mr7 mt4" width="15" height="12" viewBox="0 0 15 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14 6H0" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M5 11L0 6L5 1" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                {{ $t('Back') }}
              </router-link>
            </div>
          </div>
          <div class="col-xs-4 col-md-6 center-xs logo-minimal p0 mt4">
            <logo width="auto" height="auto" />
          </div>
          <div class="col-xs-4 col-md-3 end-xs">
            <div>
              <a
                v-if="!currentUser"
                href="#"
                @click.prevent="gotoAccount"
                class="cl-white links"
              >
                <svg class="mr7 mt2" width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.182 4.18182C11.182 4.81112 10.9954 5.42629 10.6458 5.94954C10.2961 6.47279 9.79921 6.88061 9.21781 7.12143C8.63641 7.36226 7.99665 7.42527 7.37944 7.3025C6.76222 7.17973 6.19528 6.87669 5.75029 6.4317C5.30531 5.98672 5.00227 5.41977 4.8795 4.80256C4.75673 4.18535 4.81974 3.54559 5.06056 2.96419C5.30139 2.38279 5.70921 1.88586 6.23246 1.53623C6.7557 1.18661 7.37087 1 8.00018 1C8.84405 1 9.65336 1.33523 10.2501 1.93193C10.8468 2.52864 11.182 3.33795 11.182 4.18182Z" stroke="#FCFCFC" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M15 14.9995V14.9995C15 12.5393 13.0056 10.5449 10.5455 10.5449H5.45454C2.99437 10.5449 1 12.5393 1 14.9995V14.9995" stroke="white" />
                </svg>
                {{ $t('Login') }}
              </a>
              <span class="cl-white links" v-else>
                <svg class="mr7 mt2" width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.182 4.18182C11.182 4.81112 10.9954 5.42629 10.6458 5.94954C10.2961 6.47279 9.79921 6.88061 9.21781 7.12143C8.63641 7.36226 7.99665 7.42527 7.37944 7.3025C6.76222 7.17973 6.19528 6.87669 5.75029 6.4317C5.30531 5.98672 5.00227 5.41977 4.8795 4.80256C4.75673 4.18535 4.81974 3.54559 5.06056 2.96419C5.30139 2.38279 5.70921 1.88586 6.23246 1.53623C6.7557 1.18661 7.37087 1 8.00018 1C8.84405 1 9.65336 1.33523 10.2501 1.93193C10.8468 2.52864 11.182 3.33795 11.182 4.18182Z" stroke="#FCFCFC" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M15 14.9995V14.9995C15 12.5393 13.0056 10.5449 10.5455 10.5449H5.45454C2.99437 10.5449 1 12.5393 1 14.9995V14.9995" stroke="white" />
                </svg>
                {{ currentUser.firstname }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="header-placeholder" :class="{'header-checkout-placeholder': isCheckoutPage}" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CurrentPage from 'theme/mixins/currentPage'
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
import HeaderPromotional from 'theme/components/core/blocks/Header/HeaderPromotional'
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
import Logo from 'theme/components/core/Logo'
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon'
import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon'
import CategoryMenu from 'theme/components/core/blocks/Header/CategoryMenu'

export default {
  name: 'Header',
  components: {
    AccountIcon,
    HamburgerIcon,
    HeaderPromotional,
    Logo,
    MicrocartIcon,
    SearchIcon,
    WishlistIcon,
    CategoryMenu
  },
  mixins: [CurrentPage],
  data () {
    return {
      navVisible: true,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 54
    }
  },
  computed: {
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current
    }),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    }
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true
      },
      { passive: true }
    )

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled()
        this.isScrolling = false
      }
    }, 250)
  },
  methods: {
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    hasScrolled () {
      this.scrollTop = window.scrollY
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navVisible = false
      } else {
        this.navVisible = true
      }
      this.lastScrollTop = this.scrollTop
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$white: color(white);

header {
  height: 141px;
  top: -142px;
  z-index: 3;
  background-color: $black;
  color: $white;
  padding: 20px 24px;
  transition: top 0.2s ease-in-out;
  @media (max-width: 1199px) {
    top: -115px;
  }

  @media (max-width: 991px) {
    height: 60px;
    top: -61px;
    padding: 10px 9px;
  }

  @media (max-width: 767px) {
    padding: 10px 0;
  }

  &.is-visible {
    top:0px;
  }
}
.homeheader{
    top: -171px;
    @media (max-width: 991px) {
       top: -90px;
    }
    @media (max-width:700px) {
       top: -110px;
    }
    header{
      padding-top: 0;
      height: 171px;
      top: -171px;
      @media (max-width: 991px) {
        height: 90px;
        top: -90px
      }
      @media (max-width:700px) {
        height:110px;
        top: -110px
      }
      &.is-visible{
        top:0;
      }
    }
    .header-placeholder{
      height: 171px;
      @media (max-width: 991px) {
        height:90px;
      }
      @media (max-width:700px) {
        height:110px;
      }
    }
}

.header-placeholder {
  height: 141px;
  @media (max-width: 991px) {
    height: 60px;
  }
}

.header-wrap {
  font-size: 16px;

  @media (max-width: 1199px) {
    font-size: 14px;
  }

  &.header-desktop {
    @media (max-width: 991px) {
      display: none;
    }
  }

  &.header-mobile {
    display: none;

    @media (max-width: 991px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media (max-width: 767px) {
      margin-top: 0;
    }

    .logo-wrap {
      line-height: 0;

      @media (max-width: 991px) {
        flex: 0 0 140px;
        max-width: 140px;
      }

      img {
        display: block;
      }
    }

    .right-header,
    .left-header {
      display: flex;
      align-items: center;

      .icon {
        margin: 0;
        padding: 0;

        & + .icon {
          margin-left: 20px;
        }
      }
    }
  }

  .header-left {
    flex: 0 0 250px;
    max-width: 250px;
    line-height: 0;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -8px -7px;
    @media (max-width: 991px) {
      flex: 0 0 11.4%;
      max-width: 11.4%;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-top: -5px;
    justify-content: space-between;
    .header-right-top {
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      .icon-wrap {
        & + .icon-wrap {
          padding-left: 40px;

          @media (max-width: 1199px) {
            padding-left: 15px;
          }
        }
      }
    }
  }
}
.header-minimal-desktop {
  svg {
    vertical-align: top;
  }
}
.header-minimal-mobile {
  display: none;
}
.header-right-bottom {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
@media (max-width: 991px) {
  .header-minimal-desktop {
    display: none;
  }
  .header-minimal-mobile {
    display: flex;
    margin-top: -9px;
    svg {
      vertical-align: top;
    }
    .logo-minimal {
      max-width: 124px;
      a {
        max-height: 124px;
        max-width: 100%;
      }
    }
  }
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);

.header-wrap {
  &.header-desktop {
    padding-left: 15%;
    .logo-link {
      img {
        width: 250px;
      }
    }
    @media (max-width: 1600px) {
      padding-left: 0;
    }
  }
  button {
    font-size: 16px;
    display: flex;
    align-items: center;

    @media (max-width: 1199px) {
      font-size: 14px;
    }

    &:hover,
    &:focus {
      background-color: transparent !important;
    }

    & > svg {
      margin-right: 12px;

      @media (max-width: 991px) {
        margin-right: 0;
      }

      path {
        transition: all 0.5s ease 0s;
      }
    }

    &:hover {
      svg {
        path {
          fill: $color-secondary;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .logo-wrap {
    svg {
      width: 56px;
      height: 40px;
    }
  }
  .header-minimal-mobile {
    .logo-minimal {
      svg {
        height: 37px;
        width: 100%;
      }
    }
  }
}
header.header-checkout, .header-placeholder.header-checkout-placeholder {
  height: 110px;
  @media (max-width: 991px) {
    height: 61px;
  }
}
</style>
