<template>
  <button
    type="button"
    class="relative bg-cl-transparent brdr-none p0"
    @click="openMicrocart"
    data-testid="openMicrocart"
    :aria-label="$t('Open microcart')"
  >
    <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0.75C1.08579 0.75 0.75 1.08579 0.75 1.5C0.75 1.91421 1.08579 2.25 1.5 2.25H7.5C7.91421 2.25 8.25 1.91421 8.25 1.5C8.25 1.08579 7.91421 0.75 7.5 0.75H1.5ZM5.39307 21C5.39307 20.3096 5.95271 19.75 6.64307 19.75C7.33342 19.75 7.89307 20.3096 7.89307 21C7.89307 21.6904 7.33342 22.25 6.64307 22.25C5.95271 22.25 5.39307 21.6904 5.39307 21ZM6.64307 18.25C5.12428 18.25 3.89307 19.4812 3.89307 21C3.89307 22.5188 5.12428 23.75 6.64307 23.75C8.16185 23.75 9.39307 22.5188 9.39307 21C9.39307 19.4812 8.16185 18.25 6.64307 18.25ZM14.1929 21C14.1929 20.3096 14.7525 19.75 15.4429 19.75C16.1332 19.75 16.6929 20.3096 16.6929 21C16.6929 21.6904 16.1332 22.25 15.4429 22.25C14.7525 22.25 14.1929 21.6904 14.1929 21ZM15.4429 18.25C13.9241 18.25 12.6929 19.4812 12.6929 21C12.6929 22.5188 13.9241 23.75 15.4429 23.75C16.9617 23.75 18.1929 22.5188 18.1929 21C18.1929 19.4812 16.9617 18.25 15.4429 18.25ZM3.70998 6.5H22.2639C22.6356 6.5 22.8774 6.89116 22.7111 7.22361L18.7111 15.2236C18.6264 15.393 18.4533 15.5 18.2639 15.5H4.50997C4.2531 15.5 4.03802 15.3054 4.01246 15.0498L3.21246 7.04975C3.18302 6.75541 3.41417 6.5 3.70998 6.5ZM1.7199 7.19901C1.60216 6.02164 2.52673 5 3.70998 5H22.2639C23.7507 5 24.7177 6.56463 24.0528 7.89443L20.0528 15.8944C19.714 16.572 19.0215 17 18.2639 17H4.50997C3.48247 17 2.62214 16.2214 2.5199 15.199L1.7199 7.19901Z" fill="white"/>
    </svg>
    <span
      class="minicart-count absolute flex center-xs middle-xs border-box py0 px2 h6 lh16 weight-700 cl-white bg-cl-silver"
      v-cloak
      v-show="totalQuantity"
      data-testid="minicartCount"
    >
      {{ totalQuantity }}
    </span>
    <span v-if="label">Cart</span>
  </button>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import MicrocartIcon from '@vue-storefront/core/compatibility/components/blocks/Header/MicrocartIcon'
import { syncCartWhenLocalStorageChange } from '@vue-storefront/core/modules/cart/helpers'

export default {
  props: {
    label: {
      type: Boolean,
      default: false
    }
  },
  mounted () {
    syncCartWhenLocalStorageChange.addEventListener()
    this.$once('hook:beforeDestroy', () => {
      syncCartWhenLocalStorageChange.removeEventListener()
    })
  },
  computed: {
    ...mapGetters({
      totalQuantity: 'cart/getItemsTotalQuantity'
    })
  },
  methods: {
    ...mapActions({
      openMicrocart: 'ui/toggleMicrocart'
    })
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$red-F22424: color(red-F22424);
  span.minicart-count {
    min-width: 16px;
    min-height: 16px;
    border-radius: 10px;
    position: absolute;
    top: -7px;
    background-color: #F22424;
    left: 15px;
    font-size: 12px;
    text-align: center;
    @media only screen and (max-width: 991px) { 
      left: auto;
      right: -6px;
    }
  }
</style>
