<template>
  <button
    type="button"
    :aria-label="$t('Open search panel')"
    class="bg-cl-transparent brdr-none p0"
    @click="toggleSearchpanel"
    data-testid="openSearchPanel"
  >
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 24 24" width="24" height="24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
      <g>
        <path class="st0" fill="#FCFCFC" d="M23,23.8c-0.2,0-0.4-0.1-0.5-0.2l-4.8-4.8c-1.8,1.6-4.3,2.6-6.9,2.6C5,21.3,0.2,16.6,0.2,10.8
          C0.2,5,5,0.3,10.8,0.3c5.8,0,10.5,4.7,10.5,10.5c0,2.6-1,5-2.6,6.9l4.8,4.8c0.3,0.3,0.3,0.8,0,1.1C23.4,23.7,23.2,23.8,23,23.8z
          M10.8,1.8c-5,0-9,4.1-9,9c0,5,4.1,9,9,9c2.4,0,4.7-1,6.3-2.6c0,0,0-0.1,0.1-0.1s0.1-0.1,0.1-0.1c1.6-1.6,2.6-3.9,2.6-6.3
          C19.8,5.8,15.8,1.8,10.8,1.8z"/>
      </g>
    </svg>
    <span v-if="label">Search</span>
  </button>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon'

export default {
  mixins: [SearchIcon],
  props: {
    label: {
      type: Boolean,
      default: false
    }
  }
}
</script>
