<template>
  <div>
    <h3 class="f-s-32 mb20 summary-title">
      {{ $t('Order Summary') }}
    </h3>
    <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
    <div v-if="productsInCart && productsInCart.length" class="checkout  pt50">
      <div v-for="(segment, index) in totals" :key="index" class="row pt20" v-if="segment.code !== 'grand_total'">
        <div class="col-xs cl-accent">
          {{ segment.title }}
        </div>
        <div v-if="segment.value != null" class="col-xs align-right cl-accent">
          {{ segment.value | price(storeView) }}
        </div>
      </div>

      <div class="row grand-total pt20 pb20 mb100 weight-700 middle-xs" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
        <div class="col-xs total-price-label p0">
          {{ segment.title }}
        </div>
        <div class="col-xs p0 f-s-24 align-right total-price-value">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CartSummary } from '@vue-storefront/core/modules/checkout/components/CartSummary'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import Product from './Product'

export default {
  components: {
    Product
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  mixins: [CartSummary]
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $bg-secondary: color(secondary, $colors-background);
  $color-tertiary: color(tertiary);
  $color-secondary: color(secondary);
  $color-error: color(error);
  $color-white: color(white);
  $color-black: color(black);
  $white-smoke: color(white-smoke);
  $gray-666666: color(gray-666666);
  $gray-E3E3E3: color(gray-E3E3E3);
   .checkout {
    .row{line-height: 20px;color: $gray-666666;font-size: 16px;}
    .grand-total{
      border-top: 1px solid $gray-E3E3E3;
      border-bottom: 1px solid $gray-E3E3E3;
      color: $color-black;
      font-weight: normal;
      font-size: 18px;
      margin:15px 0 100px 0;
    }
  }
  #checkout {
  .summary-title {
     color:$color-black;
      @media (max-width: 767px) {
        margin-left: 0;
      }
    }
  }
</style>
