<template>
  <div class="order-review" :class="{ 'active' : isActive || isFilled }">
    <div class="row">
      <div class="col-xs-1 col-sm-1 col-md-1">
        <div
          class="number-circle lh35 cl-white brdr-circle align-center weight-700"
          :class="{ 'bg-cl-th-accent' : isActive || isFilled, 'bg-cl-tertiary' : !isFilled && !isActive }"
        >
          {{ (isVirtualCart ? 3 : 4) }}
        </div>
      </div>
      <div class="col-xs-11 col-sm-11 col-md-11">
        <div class="row">
          <div class="col-md-12" :class="{ 'cl-bg-tertiary' : !isFilled && !isActive }">
            <h3 class="m0">
              {{ $t('Review order') }}
            </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-show="isActive">
      <div class="col-xs-1 col-sm-1 col-md-1" />
      <div class="col-xs-11 col-sm-11 col-md-11">
        <div id="checkout-order-review-additional-container">
          <div id="checkout-order-review-additional">
            &nbsp;
          </div>
        </div>
        <div class="row mb15">
          <div class="col-xs-12">
            <p class="h4">
              {{ $t('Please check if all data are correct') }}
            </p>
            <div class="row">
              <div class="cartsummary-wrapper">
                <cart-summary />
              </div>
              <base-checkbox
                class="col-xs-11 col-sm-12 col-md-8 mb10"
                id="excludeNewsletterCheckbox"
                :value="false"
              >
                {{ $t('Please tick this box if you') }} <strong>{{ $t('do not') }}</strong> {{ $t('want to hear from us about new arrivals and latest offers.') }}
                <p>
                  {{ $t('Find out what you\'d miss from us') }}
                  <tooltip>{{ $t('We\'ll send you updates on new arrivals, offers and promotions. If you change your mind, simply follow the unsubscribe link in our emails.') }}</tooltip>
                </p>
              </base-checkbox>
              <base-checkbox
                class="col-xs-11 col-sm-12 col-md-12 mb10"
                id="acceptTermsCheckbox"
                @blur="$v.orderReview.terms.$touch()"
                v-model="orderReview.terms"
                :validations="[{
                  condition: !$v.orderReview.terms.sameAs && $v.orderReview.terms.$error,
                  text: $t('Field is required')
                }]"
              >
                {{ $t('I agree to') }}
                <a class="link pointer cl-gray" href="/terms-conditions" target="_blank">
                  {{ $t('Terms and conditions') }}
                </a>
                {{ $t('and') }}
                <a class="link pointer cl-gray" href="https://www.iubenda.com/privacy-policy/69683679" target="_blank">
                  {{ $t('Privacy Policy') }}
                </a>
                *
              </base-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" v-show="isActive">
      <div class="hidden-xs col-sm-1 col-md-1" />
      <div class="col-xs-12 col-sm-11 col-md-11 row-padding">
        <div class="row">
          <div class="col-xs-12 col-md-8 col-xs">
            <payment-stripe v-if="payment.paymentMethod === 'stripe_payments'" />
            <slot name="placeOrderButton">
              <div :style="overlayPaymentMethod" v-if="payment.paymentMethod === 'paypal_express'">
                <paypal-button v-if="payment.paymentMethod === 'paypal_express'" @placeOrderByPaypal="placeOrder" />
              </div>
              <!-- <div :style="overlayPaymentMethod" v-else-if="payment.paymentMethod === 'klarna_kp'">
                <klarna-checkout />
              </div> -->
              <button-full
                @click.native="subscribeNewsletter(), placeOrder()"
                v-else
                data-testid="orderReviewSubmit"
                class="place-order-btn"
                :disabled="$v.orderReview.$invalid"
              >
                {{ $t('Place the order') }}
              </button-full>
            </slot>
            <!-- <klarna-checkout v-if="payment.paymentMethod === 'klarna_kp'" /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { sameAs } from 'vuelidate/lib/validators'
import Composite from '@vue-storefront/core/mixins/composite'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import ButtonFull from 'theme/components/theme/ButtonFull'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import { OrderReview } from '@vue-storefront/core/modules/checkout/components/OrderReview'
import { OrderModule } from '@vue-storefront/core/modules/order'
import { registerModule } from '@vue-storefront/core/lib/modules'
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
import Subscribe from '@vue-storefront/core/modules/newsletter/mixins/Subscribe'
import { PersonalDetails } from '@vue-storefront/core/modules/checkout/components/PersonalDetails'
import { required, email } from 'vuelidate/lib/validators'
import Tooltip from 'theme/components/core/Tooltip'
import PaypalButton from 'src/modules/paypal/components/Button'
import { mapGetters } from 'vuex'
import PaymentStripe from 'src/modules/stripe/components/PaymentStripe'
import KCO from 'src/modules/payment-klarna/components/KlarnaCheckout'

export default {
  data () {
    return {
      email: ''
    }
  },
  components: {
    BaseCheckbox,
    ButtonFull,
    CartSummary,
    Tooltip,
    PaypalButton,
    PaymentStripe,
    'klarna-checkout': KCO
  },
  mixins: [
    OrderReview,
    Composite,
    PersonalDetails,
    SubscriptionStatus,
    Subscribe
  ],
  validations: {
    orderReview: {
      terms: {
        sameAs: sameAs(() => true)
      }
    },
    email: {
      required,
      email
    }
  },
  beforeCreate () {
    registerModule(OrderModule)
  },
  computed: {
    ...mapGetters({
      paymentDetails: 'checkout/getPaymentDetails'
    }),
    payment () {
      return this.$store.state.checkout.paymentDetails
    },
    overlayPaymentMethod () {
      return this.$v.orderReview.$invalid
        ? 'pointer-events:none; opacity: 0.5;'
        : null;
    }
  },
  methods: {
    onSuccess () {
    },
    getPersonalDetail (value) {
      console.log(value);
    },
    subscribeNewsletter () {
      const newsletterCheckbox = document.getElementById('excludeNewsletterCheckbox');
      if (newsletterCheckbox.checked === false) {
        this.email = this.personalDetails.emailAddress;
        this.subscribe();
      }
    },
    onFailure (result) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(result.result),
        action1: { label: this.$t('OK') }
      })
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-white: color(white);
.order-review {
  .modal{
    .modal-container {
      width: 945px !important;
      display: block;
      .modal-content {
        background-color: $color-white;
      }
      .modal-close:hover{
        color:$color-white;
      }
    }
  }
}

.link {
  text-decoration: underline;
}

.cartsummary-wrapper {
  @media (min-width: 767px) {
    display: none;
  }
}
</style>
