<template>
  <div class="row flex summary-row m0 between-xs">
    <div class="blend">
      <product-image :image="image" />
    </div>
    <div class="col-xs pr0">
      <div class="row flex">
        <div class="col-xs-12 col-md-9 pb15">
          <div class="mb15">
            <div class="h4 m0 weight-500 cl-accent serif">
              {{ product.name | htmlDecode }}
            </div>
            <div class="error" v-if="product.errors && Object.keys(product.errors).length > 0">
              {{ product.errors | formatProductMessages }}
            </div>
            <div class="h5 cl-tertiary pt5">
              {{ product.sku }}
            </div>
            <div class="h6 cl-bg-tertiary pt5 options" v-if="product.totals && product.totals.options">
              <div v-for="opt in product.totals.options" :key="opt.label">
                <span class="opn">{{ opt.label }}: </span>
                <span class="opv" v-html="opt.value" />
              </div>
            </div>
            <div class="h6 cl-bg-tertiary pt5 options" v-else-if="product.options">
              <div v-for="opt in product.options" :key="opt.label">
                <span class="opn">{{ opt.label }}: </span>
                <span class="opv" v-html="opt.value" />
              </div>
            </div>
          </div>
          <div>
            <div>
              <span class="h5 cl-secondary">
                {{ $t('Qty') }}
                <span class="weight-700">
                  {{ product.qty }}
                </span>
              </span>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3 pl0 align-right">
          <div v-if="isOnline && product.totals">
            <span class="aller weight-700  f-s-18 cl-secondary" v-if="product.totals.discount_amount">{{ product.totals.row_total - product.totals.discount_amount + product.totals.tax_amount | price(storeView) }} </span>
            <span class="price-original aller block f-s-16" v-if="product.totals.discount_amount">{{ product.totals.row_total_incl_tax | price(storeView) }}</span>
            <span v-if="!product.totals.discount_amount" class="h4 block f-s-18 cl-secondary">{{ product.totals.row_total_incl_tax | price(storeView) }}</span>
          </div>
          <div v-else>
            <span class="h4 cl-error" v-if="product.special_price">{{ product.price_incl_tax * product.qty | price(storeView) }} </span>
            <span class="price-original h5 block" v-if="product.special_price">{{ product.original_price_incl_tax * product.qty | price(storeView) }}</span>
            <span v-if="!product.special_price" class="h4 block">{{ product.price_incl_tax * product.qty | price(storeView) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Product } from '@vue-storefront/core/modules/checkout/components/Product'
import { onlineHelper } from '@vue-storefront/core/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  computed: {
    storeView () {
      return currentStoreView()
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    }
  },
  mixins: [Product],
  components: {
    ProductImage
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $gray-E5E5E5: color(gray-E5E5E5);

.summary-row{align-items: center;border:  solid 1px $gray-E5E5E5; border-radius: 4px; margin-bottom: 10px; padding:15px;
  h4{font-size: 20px; margin: 0;}
  .row{align-items: center;}
}

.price-original {
  text-decoration: line-through;
}
.blend {
  flex: 0 0 121px;
}
</style>
