<template>
  <div class="thank-you">
    <header class="thank-you-title">
      <div class="container-fluid">
        <breadcrumbs
          :with-homepage="true"
          :routes="[]"
          :active-route="this.$t('Order confirmation')"
        />
      </div>
    </header>
    <div class="thank-you-content align-justify pb80">
      <div class="container">
        <div class="thank-you-container">
          <div v-if="OnlineOnly">
            <svg width="86" height="86" viewBox="0 0 86 86" fill="none" xmlns="http://www.w3.org/2000/svg">
              <circle cx="43" cy="43" r="41.5" stroke="#36B289" stroke-width="3" />
              <path fill-rule="evenodd" clip-rule="evenodd" d="M34.5204 53.1002L59.6207 28L62.0705 30.45L34.5204 58L23 46.4795L25.4498 44.0295L34.5204 53.1002Z" fill="#36B289" />
            </svg>
            <h4 class="f-s-40 mb18 mt36 align-center">
              {{ $t('Thank You For Your Order') }}
            </h4>
            <p v-html="this.$t('You have successfully placed the order. You can check the status of your order by using our <b>delivery status</b> feature. You will receive an order confirmation e-mail with details of your order and a link to track its progress.')" />
          </div>
          <div class="order-id">
            {{ $t('Your Order ID : ') }} <span> {{ lastOrderConfirmation.orderNumber }} </span>
          </div>
          <h4 v-if="OfflineOnly">
            {{ $t('You are offline') }}
          </h4>

          <p v-if="OfflineOnly && !isNotificationSupported">
            {{ $t('To finish the order just come back to our store while online. Your order will be sent to the server as soon as you come back here while online and then confirmed regarding the stock quantities of selected items') }}
          </p>
          <p v-if="OfflineOnly && isNotificationSupported && !isPermissionGranted">
            {{ $t("You can allow us to remind you about the order via push notification after coming back online. You'll only need to click on it to confirm.") }}
          </p>
          <p v-if="OfflineOnly && isNotificationSupported && !isPermissionGranted">
            {{ $t(`Or if you will stay on "Order confirmation" page, the order will be placed automatically without confirmation, once the internet connection will be back.`) }}
          </p>
          <p v-if="OfflineOnly && isNotificationSupported && isPermissionGranted">
            <strong>{{ $t('You will receive Push notification after coming back online. You can confirm the order by clicking on it') }}</strong>
          </p>
          <p>
            <button-outline
              class="bg-cl-secondary"
              color="dark"
              @click.native="$router.push('/my-account/orders')"
            >
              {{ $t('view my order history') }}
            </button-outline>
          </p>
          <!-- <div id="thank-you-extensions" /> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Composite from '@vue-storefront/core/mixins/composite'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import VueOfflineMixin from 'vue-offline/mixin'
import { EmailForm } from '@vue-storefront/core/modules/mailer/components/EmailForm'
import { isServer } from '@vue-storefront/core/helpers'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { MailerModule } from '@vue-storefront/core/modules/mailer'
import Breadcrumbs from 'theme/components/core/Breadcrumbs'

export default {
  name: 'ThankYouPage',
  mixins: [Composite, VueOfflineMixin, EmailForm],
  beforeCreate () {
    registerModule(MailerModule)
  },
  data () {
    return {
      feedback: ''
    }
  },
  computed: {
    lastOrderConfirmation () {
      return this.$store.state.order.last_order_confirmation ? this.$store.state.order.last_order_confirmation.confirmation : {}
    },
    isNotificationSupported () {
      if (isServer || !('Notification' in window)) return false
      return 'Notification' in window
    },
    isPermissionGranted () {
      if (isServer || !('Notification' in window)) return false
      return Notification.permission === 'granted'
    },
    checkoutPersonalEmailAddress () {
      return this.$store.state.checkout.personalDetails.emailAddress
    },
    mailerElements () {
      return config.mailer.contactAddress
    }
  },
  methods: {
    requestNotificationPermission () {
      if (isServer) return false
      if ('Notification' in window && Notification.permission !== 'granted') {
        Notification.requestPermission()
      }
    },
    sendFeedback () {
      this.sendEmail(
        {
          sourceAddress: this.checkoutPersonalEmailAddress,
          targetAddress: this.mailerElements,
          subject: this.$t('What we can improve?'),
          emailText: this.feedback
        },
        this.onSuccess,
        this.onFailure
      )
    },
    onSuccess (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message,
        action1: { label: this.$t('OK') }
      })
      if (this.mailerElements.sendConfirmation) {
        this.sendEmail(
          {
            sourceAddress: this.mailerElements,
            targetAddress: this.checkoutPersonalEmailAddress,
            subject: this.$t('Confirmation of receival'),
            emailText: this.$t(`Dear customer,\n\nWe have received your letter.\nThank you for your feedback!`),
            confirmation: true
          }
        )
      }
    },
    onFailure (message) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message,
        action1: { label: this.$t('OK') }
      })
    }
  },
  destroyed () {
    this.$store.dispatch('checkout/setThankYouPage', false)
  },
  components: {
    ButtonOutline,
    Breadcrumbs
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$gray-666666: color(gray-666666);
$gray-404040: color(gray-404040);
$gray-C4C4C4: color(gray-C4C4C4);
$black: color(black);
.thank-you-content {
  padding-top: 120px;
}
.thank-you-improvment {
  padding: 0 20px 15px;

  @media (min-width: 64em) {
    padding: 0 40px 10px;
  }

  textarea {
    min-height: 100px;
  }
}
.thank-you {
  .thank-you-container {
    max-width: 1000px;
    margin: auto;
    button {
      padding: 16px 40px 15px 40px;
      line-height: 20px;
      border: 0;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: bold;
      height: 50px;
      margin-top: 30px;
      min-width: auto;
    }
  }
  h4 {
    color: $color-secondary;
    line-height: 40px;
  }
  p {
    text-align: center;
    color: $gray-666666;
    line-height: 130%;
    font-size: 24px;
  }
  svg {
    margin: auto;
    display: block;
  }
  .order-id {
    font-size: 24px;
    border: 1px dashed $gray-C4C4C4;
    line-height: 78px;
    padding: 0 34px;
    font-weight: bold;
    display: table;
    margin: 40px auto 30px;
    color: $gray-404040;
    span {
      color: $black;
    }
  }
  @media (max-width: 991px) {
    .thank-you-content {
      padding: 40px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      height: 100%;
      min-height: calc(100vh - 110px);
    }
    svg {
      width: 50px;
      height: 50px;
    }
    h4 {
      font-size: 30px;
      margin: 20px 0 8px;
    }
    p {
      font-size: 14px;
      line-height: 120%;
    }
    .order-id {
      font-size: 16px;
      padding: 19px 30px;
      line-height: 120%;
    }
  }
}

</style>
