<template>
  <div id="category">
    <header class="category-top pb20">
      <div class="container-fluid">
        <breadcrumbs class="pt40 px24" />
      </div>
      <div class="container-fluid">
        <div class="middle-sm ">
          <div class="sorting px24 pt10 align-right">
            {{ $t('Sort By') }}
            <sort-by
              :has-label="true"
              class="form-control"
              @change="changeFilter"
              :value="getCurrentSearchQuery.sort"
            />
          </div>
        </div>
      </div>
      <div class="row m0">
        <button
          class="col-xs-6 mobile-filters-button bg-cl-th-accent brdr-none cl-white"
          @click="openFilters"
        >
          {{ $t('Filters') }}
        </button>
        <div class="mobile-sorting col-xs-6 p0">
          <sort-by
            @change="changeFilter"
            :value="getCurrentSearchQuery.sort"
          />
        </div>
      </div>
    </header>
    <div class="container-fluid pb60 px40">
      <div class="m0 flex ">
        <div class="start-xs category-filters">
          <sidebar
            :filters="getAvailableFilters"
            @changeFilter="changeFilter"
            :acc-type="'desktop'"
          />
        </div>
        <div class="start-xs mobile-filters fcontent-1" :class="{'active' : mobileFilters}">
          <div class="mobile-filters-box">
            <div class="close-container absolute w-100">
              <i
                class="material-icons p15 close cl-accent"
                @click="closeFilters"
              >close</i>
            </div>
            <sidebar
              class="mobile-filters-body"
              :filters="getAvailableFilters"
              @changeFilter="changeFilter"
              :acc-type="'mobile'"
            />
            <div class="relative pb20 pt15">
              <div class="brdr-top-1 brdr-cl-gray-EAEAEC absolute divider w-100" />
            </div>
            <button-full class="mb20 btn__filter" @click.native="closeFilters">
              {{ $t('Filter') }}
            </button-full>
          </div>
        </div>
        <div class="border-box products-list">
          <div v-if="isCategoryEmpty" class="mb30">
            <h4 data-testid="noProductsInfo">
              {{ $t('No products found!') }}
            </h4>
            <p>
              {{
                $t(
                  'Please change Your search criteria and try again. If still not finding anything relevant, please visit the Home page and try out some of our bestsellers!'
                )
              }}
            </p>
          </div>
          <lazy-hydrate
            :trigger-hydration="!loading"
            v-if="isLazyHydrateEnabled"
          >
            <product-listing
              :columns="defaultColumn"
              :products="getCategoryProducts"
            />
          </lazy-hydrate>
          <product-listing
            v-else
            :columns="defaultColumn"
            :products="getCategoryProducts"
          />
          <div class="category-description" v-if="getCurrentCategory.description" v-html="getCurrentCategory.description" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LazyHydrate from 'vue-lazy-hydration';
import Sidebar from '../components/core/blocks/Category/Sidebar.vue';
import ProductListing from '../components/core/ProductListing.vue';
import Breadcrumbs from '../components/core/Breadcrumbs.vue';
import SortBy from '../components/core/SortBy.vue';
import { isServer } from '@vue-storefront/core/helpers';
import { Logger } from '@vue-storefront/core/lib/logger';
import { getSearchOptionsFromRouteParams } from '@vue-storefront/core/modules/catalog-next/helpers/categoryHelpers';
import config from 'config';
import ButtonFull from 'theme/components/theme/ButtonFull.vue';
import { mapGetters } from 'vuex';
import onBottomScroll from '@vue-storefront/core/mixins/onBottomScroll';
import rootStore from '@vue-storefront/core/store';
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks';
import {
  localizedRoute,
  currentStoreView
} from '@vue-storefront/core/lib/multistore';
import { htmlDecode } from '@vue-storefront/core/filters';

const THEME_PAGE_SIZE = 50;

const composeInitialPageState = async (store, route, forceLoad = false) => {
  try {
    const filters = getSearchOptionsFromRouteParams(route.params);
    const cachedCategory = store.getters['category-next/getCategoryFrom'](
      route.path
    );
    const currentCategory =
      cachedCategory && !forceLoad
        ? cachedCategory
        : await store.dispatch('category-next/loadCategory', { filters });
    const pageSize = store.getters['url/isBackRoute']
      ? store.getters['url/getCurrentRoute'].categoryPageSize
      : THEME_PAGE_SIZE;
    await store.dispatch('category-next/loadCategoryProducts', {
      route,
      category: currentCategory,
      pageSize
    });
    const breadCrumbsLoader = store.dispatch(
      'category-next/loadCategoryBreadcrumbs',
      {
        category: currentCategory,
        currentRouteName: currentCategory.name,
        omitCurrent: true
      }
    );

    if (isServer) await breadCrumbsLoader;
    catalogHooksExecutors.categoryPageVisited(currentCategory);
  } catch (e) {
    Logger.error(
      'Problem with setting Category initial data!',
      'category',
      e
    )();
  }
};

export default {
  components: {
    LazyHydrate,
    ButtonFull,
    ProductListing,
    Breadcrumbs,
    Sidebar,
    SortBy
  },
  mixins: [onBottomScroll],
  data () {
    return {
      mobileFilters: false,
      defaultColumn: 4,
      loadingProducts: false,
      loading: true,
      activeAcordian: null
    };
  },
  computed: {
    ...mapGetters({
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery',
      getCategoryProducts: 'category-next/getCategoryProducts',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCategoryProductsTotal: 'category-next/getCategoryProductsTotal',
      getAvailableFilters: 'category-next/getAvailableFilters'
    }),
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.includes('category-next.products');
    },
    isCategoryEmpty () {
      return this.getCategoryProductsTotal === 0;
    }
  },
  async asyncData ({ store, route, context }) {
    // this is for SSR purposes to prefetch data - and it's always executed before parent component methods
    if (context) context.output.cacheTags.add('category');
    await composeInitialPageState(store, route);
  },
  async beforeRouteEnter (to, from, next) {
    if (isServer) next();
    // SSR no need to invoke SW caching here
    else if (!from.name) {
      // SSR but client side invocation, we need to cache products and invoke requests from asyncData for offline support
      next(async (vm) => {
        vm.loading = true;
        await composeInitialPageState(vm.$store, to, true);
        await vm.$store.dispatch('category-next/cacheProducts', { route: to }); // await here is because we must wait for the hydration
        vm.loading = false;
      });
    } else {
      // Pure CSR, with no initial category state
      next(async (vm) => {
        vm.loading = true;
        vm.$store.dispatch('category-next/cacheProducts', { route: to });
        vm.loading = false;
      });
    }
  },
  methods: {
    openAccordian (digit) {
      if (this.activeAcordian !== null && this.activeAcordian !== digit) {
        document
          .getElementsByClassName(`fcontent-${this.activeAcordian}`)[0]
          .classList.remove('active');
      }
      this.activeAcordian = this.activeAcordian === digit ? null : digit;
      document
        .getElementsByClassName(`fcontent-${digit}`)[0]
        .classList.toggle('active');
    },
    openFilters () {
      this.mobileFilters = true;
    },
    closeFilters () {
      this.mobileFilters = false;
    },
    async changeFilter (filterVariant) {
      this.$store.dispatch('category-next/switchSearchFilters', [
        filterVariant
      ]);
    },
    columnChange (column) {
      this.defaultColumn = column;
    },
    async onBottomScroll () {
      if (this.loadingProducts) return;
      this.loadingProducts = true;
      try {
        await this.$store.dispatch('category-next/loadMoreCategoryProducts');
      } catch (e) {
        Logger.error('Problem with fetching more products', 'category', e)();
      } finally {
        this.loadingProducts = false;
      }
    }
  },
  metaInfo () {
    const storeView = currentStoreView();
    const {
      meta_title,
      meta_description,
      name,
      slug
    } = this.getCurrentCategory;
    const meta = meta_description
      ? [
        {
          vmid: 'description',
          name: 'description',
          content: htmlDecode(meta_description)
        }
      ]
      : [];
    /* const categoryLocaliedLink = localizedRoute({
      name: 'category-amp',
      params: { slug }
    }, storeView.storeCode)
    const ampCategoryLink = this.$router.resolve(categoryLocaliedLink).href */

    return {
      // link: [ { rel: 'amphtml', href: ampCategoryLink } ],
      title: htmlDecode(meta_title || name),
      meta
    };
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$white-smoke: color(white-smoke);
$gray-E5E5E5: color(gray-E5E5E5);
$gray-EAEAEC: color(gray-EAEAEC);
$gray-2d242d: color(gray-2d242d);
$gray-D8D8D8: color(gray-D8D8D8);

.btn {
  &__filter {
    min-width: 100px;
  }
}
.divider {
  width: calc(100vw - 8px);
  bottom: 20px;
  left: -36px;
}
.category-filters {
  .sidebar {
    border: 1px solid $gray-E5E5E5;
    background: $white;
    padding: 20px;
  }
}
.mobile-filters {
  display: none;
  overflow: auto;
}

.mobile-filters-button {
  display: none;
}

.mobile-sorting {
  display: none;
}

.category-title {
  line-height: 65px;
}

.sorting {
  label {
    margin-right: 10px;
  }
}
@media (max-width: 64em) {
  .products-list {
    max-width: 530px;
  }
}

@media (max-width: 767px) {
  .category-title {
    margin: 0;
    font-size: 36px;
    line-height: 40px;
  }

  .products-list {
    width: 100%;
    max-width: none;
  }

  .mobile-filters {
    display: block;
  }

  .mobile-filters-button {
    display: block;
    height: 45px;
  }

  .sorting {
    display: none;
  }

  .mobile-sorting {
    display: block;
  }

  .category-filters {
    display: none;
  }

  .product-listing {
    justify-content: center;
  }

  .mobile-filters {
    position: fixed;
    z-index: 5;
    padding: 0 0px;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    top: 0;
    box-sizing: border-box;
    .mobile-filters-box {
      -webkit-transition: all, 0.5s;
      -o-transition: all, 0.5s;
      transition: all, 0.5s;
      right: -364px;
      background: $white;
      padding: 20px;
      width: 364px;
      position: fixed;
      top: 0;
      height: 100%;
      overflow: auto;
      .no-outline {
        margin-bottom: 20px;
      }
      .divider {
        width: 100%;
        left: 0;
      }
      .close-container {
        position: absolute;
        left: 0;
        top: 0;
        cursor: pointer;
      }
    }
  }

  .mobile-filters-body {
    padding-top: 50px;
  }
}

.close-container {
  left: 0;
}

.close {
  margin-left: auto;
}
.category-description {
  font-size: 14px;
  color: #888888;
  line-height: 20px;
  @media (max-width: 767px) {
    padding-bottom: 30px;
  }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$white: color(white);
$black: color(black);
$white-smoke: color(white-smoke);
$gray-E5E5E5: color(gray-E5E5E5);
$gray-EAEAEC: color(gray-EAEAEC);
$gray-2d242d: color(gray-2d242d);
$gray-D8D8D8: color(gray-D8D8D8);

#app {
  .product {
    @media (min-width: 992px) and (max-width: 1199px) {
      p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 16px;
      }
      .f-s-18 {
        font-size: 14px;
      }
      .product__icons {
        padding-top: 10px;
        .button-full {
          height: 30px;
          font-size: 13px;
          svg {
            display: none;
          }
        }
        .addwishlistbtn {
          flex: 0 0 30px;
          height: 30px;
          border-color: $gray-E5E5E5;
          svg {
            height: 12px;
          }
        }
      }
    }
  }
  .category-filters {
    width: 332px;
    flex-basis: inherit;
    max-width: inherit;
  }
  .products-list {
    width: calc(100% - 332px);
    padding-left: 50px;
  }
  .product-image {
    max-height: unset !important;
  }
  .category-filters {
    h5 {
      font-size: 18px;
      margin-bottom: 0;
      .material-icons {
        line-height: 14px;
        vertical-align: top;
        font-size: 16px;
        color: $black;
        margin-left: -20px;
      }
    }
    .filters-content {
      padding-top: 20px;
    }
    .sidebar__header {
      min-height: inherit;
      border-bottom: solid 1px $gray-EAEAEC;
      font-size: 12px;
    }
  }
  .sorting {
    .mobile-label {
      display: none;
    }
    .form-control {
      border-bottom: 0;
      position: relative;
      &::after {
        background: url('/assets/dropdownarrow.svg') no-repeat;
        content: '';
        display: inline-block;
        width: 10px;
        height: 9px;
        position: absolute;
        right: 14px;
        top: 18px;
      }
      select {
        appearance: none;
        margin-left: 5px;
        background: $white;
        padding: 11px 30px 11px 15px;
        color: $gray-2d242d;
        border: 1px solid $gray-D8D8D8;
        box-sizing: border-box;
        border-radius: 6px;
        font-family: 'Aller';
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
  @media (max-width: 1370px) {
    .product-listing {
      .col-md-3 {
        flex-basis: 33%;
        max-width: 33%;
      }
    }
  }
  @media (max-width: 1465px) {
    .category-filters {
      width: 240px;
    }
    .products-list {
      width: calc(100% - 240px);
      padding-left: 20px;
      max-width: inherit;
    }
  }
  @media (max-width: 991px) {
    .product-listing {
      margin: 0 -10px;
      padding-bottom: 10px;
      .col-md-3 {
        flex-basis: 50%;
        max-width: 50%;
        padding: 0 10px 10px 10px;
      }
    }
  }
  @media (max-width: 767px) {
    .product-listing {
      .product {
        border: 1px solid $white-smoke;
        box-shadow: none !important;
        padding: 10px 20px;
        .product__icons {
          visibility: visible;
          opacity: 1;
        }
      }
    }
    .mobile-label {
      display: block !important;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      font-family: 'Teko';
      bottom: 0;
      color: $white;
      text-align: center;
      font-size: 16px;
      line-height: 40px;
      pointer-events: none;
    }
    .products-list {
      width: 100%;
      padding-left: 0px;
    }
    .product .product__icons .button-full svg {
      display: none;
    }
    #category .container-fluid {
      padding: 0 20px;
    }
    .mobile-filters-button {
      background: $black;
      height: 40px;
      font-family: 'Teko';
      color: $white;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 23px;
      position: relative;
      &::after {
        content: '';
        color: $white;
        position: absolute;
        right: 0;
        top: 8px;
        height: 25px;
        width: 1px;
        background: $white;
      }
    }
    .sort-by {
      border: 0px;
      .mobile-label {
        display: none;
      }
      select {
        background: $black;
        cursor: pointer;
        border: 0px;
        height: 40px;
        text-align-last: center;
        text-align: center;
        color: $white;
        appearance: none;
        font-family: 'Teko';
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        font-size: 0;
        padding: 0 10px;
        option {
          padding: 5px 10px;
          font-size: 16px;
        }
      }
    }
    .sidebar__header {
      min-height: inherit;
      border-bottom: solid 1px $gray-EAEAEC;
      font-size: 12px;
    }
    .sidebar__header__clear {
      margin-top: 0px;
    }
    .filters-row h5 {
      font-size: 14px;
      margin-bottom: 0;
      .material-icons {
        line-height: 14px;
        vertical-align: middle;
        font-size: 16px;
        color: $black;
        margin-left: -20px;
      }
    }
    .filters-content {
      padding-top: 20px;
    }
    .mobile-filters.active {
      background: rgba(5, 5, 5, 0.6);
      pointer-events: inherit;
      transition: 0.5s;
    }
    .mobile-filters.active {
      .mobile-filters-box {
        right: 0;
      }
    }
    .bg-cl-mine-shaft {
      background-color: $color-secondary;
    }
  }
  @media (max-width:400px) {
    .product-listing .product {
      padding: 7px 7px
    }
    .product-listing .col-md-3 {
      padding-bottom: 0;
    }
  }
}
</style>
