<template>
  <div id="checkout">
    <div class="container">
      <div class="row m0 relative" v-show="!isThankYouPage">
        <div class="col-sm-7 p0 py40  col-xs-12 pb70 checkout-left" v-if="$route.hash === '#klarna'">
          <klarna-checkout />
        </div>
        <div class="col-sm-7 p0 py40  col-xs-12 pb70 checkout-left" v-else>
          <personal-details
            class="line relative checkout-box"
            :is-active="activeSection.personalDetails"
            :focused-field="focusedField"
          />
          <shipping class="line relative checkout-box" :is-active="activeSection.shipping" v-if="!isVirtualCart" />
          <payment class="line relative checkout-box" :is-active="activeSection.payment" />
          <order-review class="line relative checkout-box" :is-active="activeSection.orderReview" />
          <div id="custom-steps" />
        </div>
        <div class="hidden-xs p0 col-sm-5 cartsummary">
          <cart-summary />
        </div>
      </div>
    </div>
    <thank-you-page v-show="isThankYouPage" />
  </div>
</template>

<script>
import Checkout from '@vue-storefront/core/pages/Checkout'

import { mapGetters, mapActions } from 'vuex'
import PersonalDetails from 'theme/components/core/blocks/Checkout/PersonalDetails'
import Shipping from 'theme/components/core/blocks/Checkout/Shipping'
import Payment from 'theme/components/core/blocks/Checkout/Payment'
import OrderReview from 'theme/components/core/blocks/Checkout/OrderReview'
import CartSummary from 'theme/components/core/blocks/Checkout/CartSummary'
import ThankYouPage from 'theme/components/core/blocks/Checkout/ThankYouPage'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { OrderModule } from '@vue-storefront/core/modules/order'
import KCO from 'src/modules/payment-klarna/components/KlarnaCheckout'

export default {
  components: {
    PersonalDetails,
    Shipping,
    Payment,
    OrderReview,
    CartSummary,
    ThankYouPage,
    'klarna-checkout': KCO

  },
  data () {
    return {
      getActivePayment: null
    }
  },
  mixins: [Checkout],
  beforeCreate () {
    registerModule(OrderModule)
  },
  mounted () {
    this.$store.commit('ui/setMicrocart', false)
    this.$store.commit('ui/setSidebar', false)
  },
  computed: {
    paymentMethodObj () {
      return this.$store.state.checkout.paymentDetails;
    }
  },
  methods: {
    onDoPlaceOrder (additionalPayload) {
      if (this.paymentMethodObj.paymentMethod === 'paypal_express') {
        if (this.$store.state.cart.cartItems.length === 0) {
          this.notifyEmptyCart()
          this.$router.push(this.localizedRoute('/'))
        } else {
          if (Object.keys(additionalPayload).length > 0) {
            this.payment.paymentMethodAdditional = additionalPayload
            this.placeOrder()
          }
        }
      } else {
        if (this.$store.state.cart.cartItems.length === 0) {
          this.notifyEmptyCart()
          this.$router.push(this.localizedRoute('/'))
        } else {
          this.payment.paymentMethodAdditional = additionalPayload
          this.placeOrder()
        }
      }
    },
    notifyEmptyCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Shopping cart is empty. Please add some products before entering Checkout'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyOutStock (chp) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: chp.name + this.$t(' is out of stock!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNotAvailable () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t('Some of the ordered products are not available!'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyStockCheck () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Stock check in progress, please wait while available stock quantities are checked'),
        action1: { label: this.$t('OK') }
      })
    },
    notifyNoConnection () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('There is no Internet connection. You can still place your order. We will notify you if any of ordered products is not available because we cannot check it right now.'),
        action1: { label: this.$t('OK') }
      })
    }
  },
  watch: {
    isThankYouPage (newValue, oldValue) {
      if (newValue) {
        document.documentElement.scrollTop = 0;
      }
    }
  }
}
</script>

<style lang="scss">
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $bg-secondary: color(secondary, $colors-background);
  $color-tertiary: color(tertiary);
  $color-secondary: color(secondary);
  $color-error: color(error);
  $color-white: color(white);
  $color-black: color(black);
  $white-smoke: color(white-smoke);
  $gray-B3B3B3: color(gray-B3B3B3);
  $gray-E5E5E5: color(gray-E5E5E5);
  $gray-A6A6A6: color(gray-A6A6A6);
  $gray-2D242D: color(gray-2D242D);

  #checkout {
    .sendtoshipping {
      margin: 0 !important;
    }
    .line.active {
      &:after {
        display: block;
      }
    }
    .row-padding .row{
      [class*=" col-xs"]{
        padding:0 10px;
        @media (max-width: 767px) {
          flex: 0 0 100%;
        }
      }
      margin:0 -10px;
      .base-input{padding-bottom: 20px; margin: 0;}
    }
    h3{font-weight: 500;
      font-size: 30px;
      line-height: 40px;
      color:$gray-B3B3B3;
      margin-top: -3px;
      }
    .checkout-box.active{
      h3{color:$color-black;}
    }
    .cartsummary{height:100vh; background: $white-smoke; padding: 40px; position: absolute; right:0; top:0;overflow: auto; width: 600px;
    }
    .checkout-box{max-width:576px; margin-left: 80px;}
    .container{max-width:1520px;}
    .col-xs-1{
      .bg-cl-th-accent{background:$color-black;}
      .bg-cl-tertiary{background:$gray-B3B3B3;}
    }
    .number-circle {
      width: 28px;
      height:28px;
      font-size: 16px;
      line-height:28px;

      @media (max-width: 768px) {
        width: 25px;
        height: 25px;
        line-height: 25px;
      }
    }
    .radioStyled {
      display: block;
      position: relative;
      padding-left:22px;
      margin-bottom:0px;
      cursor: pointer;
      font-size: 16px;
      line-height: 30px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      .checkmark {
        position: absolute;
        top:6px;
        left: 0;
        height:16px;
        width: 16px;
        border-radius:16px;
        border: 1px solid $gray-A6A6A6;

        &:after {
          content: "";
          position: absolute;
          display: none;
          top:1px;
          left:1px;
          width:12px;
          height:12px;
          border-radius: 50%;
          background: $gray-2D242D;
        }
      }

      input:checked ~ .checkmark:after {
        display: block;
      }
    }
  }

  .line {
    &:after {
      content: '';
      display: none;
      position: absolute;
      top: 0;
      left:15px;
      z-index: -1;
      width: 1px;
      height: 100%;
      background-color: $gray-E5E5E5;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .checkout-title {
    @media (max-width: 767px) {
      background-color: $bg-secondary;
      margin-bottom: 25px;

      h1 {
        font-size: 36px;
      }
    }
  }
  @media (max-width:1080px) {
  #checkout{
    .cartsummary{
      padding: 15px;
    }
    .checkout-box {
      margin-left: 0px;
    }
    }
  }
  @media (max-width:1000px) {
    .cartsummary{display:none;}
    .checkout-left{
      width: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
    #checkout .checkout-box {max-width: inherit;}
    #checkout .line.active::after {display: none;}
  }
    @media (max-width:768px) {
      .cartsummary-wrapper{display: none;}
    }
    @media (max-width:560px) {
    #checkout {
      h3
      {
        font-size: 16px;margin-top: -6px;
      }
      .mb30{ margin-bottom: 7px;}
      .row-padding {
        flex-basis: 100%;
        max-width: 100%;
      }
      .mb35 {margin-bottom: 20px;}
      .checkout-left{padding-top: 20px;}
      .end-lg{justify-content: end;font-size: 12px;align-items: center;line-height: 15px;
      .edit-icon{align-items: center;margin-left: auto;
        .material-icons{font-size: 17px;}
      }
      }
      .h4 {font-size: 16px;}
      p {
        margin: 0 0 9px 0;
        font-size: 14px;
        font-family: 'Aller', sans-serif;
      }
      .radioStyled {font-size: 13px;}
      .mb40 {margin-bottom: 10px;}
      .base-input input{font-size: 14px}
      }
    }
</style>
