<template>
  <div id="cms-page">
    <promotional-bar />
    <header class="cms-page-title">
      <div class="container">
        <h1 class="title">
          {{ cmsPageContent.title }}
        </h1>
      </div>
    </header>
    <div class="container py60" v-html="cmsPageContent.content" />
  </div>
</template>

<script>
import CmsPage from '@vue-storefront/core/pages/CmsPage'
import PromotionalBar from 'theme/components/theme/PromotionalBar'
export default {
  computed: {
    cmsPageContent () {
      return this.$store.state.cmsPage.current
    }
  },
  components: {
    PromotionalBar
  },
  mixins: [CmsPage]
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$border-primary: color(primary, $colors-border);

$color-white: color(white);
$color-black: color(black);
$gray-A6A6A6: color(gray-A6A6A6);
$gray-DDDDDD: color(gray-DDDDDD);
$gray-404040: color(gray-404040);
$gray-888888: color(gray-888888);
$green-3C967B: color(green-3C967B);

.cms-page-title{
    text-align: center;
    background:$color-black; padding:60px 0;
    .title {
      font-size:40px;
      color:$color-white;
      @media (max-width: 767px) {
        font-size: 24px;
      }
      @media (max-width:500px) {
        color:$color-black;
        font-size:18px;
        margin-bottom: 0;
      }
    }
    p {
      font-size: 16px;
      color:$color-white;
      line-height: 150%;
    }
    .container {
      max-width: 730px;
      margin: 0 auto;
    }
    @media (max-width:500px) {
      background: none;
      p{display: none;}
      padding-bottom: 0;
    }
  }
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

$color-black: color(black);
$gray-888888: color(gray-888888);

.cms-content {
  p{
    font-size:14px;
    color:$gray-888888;
    font-family: Aller;
    line-height:20px;
  }
}
</style>
