<template>
  <div id="contact_us" class="contact-section">
    <promotional-bar />
    <div class="contact-content py80">
      <div class="container p0 flex">
        <div class="contact-form p40">
          <form action="#" @submit.prevent="contactus" class="contact-us-form">
            <h1>
              {{ $t('Say Hello!') }}
            </h1>
            <base-input
              class="mt22"
              type="text"
              name="name"
              v-model="formData.name"
              @blur="$v.formData.name.$touch()"
              :placeholder="$t('Name')"
              :validations="[
                {
                  condition: !$v.formData.name.required && $v.formData.name.$error,
                  text: $t('This is a required field.')
                },
                {
                  condition: !$v.formData.name.minLength,
                  text: $t('Name must have at least 2 letters.')
                }
              ]"
            />
            <base-input
              type="email"
              name="email"
              class="mt22"
              v-model="formData.email"
              @blur="$v.formData.email.$touch()"
              :placeholder="$t('Email')"
              :validations="[
                {
                  condition: !$v.formData.email.required && $v.formData.email.$error,
                  text: $t('This is a required field.')
                },
                {
                  condition: !$v.formData.email.email && $v.formData.email.$error,
                  text: $t('Please provide valid e-mail address.')
                }
              ]"
            />
            <base-textarea
              class="mt22 mb15"
              type="text"
              name="comment"
              v-model="formData.comment"
              @blur="$v.formData.comment.$touch()"
              :placeholder="$t('What\'s on your mind?')"
              :validations="[
                {
                  condition: $v.formData.comment.$error && !$v.formData.comment.required,
                  text: $t('This is a required field.')
                }
              ]"
            />
            <div class="privacy-checkbox mb25">
              <base-checkbox
                class="mb10"
                id="acceptPrivacyCheckbox"
                @blur="$v.formData.privacy.$touch()"
                v-model="formData.privacy"
                :validations="[{
                  condition: !$v.formData.privacy.sameAs && $v.formData.privacy.$error,
                  text: $t('Field is required')
                }]"
              >
                {{ $t('I accept ') }}
                <a href="https://www.iubenda.com/privacy-policy/69683679" target="_blank">
                  {{ $t('privacy policy') }}
                </a> *
              </base-checkbox>
            </div>
            <button-full type="submit" class="uppercase">
              {{ $t('Send an Inquiry') }}
            </button-full>
          </form>
        </div>
        <div class="contact-details">
          <div>
            <cms-block :identifier="'contactus_details'" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import { required, email, minLength, sameAs } from 'vuelidate/lib/validators'
import { AddComment } from 'src/modules/aureatelabs/contact-us/components/AddComment'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import PromotionalBar from 'theme/components/theme/PromotionalBar'
import i18n from '@vue-storefront/i18n'

export default {
  validations: {
    formData: {
      email: {
        required,
        email
      },
      name: {
        minLength: minLength(2),
        required
      },
      comment: {
        required
      },
      privacy: {
        sameAs: sameAs(() => true)
      }
    }
  },
  props: {
    title: {
      type: String,
      required: true
    }
  },
  components: {
    BaseInput,
    BaseTextarea,
    ButtonFull,
    CmsBlock,
    PromotionalBar,
    BaseCheckbox
  },
  mixins: [ AddComment ],
  data () {
    return {
      formData: {
        name: '',
        email: '',
        // telephone: '',
        comment: ''
      }
    }
  },
  methods: {
    contactus () {
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      } else {
        return false
      }
    },
    submit () {
      this.$store.dispatch('contact/add', {
        'subscriber': {
          'name': this.formData.name,
          'email': this.formData.email,
          // 'telephone': this.formData.telephone,
          'comment': this.formData.comment
        }
      }).then(res => {
        if (res.code === 200) {
          this.$router.push('/thanks')
          this.$bus.$emit('clear-add-contact-form')
        } else {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'error',
            message: i18n.t('Something went wrong. Try again in a few seconds.'),
            action1: { label: i18n.t('OK') }
          })
        }
      })
    },
    clearContactForm () {
      this.formData.name = ''
      this.formData.email = ''
      // this.formData.telephone = ''
      this.formData.comment = ''
      this.$v.$reset()
    }
  },
  metaInfo () {
    return {
      title: 'Contact Us',
      meta: !this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: 'Contact Us' }] : []
    }
  },
  mounted () {
    this.$bus.$on('clear-add-contact-form', this.clearContactForm)
  },
  destroyed () {
    this.$bus.$off('clear-add-contact-form', this.clearContactForm)
  }
}
</script>

<style lang="scss">
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-black: color(black);
  $gray-A6A6A6: color(gray-A6A6A6);
  $gray-C9C9C9: color(gray-C9C9C9);
  $light-black: color(light-black);
  $gray-737373: color(gray-737373);
  $green-36B289: color(green-36B289);

  .contact-content{
    .container{
      max-width: 862px; margin: auto;
       @media (max-width:900px) {
          flex-wrap: wrap;
          padding:20px;
        }
      .contact-form {
        border: solid 1px $gray-C9C9C9;
        width: 460px;
        box-sizing: border-box;
        @media (max-width:900px) {
          width:100%;
          padding:20px;
          margin-bottom: 40px;
        }
        .cl-error{font-size: 13px;}
        h1{
          font-family: Aller;
          font-style: normal;
          font-weight: bold;
          font-size: 22px;
          line-height: 27px;
          color:$light-black;
          margin: 0;
        }
        button{
          font-family: Aller;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          height: 50px;
          padding: 15px;
        }
      }
      .contact-details{
        width: 322px;
        margin-left:auto;
        @media (max-width:900px) {
          width:100%;
        }
        h1{
          font-family: Aller;
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 36px;
          display: flex;
          align-items: center;
          color:$light-black;
          margin-bottom: 10px;
          @media (max-width:575px) {
            display:none;
          }
        }
        p{
            font-family: Aller;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height:26px;
            color: $gray-737373;
            flex-wrap: wrap;
            padding-bottom: 56px;
            @media (max-width:575px) {
             font-size:14px;
             line-height:20px;
             display:none;
            }
          }
        .contact-details-row{
          padding-left: 20px;
          border-left: solid 1px $gray-C9C9C9;
          position: relative;
          @media (max-width:575px){
            border:0;
            padding-left:0;
            padding:0 0 30px 0;
          }
          &:hover{
            &::after{
            content: '';
            width: 1px;
            height: 100%;
            left:-1px;
            top:0;
            position: absolute;
            background:$green-36B289;
            transition: 5s;
            @media (max-width:575px) {
              display: none;
            }
          }
          }
          p{
            padding-left: 30px;
            padding-bottom: 0;
            @media (max-width:575px) {
              padding-left:20px;
              display:block;
            }
            strong{
              display: block;
              color:$color-black;
              padding-bottom: 2px;
              font-weight:500;
            }
          }
          img {
            max-width: inherit;
            max-height: inherit;
          }
        }
      }
    }
    @media (max-width:900px) {
       padding:0px !important;
    }
  }

</style>
