<template>
  <section class="pb70 faqs-section">
    <promotional-bar />
    <div class="cms-page-title">
      <div class="container">
        <h1 class="title">
          {{ $t('Frequently Asked Questions (FAQ)') }}
        </h1>
      </div>
    </div>
    <div class="faqs-content">
      <div class="container">
        <div class="accordian-box pt60">
          <cms-block :identifier="'faqs'" />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import PromotionalBar from 'theme/components/theme/PromotionalBar'
import CmsBlock from '../components/core/blocks/Cms/Block'

export default {
  components: {
    PromotionalBar,
    CmsBlock
  },
  methods: {
    openAccordion () {
      const accordionItemAll = document.querySelectorAll('.accordian-item');
      accordionItemAll && accordionItemAll.length > 0 && accordionItemAll.forEach((item, index) => {
        item.getElementsByTagName('h5')[0].addEventListener('click', (e) => {
          document.querySelectorAll('.accordian-item').forEach((itm) => {
            if (item.classList[1] === undefined) {
              itm.classList.remove('active')
            }
          })
          if (item.classList[1] === undefined) {
            item.classList.add('active')
          } else {
            item.classList.remove('active')
          }
        })
      })
    }
  }
};
</script>

<style lang="scss">
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-white: color(white);
  $white: color(white);
  $color-black: color(black);
  $gray-A6A6A6: color(gray-A6A6A6);
  $gray-888888: color(gray-888888);
  $gray-DDDDDD: color(gray-DDDDDD);
  $matterhorn: color(matterhorn);

.cms-page-title{
    background:$color-black; padding:60px 0;
    .container {
      max-width: 730px;
      margin: 0 auto;
    }
    @media (max-width:500px) {
      background: none;
      p{display: none;}
      padding-bottom: 0;
    }
  }
.faqs-section {
  .faqs-content{
    .container {
      max-width: 800px;
      margin: 0 auto;
    }
  }
  .cms-page-title {
    text-align: center;
    .title {
      font-size:40px;
      color:$white;
      @media (max-width: 767px) {
        font-size: 24px;
      }
      @media (max-width:500px) {
        color:$color-black;
        font-size:18px;
        margin-bottom: 0;
      }
    }
    p {
      font-size: 16px;
      color:$white;
      line-height: 150%;
    }
  }
}
.accordian-item, .accordian-item-1 {
  border-top: 1px solid $gray-DDDDDD;
  &:last-child {
    border-bottom: 1px solid $gray-DDDDDD
  }
  h5 {
    font-size:18px;
    text-transform: capitalize;
    font-weight:700;
    color:$gray-A6A6A6;
    padding:20px 0px 20px 40px;
    font-family: Aller;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin:0;
    cursor: pointer;
    @media (max-width: 767px) {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      font-size: 14px;
      padding-left:30px;
    }
      &:after {
        content: '';
        top:23px;
        position: absolute;
        left:0px;
        top:50%;
        transform: translateY(-50%);
        background:$color-black;
        width: 18px;
        height: 1px;
        font-size: 22px;
         transition: all 0.3s ease-out;
        @media (max-width:500px) {
          width: 16px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        left:9px;
        transition: all 0.3s ease-out;
        background:$color-black;
        height: 18px;
        width: 1px;
        font-size: 22px;
        @media (max-width:500px) {
          height: 16px;
          left:8px;
        }
      }
  }
  .accordian-sub {
    margin-top: 0;
    transition: all 0.3s ease;
    height: 0;
    overflow: hidden;
    opacity: 0;
    padding:0px 0 0 40px;
    transform: translateY(-5px);
    p {
      font-size:15px;
      color: $gray-888888;
    }
    @media (max-width: 767px) {
      padding-left:30px;
    }
  }
  &.active {
    h5{
      &::before{
        display:none;
      }
    }
    .accordian-sub {
      height: auto;
      opacity: 1;
      transform: translateY(0);
      margin-top: -10px;
      margin-bottom: 15px;
    }
  }
}
@media (max-width:767px) {
  .accordian-box{padding-top: 30px;}
}

.faqs-content{
  .bold{
    font-weight: bold;
    color: $matterhorn;
  }
}
</style>
