<template>
  <div id="home">
    <promotional-bar />

    <main-slider :banner-data="banner" />

    <shop-by-category />

    <section class="new-collection section">
      <div class="container-fluid">
        <h2 class="section-heading">
          {{ $t('Best Selling Products') }}
        </h2>
        <lazy-hydrate when-visible>
          <div class="product-list-wrap">
            <swiper class="swiper product-listing" ref="newSwiper" :auto-update="true" :auto-destroy="true" :options="newSwiperOption">
              <swiper-slide
                v-for="product in getEverythingNewCollection"
                :key="product.id"
                class="product-item"
              >
                <product-tile :product="product" />
              </swiper-slide>
            </swiper>
            <div class="swiper-button-prev" slot="button-prev">
              <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.5 13L1.5 7L7.5 1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
            <div class="swiper-button-next" slot="button-next">
              <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.5 0.999999L7.5 7L1.5 13" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </div>
          </div>
        </lazy-hydrate>
      </div>
    </section>
  </div>
</template>

<script>
// query constructor
import { isServer, onlineHelper } from '@vue-storefront/core/helpers'
import LazyHydrate from 'vue-lazy-hydration'

// Theme local components
import { Logger } from '@vue-storefront/core/lib/logger'
import { mapGetters, mapState } from 'vuex'
import config from 'config'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import ProductTile from 'theme/components/core/ProductTile'
import SwiperCore, { Navigation } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  data () {
    return {
      loading: true,
      newSwiperOption: {
        slidesPerView: 'auto',
        spaceBetween: 0,
        roundLengths: true,
        freeMode: true,
        observer: true,
        observeParents: true,
        navigation: {
          nextEl: '.product-list-wrap .swiper-button-next',
          prevEl: '.product-list-wrap .swiper-button-prev'
        },
        breakpoints: {
          1200: {
            slidesPerView: 5,
            spaceBetween: 0
          },
          992: {
            slidesPerView: 4,
            spaceBetween: 0
          },
          0: {
            slidesPerView: 'auto',
            spaceBetween: 10
          }
        }
      }
    }
  },
  components: {
    PromotionalBar: () => import(/* webpackChunkName: "vsf-promotional-bar" */ 'theme/components/theme/PromotionalBar'),
    MainSlider: () => import(/* webpackPrefetch: true */ 'theme/components/core/blocks/MainSlider/MainSlider'),
    ShopByCategory: () => import(/* webpackChunkName: "vsf-shop-by-category" */'theme/components/theme/ShopByCategory'),
    LazyHydrate,
    ProductTile,
    Swiper,
    SwiperSlide
  },
  computed: {
    ...mapGetters('user', ['isLoggedIn']),
    ...mapGetters('homepage', ['getEverythingNewCollection']),
    ...mapGetters({
      getBannerList: 'banner/getBannerList'
    }),
    ...mapState({
      banner: state => state.banner.banners
    }),
    categories () {
      return this.getCategories
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    isLazyHydrateEnabled () {
      return config.ssr.lazyHydrateFor.some(
        field => ['homepage', 'homepage.new_collection'].includes(field)
      )
    },
    isMobile () {
      if (!isServer) {
        return window.innerWidth <= 767
      }
      return false;
    }
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  mounted () {
    if (!this.isLoggedIn && localStorage.getItem('redirect')) this.$bus.$emit('modal-show', 'modal-signup')
  },
  watch: {
    isLoggedIn () {
      const redirectObj = localStorage.getItem('redirect')
      if (redirectObj) this.$router.push(redirectObj)
      localStorage.removeItem('redirect')
    }
  },
  async asyncData ({ store, route, context }) { // this is for SSR purposes to prefetch data
    if (context) context.output.cacheTags.add(`home`)
    Logger.info('Calling asyncData in Home Page (core)')()

    Promise.all([
      store.dispatch('homepage/fetchNewCollection'),
      await store.dispatch('banner/list', {})
    ])
  },
  beforeRouteEnter (to, from, next) {
    if (!isServer && !from.name) { // Loading products to cache on SSR render
      next(vm =>
        vm.$store.dispatch('homepage/fetchNewCollection').then(res => {
          vm.loading = false
        })
      )
    } else {
      next()
    }
  },
  metaInfo () {
    let links = []
    if (this.banner && this.banner.length > 0) {
      this.banner.map(banner =>
        links.push({
          rel: 'preload',
          as: 'image',
          href: !this.isMobile && banner.image ? banner.image : banner.mobile_image ? banner.mobile_image : ''
        }))
    }
    return {
      title: this.$route.meta.title || this.$i18n.t('Home Page'),
      meta: this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: this.$route.meta.description }] : [],
      link: links
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);

.new-collection {
  padding-top: 0;
  padding-left: 24px;
  padding-right: 24px;

  @media (max-width: 991px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.product-list-wrap {
  position: relative;
  .product-item {
    max-width: 20%;
    flex: 0 0 20%;
    @media only screen and (min-width: 992px) and (max-width: 1200px) {
      max-width: 25%;
      flex: 0 0 25%;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      max-width: 250px;
      flex: 0 0 250px;
    }
    @media (max-width: 767px) {
      max-width: 200px;
      flex: 0 0 200px;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 1;
    cursor: pointer;

    @media (max-width: 991px) {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    svg {
      path {
        transition: all 0.5s ease 0s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $color-secondary;
        }
      }
    }
  }

  .swiper-button-prev {
    left: -17px;
  }

  .swiper-button-next {
    right: -17px;
  }
}
</style>
<style lang="scss">
.product-listing {
  .swiper-slide {
    height: auto;
    @media (max-width: 991px) {
      flex: 0 0 250px;
      max-width: 250px;
    }
    @media (max-width: 767px) {
      flex: 0 0 200px;
      max-width: 200px;
    }
  }
}
</style>
