<template>
  <div id="my_account">
    <header class="container-fluid py25">
      <breadcrumbs
        :with-homepage="true"
        :routes="[]"
        active-route="My Account"
      />
    </header>

    <div class="container">
      <div class="row pt0">
        <div class="col-md-3 hidden-xs hidden-sm block">
          <nav class="static-menu serif h4 mb35">
            <div
              class="mobile-static-menu"
              @click="openbox(1)"
              :class="{ active: boxactive }"
            >
              <span class="flex align-items" :class="mobileActiveMenuIconClass">
                <span v-html="mobileActiveMenuIcon" />
                {{ mobileActiveMenuTxt }}
                <svg class="rightarrow ml-auto" width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.5 1.5L7.5 7.5L1.5 13.5" stroke="#36B289" stroke-width="2"/></svg>
              </span>
            </div>
            <ul class="m0 p0" @click="openbox(1)" :class="{ active: boxactive }">
              <li class="" v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
                <router-link :to="localizedRoute(page.link)" class="cl-accent"
                  @click.native="updatedMobileMenuTxt(page.title, page.class, page.icon)"
                  @click="openbox(1)"
                  :class="{ active: boxactive }"
                >
                  <i v-html="page.icon" />{{ page.title }}
                </router-link>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-9">
          <no-ssr>
            <component :is="this.$props.activeBlock" />
          </no-ssr>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyAccount from '@vue-storefront/core/pages/MyAccount'
import Breadcrumbs from '../components/core/Breadcrumbs'
import MyProfile from '../components/core/blocks/MyAccount/MyProfile'
import MyShippingDetails from '../components/core/blocks/MyAccount/MyShippingDetails'
import MyNewsletter from '../components/core/blocks/MyAccount/MyNewsletter'
import MyOrders from '../components/core/blocks/MyAccount/MyOrders'
import MyOrder from '../components/core/blocks/MyAccount/MyOrder'
import MyRecentlyViewed from '../components/core/blocks/MyAccount/MyRecentlyViewed'
import NoSSR from 'vue-no-ssr'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule } from '@vue-storefront/core/lib/modules'

export default {
  data () {
    return {
      navigation: [
        { title: this.$t('My profile'), link: '/my-account', icon: '<svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 12.25C16.5 10.6334 14.3049 9.27649 11.3259 8.87445C11.1904 8.62347 11.113 8.34253 11.113 8.04602C11.113 7.77899 11.1921 7.52979 11.3059 7.29468C12.3175 6.60443 13 5.36566 13 3.9375C13 1.76288 11.433 0 9.5 0C7.56702 0 6 1.76288 6 3.9375C6 5.36566 6.68256 6.60443 7.69409 7.29468C7.80792 7.52979 7.88702 7.77899 7.88702 8.04602C7.88702 8.34253 7.80963 8.62347 7.67419 8.87445C4.69513 9.27649 2.5 10.6334 2.5 12.25V14H0.5V15H2.5H16.5H18.5V14H16.5V12.25ZM3.5 14V12.25C3.5 11.3636 5.11139 10.2294 7.80792 9.86542L8.31244 9.79736L8.5542 9.34937C8.77197 8.94586 8.88702 8.49518 8.88702 8.04602C8.88702 7.65436 8.79126 7.26611 8.59418 6.85901L8.47803 6.61896L8.25775 6.46869C7.47021 5.93127 7 4.98505 7 3.9375C7 2.31775 8.12152 1 9.5 1C10.8785 1 12 2.31775 12 3.9375C12 4.98505 11.5298 5.93127 10.7422 6.46869L10.522 6.61896L10.4058 6.85901C10.2087 7.26611 10.113 7.65436 10.113 8.04602C10.113 8.49518 10.2281 8.94586 10.4458 9.34937L10.6876 9.79736L11.1921 9.86542C13.8886 10.2294 15.5 11.3636 15.5 12.25V14H3.5Z" fill="#494949"/></svg>' },
        { title: this.$t('My shipping details'), link: '/my-account/shipping-details', icon: '<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M17.375 14.2969C16.9433 14.2969 16.5938 14.6465 16.5938 15.0781C16.5938 15.5098 16.9433 15.8594 17.375 15.8594C17.8067 15.8594 18.1562 15.5098 18.1562 15.0781C18.1562 14.6465 17.8067 14.2969 17.375 14.2969Z" fill="#494949"/><path d="M16.9844 11.1719C16.7688 11.1719 16.5938 11.3469 16.5938 11.5625C16.5938 11.7781 16.7688 11.9531 16.9844 11.9531C17.2 11.9531 17.375 11.7781 17.375 11.5625C17.375 11.3469 17.2 11.1719 16.9844 11.1719Z" fill="#494949"/><path d="M5.42188 14.2969C4.9902 14.2969 4.64062 14.6465 4.64062 15.0781C4.64062 15.5098 4.9902 15.8594 5.42188 15.8594C5.85355 15.8594 6.20312 15.5098 6.20312 15.0781C6.20312 14.6465 5.85355 14.2969 5.42188 14.2969Z" fill="#494949"/><path d="M18.8582 9.6344L18.1846 6.94031C18.424 6.71127 18.5469 6.40747 18.5469 6.09375C18.5469 5.44754 18.0212 4.92188 17.375 4.92188H14.25V3.75C14.25 3.10379 13.7243 2.57812 13.0781 2.57812H1.67188C1.02567 2.57812 0.5 3.10379 0.5 3.75V13.9062C0.5 14.5525 1.02567 15.0781 1.67188 15.0781H3.07812C3.07812 16.3705 4.12946 17.4219 5.42188 17.4219C6.71429 17.4219 7.76562 16.3705 7.76562 15.0781H15.0312C15.0312 16.3705 16.0826 17.4219 17.375 17.4219C18.6674 17.4219 19.7188 16.3705 19.7188 15.0781C19.7188 15.0558 19.7177 15.0337 19.7171 15.0114C20.1725 14.8508 20.5 14.416 20.5 13.9062V11.5625C20.5 10.5914 19.7877 9.78394 18.8582 9.6344ZM17.4606 7.26562L18.0465 9.60938H14.8024L15.6981 8.71368C15.8506 8.5611 15.8506 8.3139 15.6981 8.16132C15.5455 8.00873 15.2983 8.00873 15.1457 8.16132L14.25 9.05685V7.26562H17.4606ZM17.7656 6.09375C17.7656 6.30936 17.5906 6.48438 17.375 6.48438H14.25V5.70312H17.375C17.5905 5.70312 17.7656 5.8783 17.7656 6.09375ZM5.42188 16.6406C4.56036 16.6406 3.85938 15.9396 3.85938 15.0781C3.85938 14.2049 4.57303 13.5156 5.42188 13.5156C6.27271 13.5156 6.98438 14.2067 6.98438 15.0781C6.98438 15.9396 6.28339 16.6406 5.42188 16.6406ZM7.6315 14.2969C7.30527 13.3751 6.42224 12.7344 5.42188 12.7344C4.42105 12.7344 3.53772 13.3755 3.2121 14.2969H1.67188C1.45642 14.2969 1.28125 14.1217 1.28125 13.9062V3.75C1.28125 3.53455 1.45642 3.35938 1.67188 3.35938H13.0781C13.2936 3.35938 13.4688 3.53455 13.4688 3.75V14.2969H7.6315ZM17.375 16.6406C16.5135 16.6406 15.8125 15.9396 15.8125 15.0781C15.8125 14.2049 16.5262 13.5156 17.375 13.5156C18.2258 13.5156 18.9375 14.2067 18.9375 15.0781C18.9375 15.9396 18.2365 16.6406 17.375 16.6406ZM19.5569 14.2223C19.2103 13.3406 18.3482 12.7344 17.375 12.7344C16.3742 12.7344 15.4908 13.3755 15.1652 14.2969H14.25V10.3906H18.5469C19.0561 10.3906 19.4903 10.7172 19.6516 11.1719H18.5469C18.3311 11.1719 18.1562 11.3467 18.1562 11.5625C18.1562 11.7783 18.3311 11.9531 18.5469 11.9531H19.7188V13.9062C19.7188 14.0361 19.6547 14.1512 19.5569 14.2223Z" fill="#494949"/><path d="M7.375 4.92188C5.43652 4.92188 3.85938 6.49902 3.85938 8.4375C3.85938 10.376 5.43652 11.9531 7.375 11.9531C9.31348 11.9531 10.8906 10.376 10.8906 8.4375C10.8906 6.49902 9.31348 4.92188 7.375 4.92188ZM7.375 11.1719C5.86728 11.1719 4.64062 9.94522 4.64062 8.4375C4.64062 6.92978 5.86728 5.70312 7.375 5.70312C8.88272 5.70312 10.1094 6.92978 10.1094 8.4375C10.1094 9.94522 8.88272 11.1719 7.375 11.1719Z" fill="#494949"/><path d="M8.9375 8.04688H7.76562V6.875C7.76562 6.65924 7.59076 6.48438 7.375 6.48438C7.15924 6.48438 6.98438 6.65924 6.98438 6.875V8.4375C6.98438 8.65326 7.15924 8.82812 7.375 8.82812H8.9375C9.15326 8.82812 9.32812 8.65326 9.32812 8.4375C9.32812 8.22174 9.15326 8.04688 8.9375 8.04688Z" fill="#494949"/></g><defs><clipPath id="clip0"><rect width="20" height="20" fill="white" transform="translate(0.5)"/></clipPath></defs></svg>' },
        { title: this.$t('My newsletter'), link: '/my-account/newsletter', icon: '<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M1.16667 2L8.5 8.66667L15.8333 2" stroke="#494949" stroke-miterlimit="10"/><path d="M15.8333 2H1.16667V14H15.8333V2Z" stroke="#494949" stroke-miterlimit="10" stroke-linecap="square"/></g><defs><clipPath id="clip0"><rect width="16" height="16" fill="white" transform="translate(0.5)"/></clipPath></defs></svg>' },
        { title: this.$t('My orders'), link: '/my-account/orders', icon: '<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.4195 16.4929L17.5264 5.23836C17.4707 4.51328 16.8575 3.94527 16.1303 3.94527H14.3661V3.86598C14.3661 1.73426 12.6319 0 10.5001 0C8.36842 0 6.63416 1.73426 6.63416 3.86598V3.94527H4.87002C4.1428 3.94527 3.52955 4.51324 3.47409 5.23684L2.58065 16.4944C2.51151 17.3958 2.8242 18.2932 3.4385 18.9564C4.0528 19.6196 4.92362 20 5.82764 20H15.1726C16.0766 20 16.9474 19.6196 17.5618 18.9564C18.1761 18.2931 18.4887 17.3958 18.4195 16.4929ZM7.80565 3.86598C7.80565 2.38023 9.01444 1.17148 10.5001 1.17148C11.9858 1.17148 13.1946 2.38027 13.1946 3.86598V3.94527H7.80565V3.86598ZM16.7023 18.1604C16.3031 18.5912 15.7599 18.8285 15.1726 18.8285H5.82768C5.24033 18.8285 4.69713 18.5912 4.29799 18.1604C3.89889 17.7295 3.70381 17.1696 3.74866 16.5855L4.64201 5.32793C4.65108 5.20949 4.75123 5.11676 4.87002 5.11676H6.63416V6.55953C6.63416 6.88301 6.89643 7.14527 7.2199 7.14527C7.54338 7.14527 7.80565 6.88301 7.80565 6.55953V5.11676H13.1946V6.55953C13.1946 6.88301 13.4569 7.14527 13.7804 7.14527C14.1039 7.14527 14.3661 6.88301 14.3661 6.55953V5.11676H16.1303C16.249 5.11676 16.3492 5.20953 16.3584 5.32949L17.2516 16.584C17.2965 17.1696 17.1014 17.7294 16.7023 18.1604Z" fill="#494949"/><path d="M13.139 9.93298C12.9103 9.70423 12.5394 9.70423 12.3107 9.93298L9.69522 12.5484L8.68951 11.5427C8.4608 11.314 8.0899 11.314 7.86115 11.5427C7.6324 11.7715 7.6324 12.1424 7.86115 12.3711L9.28104 13.791C9.39541 13.9054 9.54533 13.9626 9.69518 13.9626C9.84502 13.9626 9.99498 13.9054 10.1093 13.791L13.1389 10.7614C13.3677 10.5326 13.3677 10.1617 13.139 9.93298Z" fill="#494949"/></svg>' },
        { title: this.$t('My Recently viewed products'), link: '/my-account/recently-viewed', icon: '<svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M10.4988 6.25L10.497 10.6226C10.497 10.7886 10.5629 10.9473 10.6801 11.0645L13.8082 14.1919L14.692 13.3081L11.747 10.3638L11.7488 6.25H10.4988Z" fill="#494949"/><path d="M11.75 1.25C7.35069 1.25 3.7097 4.51721 3.09989 8.75001H0.5L3.625 11.875L6.75 8.75001H4.3629C4.96083 5.20859 8.04098 2.50001 11.75 2.50001C15.8857 2.50001 19.25 5.86426 19.25 10C19.25 14.1358 15.8858 17.5 11.75 17.5C9.42519 17.5 7.26944 16.4478 5.83569 14.6131L4.85059 15.3821C6.52293 17.522 9.03759 18.75 11.75 18.75C16.5748 18.75 20.5 14.8242 20.5 10C20.5 5.17582 16.5748 1.25004 11.75 1.25Z" fill="#494949"/></g><defs><clipPath id="clip0"><rect width="20" height="20" fill="white" transform="translate(0.5)"/></clipPath></defs></svg>' }
      ],
      boxactive: false,
      isActive: false,
      mobileActiveMenuTxt: this.$t('My profile'),
      loadMyAccountMenuPopup: false,
      mobileActiveMenuIconClass: 'profile-icon',
      mobileActiveMenuIcon:
        '<svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M16.5 12.25C16.5 10.6334 14.3049 9.27649 11.3259 8.87445C11.1904 8.62347 11.113 8.34253 11.113 8.04602C11.113 7.77899 11.1921 7.52979 11.3059 7.29468C12.3175 6.60443 13 5.36566 13 3.9375C13 1.76288 11.433 0 9.5 0C7.56702 0 6 1.76288 6 3.9375C6 5.36566 6.68256 6.60443 7.69409 7.29468C7.80792 7.52979 7.88702 7.77899 7.88702 8.04602C7.88702 8.34253 7.80963 8.62347 7.67419 8.87445C4.69513 9.27649 2.5 10.6334 2.5 12.25V14H0.5V15H2.5H16.5H18.5V14H16.5V12.25ZM3.5 14V12.25C3.5 11.3636 5.11139 10.2294 7.80792 9.86542L8.31244 9.79736L8.5542 9.34937C8.77197 8.94586 8.88702 8.49518 8.88702 8.04602C8.88702 7.65436 8.79126 7.26611 8.59418 6.85901L8.47803 6.61896L8.25775 6.46869C7.47021 5.93127 7 4.98505 7 3.9375C7 2.31775 8.12152 1 9.5 1C10.8785 1 12 2.31775 12 3.9375C12 4.98505 11.5298 5.93127 10.7422 6.46869L10.522 6.61896L10.4058 6.85901C10.2087 7.26611 10.113 7.65436 10.113 8.04602C10.113 8.49518 10.2281 8.94586 10.4458 9.34937L10.6876 9.79736L11.1921 9.86542C13.8886 10.2294 15.5 11.3636 15.5 12.25V14H3.5Z" fill="#494949"/></svg>'
    }
  },
  components: {
    Breadcrumbs,
    MyProfile,
    MyShippingDetails,
    MyNewsletter,
    MyOrders,
    MyOrder,
    MyRecentlyViewed,
    'no-ssr': NoSSR
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule)
  },
  mixins: [MyAccount],
  mounted () {
    const navigation = this.navigation;
    navigation.forEach((nav) => {
      if (nav.link === this.$router.history.current.path) {
        this.mobileActiveMenuTxt = nav.title;
        this.mobileActiveMenuIconClass = nav.class;
      }
    });
  },
  methods: {
    openbox (index) {
      this.boxactive = !this.boxactive;
    },
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    },
    active: function () {
      this.isActive = !this.isActive;
    },
    updatedMobileMenuTxt (mobilemenutxt, mobilemenuclass, mobilemenuicon) {
      this.mobileActiveMenuTxt = mobilemenutxt;
      this.mobileActiveMenuIconClass = mobilemenuclass;
      this.mobileActiveMenuIcon = mobilemenuicon;
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);
$gray-494949: color(gray-494949);
$green-36B289: color(green-36B289);
$white-light: color(white-light);
$white-smoke: color(white-smoke);
#my_account {
   > .container {
    max-width: 1492px;
    padding-bottom: 80px;
    > .row {
      > .col-md-9 {
        padding-left: 44px;
        @media only screen and (max-width: 767px) {
          padding: 20px 20px 0;
        }
      }
      @media only screen and (min-width: 768px) and (max-width: 1023px) {
        > .col-md-3 {
          max-width: 27%;
          flex: 0 0 27%;
          padding-right: 0;
        }
        > .col-md-9 {
          max-width: 73%;
          flex: 0 0 73%;
          padding-left: 25px;
        }
      }
    }
    @media only screen and (max-width: 767px) {
      padding-bottom: 25px;
    }
  }
   > header{
    @media only screen and (max-width: 767px) {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}
.static-menu {
  ul {
    list-style: none;
  }
  .mobile-static-menu {
    display: none;
  }
  a {
    display: block;
    line-height: 125%;
    font-size: 16px;
    color: #494949;
    position: relative;
    font-family: 'Aller', sans-serif;
    padding: 15px 0 15px 70px;
    i {
      position: absolute;
      left: 0;
      top: 0;
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s;
      path {
        transition: 0.5s;
      }
    }
    &:hover,
    &.router-link-exact-active {
      background-color: $white-light;
      color: $green-36B289;
      path {
        fill: $green-36B289;
      }
      path[stroke] {
        fill: transparent;
        stroke: $green-36B289;
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    ul {
      a {
        font-size: 14px;
        padding-left: 45px;
        i {
          width: 35px;
          padding-left: 10px;
        }
      }
    }
  }
  @media only screen and (max-width: 767px) {
    .mobile-static-menu {
      border-top: solid 1px $white-smoke;
      border-bottom: solid 1px $white-smoke;
      padding: 0 20px;
      font-size: 14px;
      color: $green-36B289;
      display: block;
      margin: 0 -16px;
      background-color: $white-light;
      font-family: 'Aller', sans-serif;
      line-height: 48px;
      svg {
        margin-left: auto;
      }
      .flex {
        align-items: center;
        span {
          display: flex;
          svg {
            margin-right: 10px;
            path {
              fill: $green-36B289;
            }
            path[stroke] {
              fill: transparent;
              stroke: $green-36B289;
            }
          }
        }
      }
    }
    .mobile-static-menu.active {
      .rightarrow {
        transform: rotate(90deg);
      }
    }
    ul {
      margin: 0 -16px;
      max-height: 0;
      overflow: hidden;
      -webkit-transition: 0.5s ease all;
      -o-transition: 0.5s ease all;
      transition: 0.5s ease all;
      a {
        padding-left: 52px;
        font-size: 14px;
        i {
          left: 5px;
        }
      }
    }
    ul.active {
      max-height: 2000px;
    }
  }
}
</style>
