<template>
  <div id="page_not_found" class="page-not-fount">
      <div class="container">
        <div class="row flex">
          <div class="col-lg-5 col-md-12 col-xs-12">
            <p>{{ $t("Error Code : 404") }}</p>
            <h1>{{ $t("Oops!") }}</h1>
            <h5>{{ $t("We can’t seem to find the page you are looking for") }}</h5>
            <router-link :to="localizedRoute('/')" class="no-outline button-full inline-block brdr-none px20 py20 bg-cl-secondary :bg-cl-th-secondary ripple weight-400 h4 cl-white sans-serif fs-medium no-underline pointer align-center border-box">
              {{ $t("Back To Home Page") }}
            </router-link>
            <h4 class="block">
              {{ $t('For More Detail Check Our Social Media') }}
            </h4>
            <diV class="social flex">
              <a href="https://www.facebook.com/" target="blank">
                <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.55535 3.683L7.82345 3.68415C6.4653 3.68415 6.20195 4.3293 6.20195 5.27575V7.36415H9.4415L9.01945 10.6359H6.20195V19.0286H2.8244V10.6359H0V7.36415H2.8244V4.9526C2.8244 2.15235 4.53445 0.628601 7.0311 0.628601C8.2271 0.628601 9.2552 0.717151 9.55535 0.757401V3.683Z" fill="#666666"/>
                </svg>
              </a>
              <a href="https://twitter.com" target="blank">
                <svg width="19" height="16" viewBox="0 0 19 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M17.0715 3.98217C17.0784 4.14432 17.083 4.30647 17.083 4.47092C17.083 9.45847 13.2857 15.2108 6.34198 15.2108C4.20988 15.2108 2.22613 14.5863 0.555176 13.5157C0.850726 13.5502 1.15088 13.5674 1.45563 13.5674C3.22433 13.5674 4.85158 12.9648 6.14418 11.9517C4.49163 11.9218 3.09783 10.8304 2.61713 9.33082C2.84828 9.37452 3.08403 9.39752 3.32783 9.39752C3.67168 9.39752 4.00518 9.35152 4.32258 9.26527C2.59528 8.91912 1.29463 7.39307 1.29463 5.56457C1.29463 5.54847 1.29463 5.53237 1.29463 5.51627C1.80293 5.79917 2.38598 5.96937 3.00468 5.98892C1.99153 5.31157 1.32453 4.15582 1.32453 2.84712C1.32453 2.15482 1.51083 1.50622 1.83628 0.948474C3.69813 3.23237 6.47998 4.73542 9.61718 4.89297C9.55278 4.61697 9.51943 4.32832 9.51943 4.03277C9.51943 1.94782 11.2099 0.257324 13.2937 0.257324C14.3805 0.257324 15.3614 0.716174 16.0491 1.44987C16.9093 1.28082 17.7178 0.966874 18.4469 0.534474C18.1651 1.41537 17.566 2.15482 16.7874 2.62287C17.551 2.53087 18.2778 2.32847 18.9552 2.02832C18.4492 2.78502 17.8086 3.44972 17.0715 3.98217Z" fill="#666666"/>
                </svg>
              </a>
              <a href="https://www.instagram.com" target="blank">
                <svg width="24" height="23" viewBox="0 0 24 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.4564 0C9.33316 0 8.9412 0.0136563 7.71452 0.0694792C6.49023 0.125542 5.65456 0.319365 4.92334 0.60375C4.16697 0.897479 3.52536 1.2904 2.88614 1.92984C2.24645 2.56905 1.85353 3.21066 1.55884 3.96678C1.27373 4.69823 1.07967 5.53414 1.02456 6.75793C0.969697 7.98459 0.955322 8.37679 0.955322 11.5C0.955322 14.6232 0.969218 15.014 1.0248 16.2406C1.0811 17.4649 1.27493 18.3006 1.55908 19.0318C1.85305 19.7881 2.24597 20.4298 2.88543 21.069C3.5244 21.7086 4.16601 22.1025 4.92191 22.3962C5.6536 22.6806 6.48952 22.8745 7.71356 22.9305C8.94024 22.9863 9.33196 23 12.455 23C15.5784 23 15.9692 22.9863 17.1959 22.9305C18.4202 22.8745 19.2568 22.6806 19.9885 22.3962C20.7446 22.1025 21.3853 21.7086 22.0243 21.069C22.664 20.4298 23.0569 19.7881 23.3516 19.032C23.6343 18.3006 23.8283 17.4647 23.8858 16.2409C23.9409 15.0142 23.9553 14.6232 23.9553 11.5C23.9553 8.37679 23.9409 7.98483 23.8858 6.75817C23.8283 5.5339 23.6343 4.69823 23.3516 3.96702C23.0569 3.21066 22.664 2.56905 22.0243 1.92984C21.3846 1.29016 20.7449 0.89724 19.9878 0.60375C19.2546 0.319365 18.4185 0.125542 17.1942 0.0694792C15.9675 0.0136563 15.577 0 12.4528 0H12.4564ZM11.4239 2.0727C11.7301 2.07222 12.0717 2.0727 12.4555 2.0727C15.5261 2.0727 15.89 2.08372 17.1025 2.13882C18.2238 2.19009 18.8323 2.37745 19.2377 2.53486C19.7744 2.74329 20.157 2.99246 20.5593 3.39496C20.9618 3.79746 21.2109 4.18079 21.4199 4.71746C21.5773 5.12236 21.7649 5.7309 21.8159 6.85215C21.871 8.06444 21.883 8.42861 21.883 11.4977C21.883 14.5667 21.871 14.9309 21.8159 16.1432C21.7646 17.2644 21.5773 17.873 21.4199 18.2779C21.2114 18.8145 20.9618 19.1967 20.5593 19.5989C20.1568 20.0014 19.7746 20.2506 19.2377 20.459C18.8328 20.6172 18.2238 20.804 17.1025 20.8553C15.8902 20.9104 15.5261 20.9224 12.4555 20.9224C9.38475 20.9224 9.02082 20.9104 7.80851 20.8553C6.68725 20.8036 6.0787 20.6162 5.67308 20.4588C5.13641 20.2504 4.75307 20.0012 4.35057 19.5987C3.94807 19.1962 3.6989 18.8138 3.48998 18.2769C3.33257 17.872 3.14497 17.2635 3.09394 16.1422C3.03884 14.9299 3.02782 14.5658 3.02782 11.4948C3.02782 8.42381 3.03884 8.06156 3.09394 6.84927C3.14521 5.72802 3.33257 5.11948 3.48998 4.71411C3.69842 4.17744 3.94807 3.79411 4.35057 3.39161C4.75307 2.98911 5.13641 2.73994 5.67308 2.53102C6.07846 2.3729 6.68725 2.18602 7.80851 2.13451C8.8694 2.0866 9.28053 2.07222 11.4239 2.06982V2.0727ZM18.5942 3.98192C17.8323 3.98192 17.2141 4.59933 17.2141 5.36145C17.2141 6.12332 17.8323 6.74145 18.5942 6.74145C19.356 6.74145 19.9742 6.12332 19.9742 5.36145C19.9742 4.59957 19.356 3.98145 18.5942 3.98145V3.98192ZM12.4555 5.59424C9.19399 5.59424 6.54968 8.23852 6.54968 11.5C6.54968 14.7614 9.19399 17.4045 12.4555 17.4045C15.717 17.4045 18.3603 14.7614 18.3603 11.5C18.3603 8.23852 15.7167 5.59424 12.4552 5.59424H12.4555ZM12.4559 7.66699C14.5729 7.66699 16.2893 9.38313 16.2893 11.5003C16.2893 13.6173 14.5729 15.3337 12.4559 15.3337C10.3387 15.3337 8.62251 13.6173 8.62251 11.5003C8.62251 9.38313 10.3387 7.66699 12.4559 7.66699Z" fill="#666666"/>
                </svg>
              </a>
              <a href="https://www.youtube.com" class="youtube" target="blank">
              <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect path x="0.955322" y="0.942871" width="21.0286" height="15.7051" rx="3" fill="#666666"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M14.3389 9.05389C14.483 9.12844 14.483 9.33465 14.3389 9.4092L9.13304 12.1008C8.99992 12.1697 8.84118 12.073 8.84118 11.9232V6.53991C8.84118 6.39004 8.99992 6.29342 9.13304 6.36225L14.3389 9.05389Z" fill="white"/>
              </svg>
              </a>
            </diV>
          </div>
          <div class="col-lg-7 col-md-12 col-xs-12 flex error-images">
            <img src="/assets/404img.svg"  class="ml-auto">
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { Logger } from '@vue-storefront/core/lib/logger'
import i18n from '@vue-storefront/i18n'
import LazyHydrate from 'vue-lazy-hydration'
import ProductTile from '../components/core/ProductTile.vue'

export default {
  name: 'PageNotFound',
  computed: {
    ...mapGetters({
      ourBestsellersCollection: 'homepage/getBestsellers'
    })
  },
  async asyncData ({ store, route, context }) {
    Logger.log('Entering asyncData for PageNotFound ' + new Date())()
    if (context) {
      context.output.cacheTags.add(`page-not-found`)
      context.server.response.statusCode = 404
    }

    await store.dispatch('homepage/loadBestsellers')
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || i18n.t('404 Page Not Found'),
      meta: this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: this.$route.meta.description }] : []
    }
  },
  components: {
    ProductTile,
    LazyHydrate
  },
  methods: {
    toggleSearchpanel () {
      this.$store.commit('ui/setSearchpanel', true)
    }
  }
}
</script>

<style scoped>
  a {
    text-decoration: underline;
  }
</style>
<style lang="scss" scoped>
  @import '~theme/css/base/text';
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-white: color(white);
  $color-black: color(black);
  $gray-A6A6A6: color(gray-A6A6A6);
  $gray-DDDDDD: color(gray-DDDDDD);
  $gray-888888:color(gray-888888);
  $gray-444444:color(gray-444444);
  $green-36B289:color(green-36B289);

  a {
    text-decoration: underline;
  }
  .page-not-fount{
    padding:130px 0;
    font-family: Aller;
   .container{
     max-width: 1160px; margin: auto;
     .button-full{
       margin-bottom:80px; 
       display: inline-block;
       padding: 20px;
       text-decoration: none;
     }
     .row{align-content: center;}
     .error-images img{margin-left: auto;}
     .social {
       align-items: center;
        a {
          margin-right: 30px;
          &:hover {
            svg {
              path, rect{
                fill: $green-36B289;
              }
            }
          }
        }
        .youtube{
          &:hover {
            svg {
              path{
                fill: $color-white;
              }
            }
          }
        }
      }
     p{
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.16em;
      color: $gray-888888;
      padding-bottom: 2px;
    }
    h1{
      font-family: Aller;
      font-style: normal;
      font-weight: bold;
      font-size: 60px;
      line-height: 73px;
      color: $color-black;
      padding-bottom: 20px;
      margin: 0;
    }
    h5{
      font-family: Aller;
      font-style: normal;
      font-weight: normal;
      font-size: 30px;
      line-height: 36px;
      color: $gray-444444;
      padding-bottom: 50px;
      margin: 0;
    }
    h4{
      font-family: Aller;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 30px;
      color: $gray-888888;
      padding-bottom: 20px;
      margin: 0;
    }
   } 
  }
@media (max-width:990px) {
.page-not-fount {
   padding: 80px 0;
  .container{ 
    .social{ justify-content: center;}
    text-align:center; 
    justify-content: center;
    .error-images{
      order: -1;
      justify-content: center;
      text-align: center;
      padding-bottom: 50px;
        img{
          width: 36%;
          margin-left: inherit;
          margin-right: inherit;
        }
      }
    }
  }
}
@media (max-width:575px) {
.page-not-fount {
  .container{ 
    .button-full{
      margin-bottom: 40px;
    }
    p{
      font-size:14px;
      line-height:17px;
    }
    h1{
      font-size:38px;
      line-height:36px;
    }
    h5{
      font-size:18px;
      line-height:22px;
      padding-bottom:38px;
    }
    h4{
      font-size:13px;
      line-height:15px;
      padding-bottom: 20px;
      margin: 0;
    }
    .error-images{
        img{
          width:220px;
        }
      }
    }
  }
}
</style>
