<template>
  <div id="product">
    <header class="container-fluid">
      <breadcrumbs
        class="pt40 pb20 hidden-xs"
      />
    </header>
    <section class="product-top-section">
      <div class="container-fluid">
        <section class="row">
          <div class="col-xs-12 col-md-6 center-xs middle-xs image">
            <product-gallery
              :offline="getOfflineImage"
              :gallery="getProductGallery"
              :configuration="getCurrentProductConfiguration"
              :product="getCurrentProduct"
            />
          </div>
          <div class="col-xs-12 col-md-5 col-xl-4 data">
            <h1
              class="product-name"
              data-testid="productName"
            >
              {{ getCurrentProduct.name | htmlDecode }}
            </h1>
            <div class="product-reviews-summary short flex middle-sm" v-if="reviews">
              <div class="rating-summary">
                <span class="rating-result" :style="productRatingLength" />
              </div>
              <span class="reviews-actions" v-if="totalReview > 0" @click.prevent="scrollToOpenReviewForm()">{{ totalReview }} {{ $t ('(Reviews)') }}</span>
              <a class="reviews-actions" v-else @click.prevent="scrollToOpenReviewForm()">{{ $t('Be the first to review') }}</a>
            </div>
            <div>
              <product-price
                class="mb40"
                v-if="getCurrentProduct.type_id !== 'grouped'"
                :product="getCurrentProduct"
                :custom-options="getCurrentCustomOptions"
              />
              <div class="flex variants-wap">
                <div class="cl-primary variants mr60" v-if="getCurrentProduct.type_id =='configurable'">
                  <div
                    class="error"
                    v-if="getCurrentProduct.errors && Object.keys(getCurrentProduct.errors).length > 0"
                  >
                    {{ getCurrentProduct.errors | formatProductMessages }}
                  </div>
                  <div class="h5 mb0" v-for="option in getProductOptions" :key="option.id">
                    <div class="row top-xs m0 variants-wrapper">
                      <div>
                        <div class="variants-label lh25" data-testid="variantsLabel">
                          {{ option.label }}
                        </div>
                        <div class="select-box">
                          <select @change="changeFilter(getAvailableFilters[option.attribute_code], option.attribute_code)" :ref="option.attribute_code">
                            <slot>
                              <weight-selector
                                v-for="filter in getAvailableFilters[option.attribute_code]"
                                :value="filter.id"
                                :key="filter.id"
                                :variant="filter"
                                :variant-type="getSelectedFilters"
                              />
                            </slot>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="qty-input">
                  <label class="qty-element-label serif lh25" for="quantity">
                    {{ $t('Quantity') }}:
                  </label>
                  <quantity-box
                    v-model.number="getCurrentProduct.qty"
                    :aria-label="'Quantity'"
                    :has-label="true"
                    :custom-width="10"
                    class="product-quantity h5 cl-accent lh25 qty"
                    size="lg"
                  />
                </div>
              </div>
              <div class="product_in_stock mt5 cl-green-36B289" v-if="getCurrentProduct.stock.is_in_stock">
                {{ 'In Stock' }}
              </div>
              <div class="product_out_stock mt5 cl-red-CC1414" v-else>
                {{ 'Out Of Stock' }}
              </div>
            </div>
            <product-links
              v-if="getCurrentProduct.type_id =='grouped'"
              :products="getCurrentProduct.product_links"
            />
            <product-bundle-options
              v-if="getCurrentProduct.bundle_options && getCurrentProduct.bundle_options.length > 0"
              :product="getCurrentProduct"
            />
            <product-custom-options
              v-else-if="getCurrentProduct.custom_options && getCurrentProduct.custom_options.length > 0"
              :product="getCurrentProduct"
            />
            <!-- <product-quantity
              class="row m0 mb35"
              v-if="getCurrentProduct.type_id !== 'grouped' && getCurrentProduct.type_id !== 'bundle'"
              v-model="getCurrentProduct.qty"
              :max-quantity="maxQuantity"
              :loading="isStockInfoLoading"
              :is-simple-or-configurable="isSimpleOrConfigurable"
              :show-quantity="manageQuantity"
              :check-max-quantity="manageQuantity"
              @error="handleQuantityError"
            /> -->
            <div class="button-wrap mt20 mb30 flex">
              <div class="row m0 mr10">
                <add-to-cart
                  :product="getCurrentProduct"
                  :disabled="isAddToCartDisabled && !getCurrentProduct.stock.is_in_stock"
                  :class="{ 'button-disabled': !getCurrentProduct.stock.is_in_stock}"
                />
              </div>
              <div class="add-to-buttons flex">
                <div>
                  <AddToWishlist :product="getCurrentProduct" />
                </div>
              </div>
            </div>
            <div class="mt20 mb20 flex" v-if="countdown && estimationMessagehtml != ''">
              <div class="productEstimationDate" v-html="estimationMessagehtml" />
            </div>
            <tabs>
              <tab :title="$t('OVERVIEW')">
                <div itemprop="description" v-html="getCurrentProduct.description" />
                <div v-if="!getCurrentProduct.description">
                  {{ 'No product description' }}
                </div>
              </tab>
              <tab :title="$t('SPECIFICATION')">
                <ul class="attributes p0 m0">
                  <product-attribute
                    :key="attr.attribute_code"
                    v-for="attr in getCustomAttributes"
                    :product="getCurrentProduct"
                    :attribute="attr"
                    empty-placeholder="N/A"
                  />
                  <div class="mt15" v-if="getCurrentProduct.short_description ?getCurrentProduct.short_description : '' " v-html="getCurrentProduct.short_description" />
                  <li v-if="getCustomAttributes && getCustomAttributes.length === 0 && !getCurrentProduct.short_description">
                    {{ 'No product specifications' }}
                  </li>
                </ul>
              </tab>
            </tabs>
          </div>
        </section>
      </div>
    </section>
    <lazy-hydrate when-visible>
      <product-review-bar :product="getCurrentProduct" />
    </lazy-hydrate>
    <lazy-hydrate when-idle>
      <reviews
        :product-name="getCurrentProduct.name"
        :product-id="getCurrentProduct.id"
        v-show="isOnline"
        :product="getCurrentProduct"
      />
    </lazy-hydrate>
    <lazy-hydrate when-idle>
      <related-products type="upsell" />
    </lazy-hydrate>
    <script v-html="getJsonLd" type="application/ld+json" />
  </div>
</template>

<script>
import i18n from '@vue-storefront/i18n'
import VueOfflineMixin from 'vue-offline/mixin'
import config from 'config'
import RelatedProducts from 'theme/components/core/blocks/Product/Related.vue'
import Reviews from 'theme/components/core/blocks/Reviews/Reviews.vue'
import AddToCart from 'theme/components/core/AddToCart.vue'
import Breadcrumbs from 'theme/components/core/Breadcrumbs.vue'
import ProductAttribute from 'theme/components/core/ProductAttribute.vue'
import ProductLinks from 'theme/components/core/ProductLinks.vue'
import ProductCustomOptions from 'theme/components/core/ProductCustomOptions.vue'
import ProductBundleOptions from 'theme/components/core/ProductBundleOptions.vue'
import ProductGallery from 'theme/components/core/ProductGallery'
import Spinner from 'theme/components/core/Spinner'
import focusClean from 'theme/components/theme/directives/focusClean'
import BaseInputNumber from 'theme/components/core/blocks/Form/BaseInputNumber'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import { mapGetters, mapState } from 'vuex'
import LazyHydrate from 'vue-lazy-hydration'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption.ts'
import { getAvailableFiltersByProduct, getSelectedFiltersByProduct } from '@vue-storefront/core/modules/catalog/helpers/filters'
import { isOptionAvailableAsync } from '@vue-storefront/core/modules/catalog/helpers/index'
import { localizedRoute, currentStoreView } from '@vue-storefront/core/lib/multistore'
import { htmlDecode } from '@vue-storefront/core/filters'
import { ReviewModule } from '@vue-storefront/core/modules/review'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule, isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { onlineHelper, isServer, productJsonLd } from '@vue-storefront/core/helpers'
import { catalogHooksExecutors } from '@vue-storefront/core/modules/catalog-next/hooks'
import ProductPrice from 'theme/components/core/ProductPrice.vue'
import { doPlatformPricesSync } from '@vue-storefront/core/modules/catalog/helpers'
import { filterChangedProduct } from '@vue-storefront/core/modules/catalog/events'
import Tab from 'theme/components/theme/Tab.vue'
import Tabs from 'theme/components/theme/Tabs.vue'
import QuantityBox from 'theme/components/core/blocks/Product/QuantityBox'
import WeightSelector from '../components/core/WeightSelector.vue'
import fbqViewContent from 'src/modules/vsf-facebook-pixel/components/ViewContent'
import moment from 'moment'
import ProductReviewBar from '../components/theme/blocks/Reviews/ProductReviewBar'
import map from 'lodash-es/map'
import meanBy from 'lodash-es/meanBy'
import sumBy from 'lodash-es/sumBy'

export default {
  components: {
    AddToCart,
    AddToWishlist,
    Breadcrumbs,
    ProductAttribute,
    ProductBundleOptions,
    ProductCustomOptions,
    ProductGallery,
    ProductLinks,
    RelatedProducts,
    Reviews,
    LazyHydrate,
    ProductPrice,
    Tab,
    Tabs,
    QuantityBox,
    WeightSelector,
    ProductReviewBar
  },
  mixins: [ProductOption, fbqViewContent],
  directives: { focusClean },
  beforeCreate () {
    registerModule(ReviewModule)
    registerModule(RecentlyViewedModule)
  },
  data () {
    return {
      detailsOpen: false,
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      hasAttributesLoaded: false,
      manageQuantity: true,
      countdown: 0,
      estimationMessagehtml: '',
      from_date: 'dd/mm/yyyy',
      estimationMessage: '',
      estimationTimer: '',
      totalRatings: {
        one: 0,
        two: 0,
        three: 0,
        four: 0,
        five: 0
      }
    }
  },
  computed: {
    ...mapState({
      reviews: state => state.review.items.items,
      totalReview: state => state.review.items.items ? state.review.items.items.length : 0
    }),
    ...mapGetters({
      getEstimation: 'estimation/getEstimation',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCurrentProduct: 'product/getCurrentProduct',
      getProductGallery: 'product/getProductGallery',
      getCurrentProductConfiguration: 'product/getCurrentProductConfiguration',
      attributesByCode: 'attribute/attributeListByCode',
      getCurrentCustomOptions: 'product/getCurrentCustomOptions'
    }),
    getOptionLabel () {
      return (option) => {
        const configName = option.attribute_code ? option.attribute_code : option.label.toLowerCase()
        return this.getCurrentProductConfiguration[configName] ? this.getCurrentProductConfiguration[configName].label : configName
      }
    },
    isOnline (value) {
      return onlineHelper.isOnline
    },
    noOfReviews () {
      return this.allReviews ? this.allReviews.total : 0
    },
    getProductOptions () {
      if (
        this.getCurrentProduct.errors &&
        Object.keys(this.getCurrentProduct.errors).length &&
        Object.keys(this.getCurrentProductConfiguration).length
      ) {
        return []
      }
      return this.getCurrentProduct.configurable_options
    },
    getOfflineImage () {
      return {
        src: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        error: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height),
        loading: this.getThumbnail(this.getCurrentProduct.image, config.products.thumbnails.width, config.products.thumbnails.height)
      }
    },
    getCustomAttributes () {
      return Object.values(this.attributesByCode || [])
        .filter(
          a => a.is_visible && a.is_user_defined && (parseInt(a.is_visible_on_front) || a.is_visible_on_front === true) && this.getCurrentProduct[a.attribute_code]
        )
        .sort((a, b) => { return a.attribute_id > b.attribute_id })
    },
    getAvailableFilters () {
      return getAvailableFiltersByProduct(this.getCurrentProduct)
    },
    getSelectedFilters () {
      return getSelectedFiltersByProduct(this.getCurrentProduct, this.getCurrentProductConfiguration)
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.getCurrentProduct.type_id)
    },
    isAddToCartDisabled () {
      if (this.quantityError || this.isStockInfoLoading) {
        return false
      }

      return this.isOnline && !this.maxQuantity && this.manageQuantity && this.isSimpleOrConfigurable
    },
    storeView () {
      return currentStoreView()
    },
    getJsonLd () {
      const totalRatingCount = this.getCurrentProduct.rating_count ? parseFloat(this.getCurrentProduct.rating_count.toFixed(2)) : '';
      const ratingValOut100 = totalRatingCount ? (totalRatingCount * 100) / 5 : '';

      const productPrice = (this.getCurrentProduct.price_incl_tax).toFixed(2)

      const productImageUrl = this.getThumbnail(this.getCurrentProduct.image)

      // best review data
      const schemaRatingVal = this.getCurrentProduct.best_review && this.getCurrentProduct.best_review.schema_rating_value ? Math.round(this.getCurrentProduct.best_review.schema_rating_value) : '';
      const reviewAuthor = this.getCurrentProduct.best_review && this.getCurrentProduct.best_review.schema_review_author ? this.getCurrentProduct.best_review.schema_review_author : '';
      const schemaRatingBody = this.getCurrentProduct.best_review && this.getCurrentProduct.best_review.schema_review_body ? this.getCurrentProduct.best_review.schema_review_body : '';

      const created_date = this.getCurrentProduct.best_review && this.getCurrentProduct.best_review.schema_review_created_at ? this.getCurrentProduct.best_review.schema_review_created_at : '';
      const reviewPublishDate = created_date ? created_date.slice(0, created_date.indexOf(' ')) : '';

      const schemaData = productJsonLd(this.getCurrentProduct, this.getCurrentProductConfiguration.color && this.getCurrentProductConfiguration.color.label, this.$store.state.storeView.i18n.currencyCode, this.getCustomAttributes, productPrice, productImageUrl, ratingValOut100, totalRatingCount, schemaRatingBody, schemaRatingVal, reviewPublishDate, reviewAuthor)
      return JSON.stringify(schemaData)
    },
    productRatingLength () {
      const totalRatingCount = this.getCurrentProduct.rating_count ? parseFloat(this.getCurrentProduct.rating_count.toFixed(2)) : '';
      const ratingValOut100 = totalRatingCount ? (totalRatingCount * 100) / 5 : '';
      return ratingValOut100 ? 'width:' + ratingValOut100 + '%' : 'width:0'
    }
  },
  async mounted () {
    this.getEstimationData()
    await this.$store.dispatch('recently-viewed/addItem', this.getCurrentProduct)
  },
  async asyncData ({ store, route, context }) {
    if (context) context.output.cacheTags.add('product')
    const product = await store.dispatch('product/loadProduct', { parentSku: route.params.parentSku, childSku: route && route.params && route.params.childSku ? route.params.childSku : null })
    const loadBreadcrumbsPromise = store.dispatch('product/loadProductBreadcrumbs', { product })
    if (isServer) await loadBreadcrumbsPromise
    catalogHooksExecutors.productPageVisited(product)
  },
  beforeRouteEnter (to, from, next) {
    if (isServer) {
      next()
    } else {
      next((vm) => {
        vm.getQuantity()
      })
    }
  },
  watch: {
    isOnline: {
      handler (isOnline) {
        if (isOnline) {
          this.getQuantity()
        }
      }
    },
    getCurrentProduct: {
      handler (product) {
        this.getEstimationData()
      },
      immediate: true
    }
  },
  methods: {
    scrollToOpenReviewForm () {
      const offsetTop = document.querySelector('.reviews-sec').offsetTop;
      const offset = offsetTop - 10;
      scroll({
        top: offset,
        behavior: 'smooth'
      });
    },
    async getEstimationData () {
      if (this.getCurrentProduct.stock.is_in_stock) {
        await this.$store.dispatch('estimation/getDeliveryEstimation', this.getCurrentProduct)
        this.countdown = (this.getEstimation.length) ? this.getEstimation[0].countdown : 0;
        let estimationDate = this.getEstimation.length > 0 ? this.getEstimation[0].delivery_date.split('/') : []
        estimationDate = estimationDate.length > 0 ? this.format_date(estimationDate[1] + '/' + estimationDate[0] + '/' + estimationDate[2]) : ''
        this.from_date = (estimationDate !== '') ? estimationDate : new Date(Date.now() + this.getCurrentProduct.orders_lt * 24 * 60 * 60 * 1000).toDateString();
        this.estimationMessage = this.getEstimation.length > 0 ? this.getEstimation[0].message : ''
        if (this.estimationTimer) {
          clearInterval(this.estimationTimer)
        }
        this.counter()
      }
    },
    format_date (value) {
      if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
      }
    },
    showDetails (event) {
      this.detailsOpen = true
      event.target.classList.add('hidden')
    },
    notifyOutStock () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: this.$t(
          'The product is out of stock and cannot be added to the cart!'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    notifyWrongAttributes () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t(
          'No such configuration for the product. Please do choose another combination of attributes.'
        ),
        action1: { label: this.$t('OK') }
      })
    },
    async changeFilter (variant, code) {
      let selectedIndex = this.$refs[code][0].options.selectedIndex;
      variant = variant[selectedIndex];
      const selectedConfiguration = Object.assign({ attribute_code: variant.type }, variant)
      await filterChangedProduct(selectedConfiguration, this.$store, this.$router)
      this.getQuantity()
    },
    isOptionAvailable (option) { // check if the option is available
      const currentConfig = Object.assign({}, this.getCurrentProductConfiguration)
      currentConfig[option.type] = option
      return isOptionAvailableAsync(this.$store, { product: this.getCurrentProduct, configuration: currentConfig })
    },
    async getQuantity () {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        if (config.products.alwaysSyncPricesClientSide) {
          doPlatformPricesSync([this.getCurrentProduct]);
        }
        const res = await this.$store.dispatch('stock/check', {
          product: this.getCurrentProduct,
          qty: this.getCurrentProduct.qty
        })

        this.manageQuantity = res.isManageStock
        this.maxQuantity = res.isManageStock ? res.qty : null
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    counter () {
      this.estimationTimer = setInterval(() => {
        if (this.countdown > 0) {
          this.countdown -= 1;
          var hours = Math.floor(this.countdown / 60 / 60);
          var minutes = Math.floor(this.countdown / 60) - (hours * 60);
          var seconds = this.countdown % 60;
          let countDown = hours + ' hours, ' + minutes + ' minutes, ' + seconds + ' seconds';
          if (this.estimationMessage !== '') {
            this.estimationMessagehtml = this.estimationMessage.replace('{{from_date}}', '<span class="weight-700 cl-black">' + this.from_date + '</span>').replace('{{countdown}}', '<br>' + countDown)
          }
        } else {
          clearInterval(this.estimationTimer)
        }
      }, 1000);
    }
  },
  metaInfo () {
    const storeView = currentStoreView()
    return {
      /* link: [
        { rel: 'amphtml',
          href: this.$router.resolve(localizedRoute({
            name: this.getCurrentProduct.type_id + '-product-amp',
            params: {
              parentSku: this.getCurrentProduct.parentSku ? this.getCurrentProduct.parentSku : this.getCurrentProduct.sku,
              slug: this.getCurrentProduct.slug,
              childSku: this.getCurrentProduct.sku
            }
          }, storeView.storeCode)).href
        }
      ], */
      title: htmlDecode(this.getCurrentProduct.meta_title || this.getCurrentProduct.name),
      meta: this.getCurrentProduct.meta_description ? [{ vmid: 'description', name: 'description', content: htmlDecode(this.getCurrentProduct.meta_description) }] : []
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-primary: color(primary);
$color-tertiary: color(tertiary);
$color-secondary: color(secondary);
$color-white: color(white);
$black: color(black);
$gray-808182: color(gray-808182);
$bg-secondary: color(secondary, $colors-background);
$green-3C967B: color(green-3C967B);
$gray-888888: color(gray-888888);
$blue: color(blue);
.product {
  &__add-to-compare {
    display: none;
    @media (min-width: 767px) {
      display: block;
    }
  }
}

.breadcrumbs {
  @media (max-width: 767px) {
    margin: 15px 0;
    padding: 15px 0 0 15px;
  }
}

.product-sku {
  font-size: 16px;
  margin-bottom: 10px;
  color: $gray-808182;
}

.error {
  color: red;
  font-weight: bold;
  padding-bottom: 15px;
}
.data {
  @media (max-width: 1024px) {
    flex-basis: 50%;
    max-width: 50%;
  }
  @media (max-width: 767px) {
    border-bottom: 1px solid $bg-secondary;
    flex-basis: 100%;
    max-width: 100%;
  }
}

.image {
  @media (max-width: 1023px) {
    margin-bottom: 20px;
  }
}

.product-name {
  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.variants-label {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.product-top-section {
  padding-bottom: 80px;

  @media (max-width: 767px) {
    padding: 0;
    background-color: $color-white;
  }
}

.details {
  @media (max-width: 767px) {
    padding: 50px 15px 15px;
  }
}

.details-title {
  padding: 0 8px;

  @media (max-width: 767px) {
    font-size: 18px;
    margin: 0;
  }
}

.details-wrapper {
  @media (max-width: 767px) {
    position: relative;
    max-height: 140px;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 14px;
  }

  &--open {
    max-height: none;
  }
}

.details-overlay {
  @media (max-width: 767px) {
    position: absolute;
    height: 75%;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    cursor: pointer;
    background: linear-gradient(rgba($color-white, 0), rgba($color-white, 1));
    &.hidden {
      display: none;
    }
  }
}

.action {
  &:hover {
    color: $color-tertiary;
  }
}

.attributes {
  list-style-type: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.product-image {
  mix-blend-mode: multiply;
  width: 460px;
}
.variants {
  .variants-label {
    color: $gray-888888;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
  }
  .select-box {
    position: relative;
    select {
      border-radius: 0;
      border-color: $black;
      height: 50px;
      background-color: transparent;
      padding: 0 15px;
      min-width: 110px;
      appearance: none;
      line-height: normal;
    }
    &:after {
      content: "";
      position: absolute;
      right: 12px;
      top: 0;
      bottom: 0;
      margin: auto;
      border-left: 2px solid $black;
      border-bottom: 2px solid $black;
      width: 7px;
      height: 7px;
      transform: rotate(-45deg);
      pointer-events: none;
    }
    @media (max-width: 767px) {
      select {
        height: 40px;
      }
      &:after {
        width: 6px;
        height: 6px;
      }
    }
  }
}
@media (max-width: 767px) {
  .variants-wap {
    .variants-wrapper > div {
      max-width: 100%;
    }
    .variants {
      max-width: calc(100% - 108px);
      .select-box {
        max-width: 100%;
        select {
          min-width: auto;
          max-width: 100%;
          padding-right: 20px;
        }
      }
    }
    .mr60 {
      margin-right: 20px;
    }
  }
}
.product-reviews-summary {
    padding: 10px 0;
    a {
      color: $blue;
      margin-left: 10px;
    }
    @media (min-width: 768px) {
      display: flex;
    }
    &.short{
      .rating-summary{
        background: url(/assets/icons/star.png);
        width: 100px;
        height: 20px;
        .rating-result{
          background: url(/assets/icons/star-active.png);
          display: block;
          height: 20px;
        }
      }
      .reviews-actions{
        cursor: pointer;
        font-size: 14px;
        line-height: 1.2;
        margin-left: 5px;
      }
    }
  }
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$green-3C967B: color(green-3C967B);
$black: color(black);
$white: color(white);
$green-36B289: color(green-36B289);
$gray-888888: color(gray-888888);
$mine-shaft: color(mine-shaft);
.product-top-section {
  .product-image {
    padding-bottom: 79% !important;
  }
  .data {
    .price {
      .h2 {
        color: $green-3C967B;
        font-size: 24px;
        font-family: 'Aller', sans-serif;
      }
    }
    .qty-element-label {
      width: 100%;
      color: $gray-888888;
      font-size: 14px;
      text-transform: uppercase;
      font-weight: 500;
    }
    .product-quantity {
      .flex {
        flex-wrap: wrap;
      }
      .minusplusnumber {
        border-radius: 0;
        border-color: $black;
        height: 50px;
        #field_container {
          input {
            height: 48px;
            padding: 0;
            color: $black;
            font-size: 16px;
          }
        }
      }
    }
    .bg-cl-th-secondary {
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      line-height: 52px;
      text-transform: uppercase;
      background-color: $green-36B289;
      svg {
        margin-right: 10px;
      }
      @media (max-width: 991px) {
        min-width: 230px;
      }
      &:hover {
        background-color: $mine-shaft;
      }
    }
    .add-to-buttons {
      button {
        width: 52px;
        border: solid 1px $black;
        height: 52px;
        justify-content: center;
        color: $black;
        font-size: 0;
        path {
          transition: 0.5s;
        }
        i {
          padding: 0;
        }
        &:hover,
        &.active {
          border-color: $green-36B289;
          background-color: $green-36B289;
          color: $white;
          path {
            stroke: $white;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    .product-image {
      padding-bottom: 100% !important;
    }
    .data {
      border-bottom: 0;
      .bg-cl-th-secondary {
        min-width: 230px;
      }
      .price {
        margin-top: 15px;
        margin-bottom: 20px;
        .h2 {
          font-size: 16px;
        }
      }
      .product-quantity {
        .minusplusnumber {
          height: 40px;
          #field_container {
            input {
              height: 38px;
              font-size: 14px;
            }
            button {
              padding: 3px 10px;
            }
          }
        }
      }
      .button-wrap {
        > .row {
          width: 100%;
          .bg-cl-th-secondary {
            line-height: 40px;
            height: 40px;
            font-size: 14px;
            svg {
              display: none;
            }
          }
        }
        .add-to-buttons {
          button {
            height: 40px;
            width: 40px;
            padding: 10px;
            i {
              font-size: 18px;
            }
          }
        }
      }
      .tabs__light {
        .tabs__header {
          li {
            width: 50%;
            text-align: center;
            &:after {
              width: 65%;
              left: 0;
              right: 0;
              margin: auto;
            }
          }
        }
        .tab {
          padding: 20px 18px;
          font-size: 12px;
        }
      }
    }
    .product-name {
      font-size: 20px;
    }
    .product-sku {
      font-size: 12px;
    }
  }
}
.productEstimationDate {
  border: solid 1px #ddd;
  padding: 10px;
  color: #36B289;
  // background-color:rgba(54, 176, 135, 5);
   @media (max-width: 425px) {
     br {
        display:none
     }
   }
}
</style>
