<template>
  <div>
    <promotional-bar />
    <div class="cms-page-title">
      <div class="container">
        <h1 class="title">
          {{ $props.title }}
        </h1>
      </div>
    </div>
    <div class="container static-container pt45 pb70">
      <div class="row pt0">
        <div class="col-lg-3 col-md-3 col-xs-12">
          <nav class="static-menu serif h4 mb35">
            <ul class="m0 p0">
              <li class="mb10" v-for="element in navigation" :key="element.id">
                <router-link :to="localizedRoute(element.link)" class="cl-accent relative">
                  {{ element.title }}
                </router-link>
              </li>
            </ul>
          </nav>
        </div>
        <div class="static-content  col-lg-9 col-md-9 col-xs-12">
          <component :is="activeComponent" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import i18n from '@vue-storefront/i18n'
import StaticExample from 'theme/components/theme/blocks/Static/Example'
import PromotionalBar from 'theme/components/theme/PromotionalBar'

export default {
  components: {
    PromotionalBar
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || this.$props.title,
      meta: this.$route.meta.description ? [{ vmid: 'description', description: this.$route.meta.description }] : []
    }
  },
  props: {
    title: {
      type: String,
      required: true
    },
    page: {
      type: String,
      required: true
    }
  },
  computed: {
    activeComponent () {
      const matchedNav = this.navigation.find(nav => nav.link.includes(this.$route.path))
      return matchedNav ? matchedNav.component : null
    }
  },
  data () {
    return {
      navigation: [
        { title: i18n.t('About us'), link: '/about-us', component: StaticExample },
        { title: i18n.t('Delivery'), link: '/delivery', component: StaticExample },
        { title: i18n.t('Return policy'), link: '/returns-and-refunds', component: StaticExample },
        { title: i18n.t('Terms conditions'), link: '/terms-conditions', component: StaticExample }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$border-primary: color(primary, $colors-border);

$color-white: color(white);
$color-black: color(black);
$gray-A6A6A6: color(gray-A6A6A6);
$gray-DDDDDD: color(gray-DDDDDD);
$gray-404040: color(gray-404040);
$gray-888888: color(gray-888888);
$green-3C967B: color(green-3C967B);
$gray-DBDBDB: color(gray-DBDBDB);

.cms-page-title{
    text-align: center;
    background:$color-black; padding:60px 0;
    .title {
      font-size:40px;
      color:$color-white;
      margin-bottom: 10px;
      @media (max-width: 767px) {
        font-size: 24px;
      }
      @media (max-width:500px) {
        color:$color-black;
        font-size:18px;
        margin-bottom: 0;
        border-bottom: solid 1px $gray-DBDBDB;
        padding-bottom: 20px;
      }
    }
    p {
      font-size: 16px;
      color:$color-white;
      line-height: 150%;
    }
    .container {
      max-width: 730px;
      margin: 0 auto;
    }
    @media (max-width:500px) {
      background: none;
      padding-top:20px;
      p{display: none;}
      padding-bottom: 0;
    }
  }

.static-menu {
  ul {
    list-style: none;
    li{
      margin: 0 0 30px 0;
      a{
        font-family: Aller;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        padding:0 0;
        color: $gray-404040;
        display: block;
        &:hover{
          color:$green-3C967B;
        }
      }
    }
  }
  a.router-link-exact-active{font-weight: bold;  color:$green-3C967B;}
  a:hover::after,
  .router-link-active::after {
    opacity: 0;
  }
}

.static-content {
  *:first-of-type {
    margin-top: 0;
  }
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';

$color-black: color(black);
$gray-888888: color(gray-888888);

.static-content {
  p{
    font-size:14px;
    color:$gray-888888;
    font-family: Aller;
    line-height:20px;
  }
  h2{
    font-size:14px;
    color:$color-black;
    font-family: Aller;
    line-height:20px;
    font-weight: 700;;
  }
  h3 {
    margin-top:0px;
    margin-bottom: 15px;
    @media (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
}
 @media (max-width:475px) {
   .default-layout{
     .static-container{ padding: 15px 15px 45px 15px;}
     .static-menu{display: none;}
   }
  }
</style>
