<template>
  <div
    class="searchpanel fixed mw-100 bg-cl-white cl-accent"
    data-testid="searchPanel"
  >
    <div class="close-icon-row">
      <i
        class="material-icons pointer cl-accent close-icon"
        @click="closeSearchpanel"
        data-testid="closeSearchPanel"
      >
        close
      </i>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12 end-xs">
          <label for="search" class="visually-hidden">
            {{ $t('Search') }}
          </label>
          <div class="search-input-group">
            <i class="search-icon">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.7781 20.5561C16.1785 20.5561 20.5563 16.1783 20.5563 10.778C20.5563 5.3776 16.1785 0.999756 10.7781 0.999756C5.37782 0.999756 1 5.3776 1 10.778C1 16.1783 5.37782 20.5561 10.7781 20.5561Z" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M23 23.0002L17.6831 17.6833" stroke="black" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
            </i>
            <input
              ref="search"
              id="search"
              v-model="search"
              @input="makeSearch"
              @blur="$v.search.$touch()"
              class="search-panel-input"
              :placeholder="$t('Type what you are looking for...')"
              type="search"
              autofocus="true"
            >
          </div>
        </div>
      </div>
      <div v-if="visibleProducts.length && categories.length > 1" class="categories">
        <category-panel :categories="categories" v-model="selectedCategoryIds" />
      </div>
      <div class="product-listing row">
        <product-tile
          v-for="product in visibleProducts"
          :key="product.id"
          :product="product"
          @click.native="closeSearchpanel"
        />
        <transition name="fade">
          <div
            v-if="getNoResultsMessage"
            class="no-results relative center-xs h4 col-md-12"
          >
            {{ $t(getNoResultsMessage) }}
          </div>
        </transition>
      </div>
      <div
        v-show="OnlineOnly"
        v-if="visibleProducts.length >= 18"
        class="buttons-set align-center py35 mt20 px40"
      >
        <button
          @click="seeMore" v-if="readMore"
          class="no-outline brdr-none py15 px20 bg-cl-mine-shaft :bg-cl-th-secondary cl-white fs-medium-small"
          type="button"
        >
          {{ $t('Load more') }}
        </button>
        <button
          @click="closeSearchpanel"
          class="no-outline brdr-none p15 fs-medium-small close-button"
          type="button"
        >
          {{ $t('Close') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel'
import ProductTile from 'theme/components/core/ProductTile'
import VueOfflineMixin from 'vue-offline/mixin'
import CategoryPanel from 'theme/components/core/blocks/Category/CategoryPanel'
import { minLength } from 'vuelidate/lib/validators'
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'
import fbqSearch from 'src/modules/vsf-facebook-pixel/components/Search'

export default {
  components: {
    ProductTile,
    CategoryPanel
  },
  mixins: [SearchPanel, VueOfflineMixin, fbqSearch('search')],
  validations: {
    search: {
      minLength: minLength(3)
    }
  },
  data () {
    return {
      selectedCategoryIds: []
    }
  },
  computed: {
    visibleProducts () {
      const productList = this.products || []
      if (this.selectedCategoryIds.length) {
        return productList.filter(product => product.category_ids.some(categoryId => {
          return this.selectedCategoryIds.includes(categoryId)
        }))
      }
      return productList
    },
    categories () {
      const categories = this.products
        .filter(p => p.category)
        .map(p => p.category)
        .flat()

      const distinctCategories = Array.from(
        new Set(categories.map(c => c.category_id))
      ).map(catId => categories.find(c => c.category_id === catId))

      return distinctCategories
    },
    getNoResultsMessage () {
      let msg = ''
      if (!this.$v.search.minLength) {
        msg = 'Searched term should consist of at least 3 characters.'
      } else if (this.emptyResults) {
        msg = 'No results were found.'
      }
      return msg
    }
  },
  watch: {
    categories () {
      this.selectedCategoryIds = []
    }
  },
  mounted () {
    // add autofocus to search input field
    this.$refs.search.focus()
    disableBodyScroll(this.$el)
  },
  destroyed () {
    clearAllBodyScrollLocks()
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import "~theme/css/variables/grid";
@import "~theme/css/variables/typography";
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$mine-shaft: color(mine-shaft);
$primary: color(primary);
$black: color(black);
$gray-E3E3E3: color(gray-E3E3E3);
$gray-808182: color(gray-808182);
.searchpanel {
  height: 100vh;
  width: 800px;
  top: 0;
  right: 0;
  z-index: 3;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  padding-top: 80px;
  padding-bottom: 30px;
  min-height: 100%;
  .close-icon-row {
    display: flex;
    justify-content: flex-end;
    color:$black;
    position: absolute;
    right: 34px;
    top: 44px;
    padding: 0;
    opacity: 1;
    i {
      opacity: 1;
      padding: 0;
      color: inherit;
    }
    &:hover{
      color: $primary;
    }
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;

    @media #{$media-xs} {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .row {
    margin-left: - map-get($grid-gutter-widths, lg) / 2;
    margin-right: - map-get($grid-gutter-widths, lg) / 2;

    @media #{$media-xs} {
      margin-right: - map-get($grid-gutter-widths, xs) / 2;
      margin-left: - map-get($grid-gutter-widths, xs) / 2;
    }
  }

  .col-md-12 {
    padding-left: map-get($grid-gutter-widths, lg) / 2;
    padding-right: map-get($grid-gutter-widths, lg) / 2;

    @media #{$media-xs} {
      padding-left: map-get($grid-gutter-widths, xs) / 2;
      padding-right: map-get($grid-gutter-widths, xs) / 2;
    }
  }

  .product-listing {
    padding-top: 10px;
    margin: 0 -10px;
  }

  .product {
    box-sizing: border-box;
    width: 33.33%;
    padding-left: 10px;
    padding-right: 10px;

    @media #{$media-xs} {
      width: calc(50% - 10px);
      margin-bottom: 15px !important;
      &:nth-child(2n){
        margin-left: auto;
      }
    }
  }

  .close-icon {
    padding: 18px 8px;
  }
  .search-input-group {
    display: flex;
    border-bottom: 1px solid $gray-E3E3E3;
    padding-bottom: 10px;
    margin-bottom: 20px;
    .search-icon {
      width: 42px;
      height: 40px;
      display: flex;
      align-items: center;
      opacity: 1;
    }
    .search-panel-input {
      width: 100%;
      height: 40px;
      padding-bottom: 0;
      padding-top: 2px;
      border: none;
      outline: 0;
      font-size: 24px;
      font-family: map-get($font-families, secondary);
      color: $mine-shaft;
      &::placeholder {
        opacity: 1;
        color: $mine-shaft;
      }
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoratio {
        appearance:none;
      }
      @media #{$media-xs} {
        font-size: 16px;
      }
    }
  }

  .no-results {
    top: 80px;
    width: 100%;
  }

  i {
    opacity: 0.6;
  }

  i:hover {
    opacity: 1;
  }

  .close-button {
    background: #fff;
  }

  button {
    @media #{$media-xs} {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  @media #{$media-xs} {
    padding-top: 75px;
    padding-bottom: 20px;
    position: static;
    .close-icon-row {
      right: 15px;
      top: 15px;
    }
    .search-input-group {
      border: 1px solid $gray-808182;
      padding-bottom: 0;
      margin-bottom: 20px;
      .search-icon {
        width: 45px;
        justify-content: center;
        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
    .product-listing {
      padding-top: 5px;
    }
  }
}
</style>
<style lang="scss">
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$z-index-notification: map-get($z-index, notification) + 2;
.default-layout {
  .notifications {
    z-index: $z-index-notification;
  }
  .right-sidebar {
   z-index: 1001;
   background-color: $white;
  }
  @media (max-width: 767px) {
    div.search-sidebar {
      max-width: 100%;
      width: 100%;
    }
  }
}
</style>
