<template>
  <div class="categories">
    <div
      class="categories__handler"
    >
      <h4 class="categories__heading">
        {{ $t('Filter by categories') }}
      </h4>

      <template v-for="category in categories">
        <button
          :key="category.category_id"
          class="categories__button no-outline bg-cl-transparent py10 px20"
          :class="{ 'categories__button--active': value.includes(category.category_id) }"
          type="button"
          @click="toggleCategory(category)"
        >
          {{ category.name }}
        </button>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Array,
      required: true
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
    }
  },
  methods: {
    toggleCategory (category) {
      const isSelected = this.value.includes(category.category_id)
      if (isSelected) {
        this.$emit('input', this.value.filter(categoryId => categoryId !== category.category_id))
      } else {
        this.$emit('input', [...this.value, category.category_id])
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
$gray-E3E3E3: color(gray-E3E3E3);
$mine-shaft: color(mine-shaft);
$white: color(white);
$green-3C967B: color(green-3C967B);
$gray-1A1A1A: color(gray-1A1A1A);
$break-large: 1030px;

.categories {
  &__heading {
    width: 100%;
    color: $black;
    font-size: 24px;
    line-height: 145%;
    margin-bottom: 20px;
  }

  &__handler {
    display: flex;
    flex-wrap: wrap;
  }

  &__button {
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid $gray-E3E3E3;
    transition: all 0.3s ease;
    padding: 12px 20px;
    line-height: 15px;
    font-size: 12px;
    font-family: 'Aller', sans-serif;
    color: $gray-1A1A1A;
    text-decoration: none;
    &--active {
      background: $black;
      color: $white;
      border-color: $black;
    }
    @media screen and (min-width: $break-large) {
      &:hover{
        background: $black;
        border-color: $black;
        color: $white;
      }
    }
  }

  &__button-text {
    display: block;
    margin-right: 15px;
  }
  @media only screen and (max-width: 767px) {
    &__heading {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
      color: $mine-shaft;
    }
    &__button {
      padding: 8px 10px;
      margin-right: 5px;
      margin-bottom: 5px;
      color: $mine-shaft;
      &--active {
        color: $white;
      }
    }
  }
}
</style>
