<template>
  <div class="sidebar">
    <h4 class="sidebar__header relative pb20 mb30 flex">
      <span class="filter-sidebar-title uppercase weight-700"> {{ $t('Filter') }} </span>
      <span
        class="weight-400 sidebar__header__clear f-s-12 aller pointer flex middle-xs"
        @click="resetAllFilters"
        v-show="hasActiveFilters"
      >
        <i class="material-icons cl-accent mr5">
          cancel
        </i>
        {{ $t('Clear filters') }}
      </span>
    </h4>
    <div class="filters-row-wrap">
      <div class="filters-row active" :class="'fcontent-' + accType + 1">
        <h5 @click="openAccordian(accType + 1)">
          <span class="material-icons">arrow_drop_down</span> {{ $t('Categories') }}
        </h5>
        <div class="filters-content">
          <sub-category-filter :catdata="customCate" />
        </div>
      </div>
      <div :class="'filters-row fcontent-' + accType + (filterIndex + 3)"
           v-for="(filter, filterIndex) in availableFilters"
           :key="filterIndex"
      >
        <div class="filters-item" v-if="filterIndex==='weight_kg'">
          <h5 @click="openAccordian(accType + (filterIndex + 3))">
            <span class="material-icons">arrow_drop_down</span> {{ $t('Weight') }}
          </h5>
          <div class="filters-content">
            <div>
              <weight-selector-filter
                context="category"
                class="check-select mb10 block"
                code="weight"
                v-for="(weight, index) in filter"
                :key="index"
                :id="weight.id"
                :content="weight.label"
                :variant="weight"
                :selected-filters="getCurrentFilters"
                @change="$emit('changeFilter', $event)"
              />
            </div>
          </div>
        </div>
        <div class="filters-item" v-else-if="filterIndex==='price'">
          <h5 @click="openAccordian(accType + (filterIndex + 3))">
            <span class="material-icons">arrow_drop_down</span> {{ $t('Price') }}
          </h5>
          <div class="filters-content">
            <div>
              <price-selector
                context="category"
                class="price-select mb10 block"
                code="price"
                v-for="(price, index) in filter"
                :key="index"
                :id="price.id"
                :from="price.from"
                :to="price.to"
                :content="price.label"
                :variant="price"
                :selected-filters="getCurrentFilters"
                @change="$emit('changeFilter', $event)"
              />
            </div>
          </div>
        </div>
        <div v-else class="filters-item">
          <h5 @click="openAccordian(accType + (filterIndex + 3))">
            <span class="material-icons">arrow_drop_down</span> {{ $t(filterIndex) }}
          </h5>
          <div class="filters-content">
            <div>
              <weight-selector-filter
                context="category"
                class="check-select mb10 block"
                :code="filterIndex"
                v-for="(generic, index) in filter"
                :key="index"
                :id="generic.id"
                :content="generic.label"
                :variant="generic"
                :selected-filters="getCurrentFilters"
                @change="$emit('changeFilter', $event)"
              />
            </div>
          </div>
          <div class="sidebar__inline-selecors">
            <generic-selector
              context="category"
              class="mr10 mb10 block"
              :code="filterIndex"
              v-for="(option, index) in filter"
              :key="index"
              :variant="option"
              :selected-filters="getCurrentFilters"
              @change="$emit('changeFilter', $event)"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PriceSelector from 'theme/components/core/PriceSelector'
import WeightSelectorFilter from 'theme/components/core/WeightSelectorFilter'
import pickBy from 'lodash-es/pickBy'
import SubCategoryFilter from 'theme/components/core/blocks/Category/SubCategoryFilter'
import { mapGetters } from 'vuex'
import GenericSelector from 'theme/components/core/GenericSelector'

export default {
  data () {
    return {
      activeAcordian: null,
      customCate: []
    }
  },
  created () {
    this.getChildCategories();
  },
  watch: {
    $route (to, from) {
      if (to.fullPath !== from.fullPath) {
        this.getChildCategories();
      }
    }
  },
  components: {
    PriceSelector,
    SubCategoryFilter,
    WeightSelectorFilter,
    GenericSelector
  },
  props: {
    filters: {
      type: Object,
      required: true
    },
    accType: {
      type: String,
      default: 'desktop',
      required: true
    }
  },
  computed: {
    hasActiveFilters () {
      return this.$store.getters['category-next/hasActiveFilters']
    },
    getCurrentFilters () {
      return this.$store.getters['category-next/getCurrentFilters']
    },
    availableFilters () {
      return pickBy(this.filters, (filter, filterType) => { return (filter.length && !this.$store.getters['category-next/getSystemFilterNames'].includes(filterType)) })
    },
    ...mapGetters({
      getCurrentCategory: 'category-next/getCurrentCategory',
      getMenuCategories: 'category-next/getMenuCategories'
    }),
    getCategories () {
      return this.getMenuCategories
    }
  },
  methods: {
    openAccordian (digit) {
      if (this.activeAcordian !== null && this.activeAcordian !== digit) {
        document.getElementsByClassName(`fcontent-${this.activeAcordian}`)[0].classList.remove('active')
      }
      this.activeAcordian = this.activeAcordian === digit ? null : digit
      document.getElementsByClassName(`fcontent-${digit}`)[0].classList.toggle('active')
    },
    resetAllFilters () {
      this.$store.dispatch('category-next/resetSearchFilters')
    },
    sortById (filters) {
      return [...filters].sort((a, b) => { return a.id - b.id })
    },
    getChildCategories (category = null) {
      if (category === null) {
        category = this.getCategories;
      }
      let currentCat = this.getCurrentCategory;
      if (currentCat.children_count === 0) {
        var parentCategory = category.filter(cat => {
          if (currentCat.parent_id === 2) {
            if (cat.parent_id === 2) {
              if (this.customCate.findIndex(ct => ct.id === cat.id) === -1) {
                this.customCate.push(cat);
              }
            }
          } else if (currentCat.parent_id === cat.id) {
            this.customCate = cat.children_data;
          } else {
            if (cat.children_count > 0) {
              this.getChildCategories(cat.children_data);
            }
          }
        });
      } else {
        this.customCate = this.getCurrentCategory.children_data;
      }
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-event: color(tertiary);
$color-active: color(accent);
$gray-EAEAEC: color(gray-EAEAEC);
$gray: color(gray);
$color-secondary: color(secondary);

#app{
.sidebar {
  &__header {
    justify-content: space-between;
    &__clear {
      @media only screen and (min-width: 768px) and (max-width: 770px) {
        margin-top: 20px;
      }
    }
  }

  &__inline-selecors {
    display: flex;
  }
  .filter-sidebar-title {
    font-size: 18px;
  }
  .sidebar__header .sidebar__header__clear{
    font-size:12px;
    min-width: inherit;
    display: flex;
    align-items: center;
  }
  .filters-content{display:none;}
  .filters-row{
    border-bottom: solid 1px $gray-EAEAEC; padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 16px;
    h5{cursor: pointer;}
    &:first-child{padding-top: 0;}
    &:last-child{border: 0; padding-bottom: 0;}
  }
  .categories-select{
    color: $gray;
    font-size: 14px;
    font-family: 'Aller';
    padding-bottom:10px;
    &:last-child {
      padding-bottom: 0;
    }
    a{
      color: $gray;
      &.router-link-exact-active,
      &:hover{
        color: $color-secondary;
      }
    }
  }
}
.filters-row.active {
   .material-icons{transform:inherit;}
  .filters-content{ display: block;}
  }
}
</style>
