<template>
  <div v-if="catdata">
    <div class="sub-categories" v-if="catdata.length > 0">
      <div v-for="category in catdata" :key="category.id" class="categories-select">
        <no-ssr>
          <router-link
            class="no-underline"
            :class="{'active': category.id === catdata.id}"
            :to="categoryLink(category)"
          >
            <span class="menu-link">{{ category.name }}</span>
            <span>{{ '(' + productCountTotal(category) + ')' }}</span>
          </router-link>
        </no-ssr>
      </div>
    </div>
  </div>
</template>
<script>
import NoSSR from 'vue-no-ssr'
import { mapGetters } from 'vuex';
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'

export default {
  components: {
    'no-ssr': NoSSR
  },
  props: {
    catdata: {
      type: Array,
      default: () => {},
      required: false
    }
  },
  computed: {
    ...mapGetters({
      getCurrentSearchQuery: 'category-next/getCurrentSearchQuery',
      getCategoryProducts: 'category-next/getCategoryProducts',
      getCurrentCategory: 'category-next/getCurrentCategory',
      getCategoryProductsTotal: 'category-next/getCategoryProductsTotal',
      getAvailableFilters: 'category-next/getAvailableFilters'
    })
  },
  methods: {
    productCountTotal (cat) {
      var sumArray = []
      var sum = 0;
      if (this.getCurrentCategory.id === cat.id || cat.children_count === 0) {
        sumArray.push(cat.product_count);
      } else if (typeof cat.children_data !== 'undefined' && cat.children_data.length > 0) {
        cat.children_data.filter((child_data) => {
          sumArray.push(child_data.product_count);
          this.productCountTotal(child_data);
        })
      }
      sum = sumArray.reduce((a, b) => {
        return a + b;
      }, 0);
      return sum;
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>
