<template>
  <button class="brdr-none bg-cl-transparent p0 middle-xs inline-flex cl-secondary weight-400 h4 sans-serif fs-medium">
    <span class="clearcart-btn cl-accent">
      <i class="material-icons cl-accent mr5">
        cancel
      </i>
      {{ $t('Clear cart') }}
    </span>
  </button>
</template>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$mine-shaft: color(mine-shaft);
$primary: color(primary);
$black: color(black);
$green-3C967B: color(green-3C967B);
.clearcart {
  &-btn {
    display: flex;
    align-items: center;
  }
}
.clearcart-col {
  .clearcart-btn {
    font-size: 14px;
    color: $black;
    transition: 0.5s;
    @media only screen and (max-width: 767px) {
      font-size: 12px;
    }
    i {
      color: inherit;
      font-size: 19px;
      margin-right: 8px;
      @media only screen and (max-width: 767px) {
        font-size: 16px;
      }
    }
    &:hover {
      color: $green-3C967B;
    }
  }
}
</style>
