<template>
  <div
    class="microcart cl-accent relative"
    :class="[productsInCart.length ? 'bg-cl-white' : 'bg-cl-white']"
    data-testid="microcart"
  >
    <transition name="fade">
      <div v-if="isEditMode" class="overlay" @click="closeEditMode" />
    </transition>
    <div class="row bg- px40 actions">
      <div class="col-xs end-xs">
        <button
          type="button"
          class="p0 brdr-none bg-cl-transparent close"
          @click="closeMicrocartExtend"
          data-testid="closeMicrocart"
        >
          <i class="material-icons py20 cl-accent">
            close
          </i>
        </button>
      </div>
    </div>
    <div class="row middle-xs top-sm px40 actions">
      <div class="col-xs-7 col-sm">
        <h2
          v-if="productsInCart.length"
          class="cl-accent mb10 cart-title"
        >
          {{ $t('Shopping cart') }}
        </h2>
      </div>
      <div class="col-xs-5 col-sm mb10 end-sm clearcart-col">
        <clear-cart-button
          v-if="productsInCart.length"
          @click.native="clearCart"
        />
      </div>
    </div>

    <h4 v-if="!productsInCart.length" class="cl-accent ml30">
      {{ $t('Your shopping cart is empty.') }}
    </h4>
    <div v-if="!productsInCart.length" class="ml30" @click="closeMicrocartExtend">
      {{ $t("Don't hesitate and") }}
      <router-link :to="localizedRoute('/')" class="cl-secondary">
        {{ $t('browse our catalog') }}
      </router-link>
      {{ $t('to find something beautiful for You!') }}
    </div>
    <ul v-if="productsInCart.length" class="m0 px40 products">
      <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
    </ul>
    <div v-if="productsInCart.length" class="summary px40 cl-accent serif">
      <!-- <h3 class="m0 pt40 mb30 weight-400 summary-heading">
        {{ $t('Shopping summary') }}
      </h3> -->
      <hr>
      <div v-for="(segment, index) in totals" :key="index" class="row pt20" v-if="segment.code !== 'grand_total' && segment.code !== 'initial_fee'">
        <div class="col-xs">
          {{ segment.title }}
          <button v-if="appliedCoupon && segment.code === 'discount'" type="button" class="p0 brdr-none bg-cl-transparent delete-button ml10" @click="clearCoupon">
            <i class="material-icons cl-accent">
              close
            </i>
          </button>
        </div>
        <div v-if="segment.value != null" class="col-xs align-right">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
      <div class="row pt20 pb20">
        <div v-if="OnlineOnly && !addCouponPressed" class="col-xs-12">
          <button
            class="p0 brdr-none serif fs-medium-small cl-accent bg-cl-transparent add-discount"
            type="button"
            @click="addDiscountCoupon"
          >
            {{ $t('Add a discount code') }}
          </button>
          <span v-if="!appliedCoupon" class="pull-right weight-700 ">{{ $t('N/A') }}</span>
        </div>
        <div v-if="OnlineOnly && addCouponPressed" class="col-xs-12 coupon-wrapper">
          <div class="coupon-input">
            <label class="h6 cl-secondary">{{ $t('Discount code') }}</label>
            <base-input type="text" id="couponinput" :autofocus="true" v-model.trim="couponCode" @keyup.enter="setCoupon" />
          </div>
          <button-outline color="dark" :disabled="!couponCode" @click.native="setCoupon" class="mt25">
            {{ $t('Add discount code') }}
          </button-outline>
        </div>
      </div>
      <div class="row pt20 grand-total pb20 weight-700 middle-xs" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
        <div class="col-xs total-price-label">
          {{ segment.title }}
        </div>
        <div class="col-xs align-right total-price-value">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
    </div>

    <div
      class="row py20 px40 middle-xs actions"
      v-if="productsInCart.length && !isCheckoutMode"
    >
      <div class="col-xs-7 col-sm-6 first-sm">
        <router-link :to="localizedRoute('/')" class="no-underline cl-black return-shopping link">
          <span @click="closeMicrocartExtend">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15 8.5H1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M8 15.5L1 8.5L8 1.5" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            {{ $t('Return to shopping') }}
          </span>
        </router-link>
      </div>
      <div class="col-xs-5 first-xs col-sm-6 end-sm checkout-button">
        <button-full
          :link="{ name: 'checkout' }"
          @click="closeMicrocartExtendCheckout"
        >
          {{ $t('Order with Paypal/Card') }}
        </button-full>
        <button-full
          :link="{ name: 'checkout', hash: '#klarna' }"
          @click="closeMicrocartExtendCheckout"
          class="brdr-none px10 py20 bg-cl-secondary no-underline pointer align-center"
        >
          {{ $t('Order with klarna') }}
        </button-full>
      </div>
    </div>
    <div class="row px40 cart-payments">
      <div class="col-xs-12 col-sm-3 secure">
        <p><img src="/assets/secure.svg" alt="">{{ $t('100% Secure & Guaranteed Payments') }}</p>
      </div>
      <div class="col-xs-12 col-sm-9 cards align-right">
        <div class="cart-card">
          <svg width="60" height="42" viewBox="0 0 60 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.700195" width="59" height="40.1429" rx="5.5" fill="white" stroke="#D9D9D9" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M9.2986 26.5654H6.85718V15.6289H9.2986V26.5654ZM15.3938 15.6289H13.0054C13.0054 17.6415 12.1053 19.4887 10.536 20.6973L9.58977 21.4258L13.2563 26.5658H16.2708L12.8972 21.8362C14.4964 20.1991 15.3938 17.9966 15.3938 15.6289ZM19.2879 26.5624H16.9823V15.631H19.2879V26.5624ZM26.254 19.0007V19.4844C25.6319 19.0481 24.881 18.7917 24.0711 18.7917C21.9276 18.7917 20.19 20.5781 20.19 22.7817C20.19 24.9854 21.9276 26.7717 24.0711 26.7717C24.881 26.7717 25.6319 26.5153 26.254 26.0791V26.5624H28.4562V19.0007H26.254ZM26.2473 22.7818C26.2473 23.8562 25.3539 24.7273 24.2518 24.7273C23.1499 24.7273 22.2565 23.8562 22.2565 22.7818C22.2565 21.7073 23.1499 20.8364 24.2518 20.8364C25.3539 20.8364 26.2473 21.7073 26.2473 22.7818ZM49.4865 19.4844V19.0007H51.6886V26.5624H49.4865V26.0791C48.8644 26.5153 48.1135 26.7717 47.3035 26.7717C45.16 26.7717 43.4224 24.9854 43.4224 22.7817C43.4224 20.5781 45.16 18.7917 47.3035 18.7917C48.1135 18.7917 48.8644 19.0481 49.4865 19.4844ZM47.4843 24.7273C48.5863 24.7273 49.4796 23.8562 49.4796 22.7818C49.4796 21.7073 48.5863 20.8364 47.4843 20.8364C46.3822 20.8364 45.4889 21.7073 45.4889 22.7818C45.4889 23.8562 46.3822 24.7273 47.4843 24.7273ZM52.6444 25.3012C52.6444 24.5164 53.2631 23.8804 54.0262 23.8804C54.7894 23.8804 55.4082 24.5164 55.4082 25.3012C55.4082 26.0857 54.7894 26.7218 54.0262 26.7218C53.2631 26.7218 52.6444 26.0857 52.6444 25.3012ZM39.5092 18.7973C38.6295 18.7973 37.797 19.0781 37.2404 19.8527V19.0012H35.0477V26.5624H37.2673V22.5887C37.2673 21.4388 38.0173 20.8757 38.9204 20.8757C39.8882 20.8757 40.4446 21.4701 40.4446 22.573V26.5624H42.6442V21.7538C42.6442 19.9941 41.2832 18.7973 39.5092 18.7973ZM31.8628 19.0008V19.9857C32.3043 19.3949 33.1268 19.0013 34.0211 19.0013V21.2016C34.017 21.2016 34.0129 21.2013 34.0089 21.2011L34.0089 21.2011C34.0043 21.2009 33.9997 21.2006 33.9949 21.2006C33.1236 21.2006 31.8679 21.8409 31.8679 23.032V26.5624H29.6082V19.0008H31.8628Z" fill="#FEB4C7" />
          </svg>
          <svg width="60" height="42" viewBox="0 0 60 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.700195" width="59" height="40.1429" rx="5.5" fill="white" stroke="#D9D9D9" />
            <path d="M34.4485 20.989C34.4485 27.5245 29.2112 32.8227 22.7506 32.8227C16.2901 32.8227 11.0527 27.5245 11.0527 20.989C11.0527 14.4534 16.2901 9.15527 22.7506 9.15527C29.2112 9.15527 34.4485 14.4534 34.4485 20.989Z" fill="#ED0006" />
            <path d="M49.6241 20.989C49.6241 27.5245 44.3867 32.8227 37.9262 32.8227C31.4656 32.8227 26.2283 27.5245 26.2283 20.989C26.2283 14.4534 31.4656 9.15527 37.9262 9.15527C44.3867 9.15527 49.6241 14.4534 49.6241 20.989Z" fill="#0099DF" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.3385 29.9959C32.8537 27.8254 34.4486 24.5957 34.4486 20.9892C34.4486 17.3826 32.8537 14.1529 30.3385 11.9824C27.8234 14.1529 26.2285 17.3826 26.2285 20.9892C26.2285 24.5957 27.8234 27.8254 30.3385 29.9959Z" fill="#6C6BBD" />
          </svg>
          <svg width="60" height="42" viewBox="0 0 60 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.700195" width="59" height="40.1429" rx="5.5" fill="white" stroke="#D9D9D9" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.3385 29.9957C28.2958 31.7585 25.646 32.8227 22.7506 32.8227C16.2901 32.8227 11.0527 27.5245 11.0527 20.989C11.0527 14.4534 16.2901 9.15527 22.7506 9.15527C25.646 9.15527 28.2958 10.2194 30.3385 11.9822C32.3811 10.2194 35.0309 9.15527 37.9263 9.15527C44.3868 9.15527 49.6242 14.4534 49.6242 20.989C49.6242 27.5245 44.3868 32.8227 37.9263 32.8227C35.0309 32.8227 32.3811 31.7585 30.3385 29.9957Z" fill="#ED0006" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.3384 29.9957C32.8536 27.8252 34.4484 24.5955 34.4484 20.989C34.4484 17.3824 32.8536 14.1527 30.3384 11.9822C32.3811 10.2194 35.0308 9.15527 37.9262 9.15527C44.3868 9.15527 49.6241 14.4534 49.6241 20.989C49.6241 27.5245 44.3868 32.8227 37.9262 32.8227C35.0308 32.8227 32.3811 31.7585 30.3384 29.9957Z" fill="#F9A000" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M30.3385 29.9959C32.8537 27.8254 34.4486 24.5957 34.4486 20.9892C34.4486 17.3826 32.8537 14.1529 30.3385 11.9824C27.8234 14.1529 26.2285 17.3826 26.2285 20.9892C26.2285 24.5957 27.8234 27.8254 30.3385 29.9959Z" fill="#FF5E00" />
          </svg>
          <svg width="60" height="42" viewBox="0 0 60 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.700195" width="59" height="40.1429" rx="5.5" fill="white" stroke="#D9D9D9" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M25.7896 31.826L26.1791 29.3418L25.3114 29.3215H21.168L24.0475 10.9895C24.0565 10.934 24.0855 10.8825 24.1278 10.8458C24.1704 10.8092 24.2246 10.7891 24.2814 10.7891H31.2678C33.5874 10.7891 35.188 11.2736 36.0236 12.2301C36.4154 12.6788 36.6649 13.1478 36.7857 13.6637C36.9123 14.2052 36.9144 14.8521 36.7909 15.6412L36.7819 15.6986V16.2042L37.1737 16.4271C37.5036 16.6029 37.7658 16.804 37.967 17.0342C38.302 17.418 38.5188 17.9056 38.6104 18.4836C38.7051 19.0781 38.6738 19.7857 38.5188 20.5867C38.34 21.508 38.051 22.3105 37.6607 22.967C37.3018 23.572 36.8445 24.0739 36.3015 24.4626C35.783 24.8322 35.1671 25.1127 34.4707 25.2922C33.7958 25.4686 33.0264 25.5576 32.1824 25.5576H31.6388C31.2501 25.5576 30.8725 25.6981 30.576 25.9501C30.2787 26.2074 30.0822 26.5589 30.0219 26.9433L29.9808 27.167L29.2925 31.5457L29.2614 31.7064C29.2531 31.7573 29.2389 31.7826 29.218 31.7998C29.1994 31.8155 29.1727 31.826 29.1467 31.826H25.7896Z" fill="#28356A" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M37.5453 15.7568C37.5246 15.8907 37.5006 16.0275 37.4739 16.168C36.5526 20.9177 33.4004 22.5585 29.3747 22.5585H27.3249C26.8325 22.5585 26.4175 22.9174 26.341 23.405L24.9942 31.982C24.9444 32.3023 25.1901 32.5908 25.5119 32.5908H29.1475C29.5779 32.5908 29.9436 32.2768 30.0114 31.8505L30.0471 31.6651L30.7316 27.3036L30.7756 27.0644C30.8426 26.6366 31.2092 26.3224 31.6396 26.3224H32.1833C35.7056 26.3224 38.4631 24.8867 39.269 20.7315C39.6055 18.9958 39.4313 17.5464 38.5405 16.5271C38.2709 16.2198 37.9365 15.9646 37.5453 15.7568Z" fill="#298FC2" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M36.581 15.3711C36.4402 15.3298 36.295 15.2925 36.146 15.2588C35.9962 15.2259 35.8429 15.1968 35.6849 15.1712C35.1323 15.0816 34.5266 15.0391 33.878 15.0391H28.402C28.267 15.0391 28.1389 15.0696 28.0244 15.1249C27.7718 15.2469 27.5842 15.4869 27.5387 15.7808L26.3737 23.1892L26.3403 23.4051C26.4169 22.9175 26.8319 22.5586 27.3242 22.5586H29.374C33.3998 22.5586 36.552 20.917 37.4733 16.1681C37.5009 16.0276 37.524 15.8908 37.5447 15.7569C37.3116 15.6327 37.0592 15.5265 36.7873 15.436C36.7202 15.4136 36.6509 15.392 36.581 15.3711Z" fill="#22284F" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.539 15.7811C27.5844 15.4872 27.772 15.2472 28.0247 15.1261C28.14 15.0706 28.2673 15.04 28.4023 15.04H33.8782C34.5269 15.04 35.1325 15.0827 35.6852 15.1724C35.8431 15.1977 35.9965 15.227 36.1463 15.2599C36.2952 15.2934 36.4404 15.3309 36.5812 15.372C36.6511 15.3929 36.7204 15.4147 36.7882 15.4363C37.0601 15.5268 37.3127 15.6338 37.5457 15.7572C37.8199 14.002 37.5435 12.807 36.5984 11.7248C35.5562 10.5333 33.6756 10.0234 31.2691 10.0234H24.2824C23.7909 10.0234 23.3716 10.3823 23.2956 10.8708L20.3856 29.3912C20.3282 29.7576 20.6097 30.0881 20.9777 30.0881H25.291L27.539 15.7811Z" fill="#28356A" />
          </svg>
          <svg width="60" height="42" viewBox="0 0 60 42" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.5" y="0.700195" width="59" height="40.1429" rx="5.5" fill="white" stroke="#D9D9D9" />
            <path fill-rule="evenodd" clip-rule="evenodd" d="M18.2148 28.0714H14.58L11.8543 17.6727C11.7249 17.1944 11.4502 16.7715 11.0461 16.5722C10.0377 16.0713 8.92656 15.6727 7.71436 15.4717V15.0713H13.5698C14.3779 15.0713 14.984 15.6727 15.085 16.3712L16.4993 23.872L20.1323 15.0713H23.6662L18.2148 28.0714ZM25.6865 28.0714H22.2537L25.0804 15.0713H28.5132L25.6865 28.0714ZM32.9544 18.6727C33.0554 17.9725 33.6615 17.5722 34.3687 17.5722C35.4798 17.4717 36.6903 17.6727 37.7004 18.1718L38.3065 15.3729C37.2964 14.9725 36.1852 14.7715 35.1768 14.7715C31.845 14.7715 29.4206 16.5722 29.4206 19.0713C29.4206 20.9725 31.1379 21.9708 32.3501 22.5722C33.6615 23.1719 34.1666 23.5722 34.0656 24.1719C34.0656 25.0713 33.0554 25.4717 32.047 25.4717C30.8348 25.4717 29.6226 25.1719 28.5132 24.671L27.9071 27.4717C29.1193 27.9708 30.4308 28.1719 31.643 28.1719C35.3788 28.2707 37.7004 26.4717 37.7004 23.7715C37.7004 20.3712 32.9544 20.1718 32.9544 18.6727ZM49.7143 28.0714L46.9887 15.0713H44.0609C43.4548 15.0713 42.8487 15.4717 42.6467 16.0713L37.5994 28.0714H41.1332L41.8386 26.1719H46.1805L46.5846 28.0714H49.7143ZM44.566 18.5722L45.5744 23.4717H42.7477L44.566 18.5722Z" fill="#172B85" />
          </svg>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import i18n from '@vue-storefront/i18n'
import { isModuleRegistered } from '@vue-storefront/core/lib/modules'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

import VueOfflineMixin from 'vue-offline/mixin'
import onEscapePress from '@vue-storefront/core/mixins/onEscapePress'
import { registerModule } from '@vue-storefront/core/lib/modules'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import ClearCartButton from 'theme/components/core/blocks/Microcart/ClearCartButton'
import ButtonFull from 'theme/components/theme/ButtonFull'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import Product from 'theme/components/core/blocks/Microcart/Product'
import EditMode from './EditMode'
import { Payment } from '@vue-storefront/core/modules/checkout/components/Payment'

export default {
  name: 'MicroCart',
  components: {
    Product,
    ClearCartButton,
    ButtonFull,
    ButtonOutline,
    BaseInput
  },
  mixins: [
    VueOfflineMixin,
    EditMode,
    onEscapePress
  ],
  data () {
    return {
      addCouponPressed: false,
      couponCode: '',
      componentLoaded: false
    }
  },
  props: {
    isCheckoutMode: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true
    })
  },
  computed: {
    ...mapGetters({
      productsInCart: 'cart/getCartItems',
      appliedCoupon: 'cart/getCoupon',
      totals: 'cart/getTotals',
      isOpen: 'cart/getIsMicroCartOpen'
    }),
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    ...mapActions({
      applyCoupon: 'cart/applyCoupon'
    }),
    addDiscountCoupon () {
      this.addCouponPressed = true
    },
    clearCoupon () {
      this.$store.dispatch('cart/removeCoupon')
      this.addCouponPressed = false
    },
    toggleMicrocart () {
      this.$store.dispatch('ui/toggleMicrocart')
    },
    async setCoupon () {
      const couponApplied = await this.applyCoupon(this.couponCode)
      this.addCouponPressed = false
      this.couponCode = ''
      if (!couponApplied) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t("You've entered an incorrect coupon code. Please try again."),
          action1: { label: i18n.t('OK') }
        })
      }
    },
    closeMicrocartExtend () {
      this.toggleMicrocart()
      this.$store.commit('ui/setSidebar', false)
      this.addCouponPressed = false
    },
    closeMicrocartExtendCheckout () {
      this.$store.commit('ui/setSidebar', false)
      this.addCouponPressed = false
    },
    onEscapePress () {
      this.$store.dispatch('ui/closeMicrocart')
    },
    clearCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: i18n.t('Are you sure you want to clear your cart?'),
        message_second: i18n.t('If you empty the cart you can’t recover it.'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('Clear'),
          action: async () => {
            // We just need to clear cart on frontend and backend.
            // but cart token can be reused
            await this.$store.dispatch('cart/clear', { disconnect: false })
          }
        },
        hasNoTimeout: true
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);

.close {
  i {
    opacity: 0.6;
  }
  &:hover,
  &:focus {
    i {
      opacity: 1;
    }
  }
}

.mt0 {
  @media (max-width: 767px) {
    margin-top: 0;
  }
}

.clearcart {
  &-col {
    display: flex;
    align-self: center;
  }
}

.products {
  @media (max-width: 767px) {
    padding: 30px 15px;
  }
}

.actions {
  @media (max-width: 767px) {
    padding: 0 15px;
    .first-sm {
      flex: 0 0 auto;
      padding-right: 0;
    }
    .checkout-button {
      margin-left: auto;
      flex: 0 0 auto;
      min-width: 170px;
      max-width: 150px;
    }
  }
  @media (max-width: 360px) {
    .first-sm {
      .return-shopping {
        font-size: 12px;
      }
    }
    div.checkout-button {
      min-width: 160px;
      max-width: 160px;
      .button-full {
        min-width: 145px;
      }
    }
  }
  .return-shopping {
    color: $black;
  }
  .link {
    @media (max-width: 767px) {
      display: flex;
      justify-content: center;
      padding: 20px 70px;
      &.checkout {
        margin-top: 55px;
        padding: 0;
      }
    }
  }
}

.summary {
  @media (max-width: 767px) {
    padding:  0 15px;
    font-size: 12px;
  }
}

.summary-heading {
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.total-price-label {
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.total-price-value {
  @media (max-width: 767px) {
    font-size: 24px;
  }
}

.delete-button {
  vertical-align: middle;
}

.coupon-wrapper {
  display: flex;

  .button-outline {
    text-transform: inherit;
    width: 50%;
    height: 50px;
    margin-top: 25px;
  }

  .coupon-input {
    margin-right: 20px;
    width: 100%;
  }
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 0;
  height: 100%;
  background:rgba(0, 0, 0, 0.4);
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .4s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$mine-shaft: color(mine-shaft);
$primary: color(primary);
$black: color(black);
$gray-666666: color(gray-666666);
$gray-E3E3E3: color(gray-E3E3E3);
$green-3C967B: color(green-3C967B);
$green-36B289: color(green-36B289);
$light-black: color(light-black);
$light-black-2D2D2D: color(light-black-2D2D2D);

.microcart {
  padding-top: 80px;
  min-height: 100%;
  padding-bottom: 145px;
  .close {
    color:$black;
    position: absolute;
    right: 44px;
    top: 44px;
    i {
      opacity: 1;
      padding: 0;
      color: inherit;
    }
    &:hover{
      color: $primary;
    }
  }
  .cart-title {
    font-size: 40px;
    color: $mine-shaft;
    line-height: 40px;
    margin-bottom: 10px;
    @media only screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
  hr {
    margin: 0;
    border: 0;
    border-top: 1px solid $gray-E3E3E3;
  }
  .summary {
    font-family: 'Aller', sans-serif;
    line-height: 20px;
    color: $gray-666666;
    font-size: 16px;
    .add-discount {
      font-family: 'Aller', sans-serif;
      line-height: 20px;
      color: $gray-666666;
      font-size: 16px;
      &:hover {
        color: $green-3C967B;
      }
    }
    .pull-right {
      float: right;
    }
    .grand-total {
      border-top: 1px solid $gray-E3E3E3;
      border-bottom: 1px solid $gray-E3E3E3;
      color:$black;
      font-weight: normal;
      font-size: 18px;
      margin: 0;
      .total-price-value {
        font-size: 24px;
      }
      .col-xs {
        padding: 0;
      }
    }
  }
  .return-shopping {
    display: inline-block;
    vertical-align: top;
    line-height: 17px;
    font-size: 18px;
    svg {
      vertical-align: top;
      margin-right: 20px;
    }
    &:hover {
      color: $green-3C967B;
    }
  }
  .checkout-button {
    a {
      background-color: $green-36B289;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      width: auto;
      min-width: auto;
      display: inline-block;
      min-width: 290px;
      vertical-align: top;
      color: $white;
      &:hover {
        color: $white;
        background-color: $mine-shaft;
      }
      span {
        font-size: 12px;
        vertical-align: top;
        display: inline-block;
        margin-top: 1px;
        margin-left: 2px;
        text-transform: none;
      }
    }
  }
  .cart-payments {
    padding-top: 38px;
    padding-bottom: 58px;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    .secure {
      padding-right: 0;
      p {
        display: flex;
        font-size: 12px;
        line-height: 14px;
        font-weight: bold;
        max-width: 162px;
        color: $light-black-2D2D2D;
        img {
          margin-right: 10px;
        }
      }
    }
    .cart-card {
      img {
        margin-left: 17px;
        width: 70px;
        height: 49px;
        vertical-align: top;
      }
    }
  }
  @media only screen and (max-width: 767px) {
    padding: 42px 5px 120px;
    .clearcart-col {
      justify-content: flex-end;
    }
    .close {
      right: 15px;
      top: 15px;
    }
    .products {
      padding-top: 0;
      padding-bottom: 0;
    }
    .summary {
      line-height: 15px;
      font-size: 14px;
      padding-top: 0;
      .grand-total {
        padding: 10px 0;
        line-height: 20px;
        margin-bottom: 20px;
        .total-price-label {
          font-size: 15px;
        }
        .total-price-value {
          font-size: 18px;
        }
      }
      .add-discount {
        font-size: 14px;
      }
    }
    .checkout-button {
      padding: 0 16px 0 0;
      order: 1;
      text-align: right;
      a {
        font-size: 12px;
        padding: 0;
        line-height: 40px;
        min-width: 150px;
        text-transform: none;
      }
    }
    .return-shopping {
      font-size: 14px;
      padding: 0;
      svg {
        margin-right: 8px;
        max-width: 12px;
      }
    }
    .coupon-wrapper {
      .button-outline {
        text-transform: inherit;
        width: 40%;
        height: 40px;
        margin-top: 21px;
        padding: 0 10px;
        font-size: 16px;
      }
    }
    .cart-payments {
      padding-top: 20px;
      padding-bottom: 0;
      bottom: 20px;
      .col-xs-12 {
        flex-basis: 100%;
        max-width: 100%;
      }
      .secure {
        padding-left: 0;
        p {
          margin: auto auto 20px;
        }
      }
      .cart-card {
        text-align: center;
        svg {
          margin: 0 3px;
          width: 34px;
          height: 25px;
        }
      }
    }
  }
  .overlay {
    z-index: 1;
  }
  a.cl-secondary {
    &:hover {
      color: $black
    }
  }
}
.right-sidebar {
  opacity: 0.5;
}
</style>
<style lang="scss">
@import '~theme/css/base/global_vars';
$z-index-notification: map-get($z-index, notification) + 2;
.default-layout {
  .notifications {
    z-index: $z-index-notification;
  }
  .right-sidebar {
   z-index: 1001;
    @media only screen and (max-width: 767px) {
      width: 364px;
      max-width: 95%;
      #couponinput {
        margin-bottom: 0;
        min-height: auto;
        input {
          font-size: 16px;
          padding: 0;
          height: 40px;
          margin-bottom: 0;
        }
        label.h6 {
          font-size: 14px;
        }
      }
    }
  }
}
</style>
