<template>
  <li class="row mb10 bg-cl-white product-item middle-xs" :class="{ 'relative': editMode }">
    <div class="mx10 w-100 py10 mb15 edit-mode flex between-xs middle-xs" v-if="editMode">
      Edit mode
      <button class="brdr-none bg-cl-transparent" @click="closeEditMode">
        <span class="cl-accent">
          <i class="material-icons cl-accent mr5">
            close
          </i>
        </span>
      </button>
    </div>
    <div class="blend">
      <div class="product-image">
        <product-image :image="image" />
      </div>
    </div>
    <div class="col-xs flex-wrap product-desc">
      <div class="flex flex-nowrap details">
        <div class="flex w-100 flex-wrap between-xs">
          <div class="w-100">
            <router-link
              class="serif h4 name"
              :to="productLink"
              data-testid="productLink"
              @click.native="$store.commit('ui/setMicrocart', false)"
            >
              {{ product.name | htmlDecode }}
            </router-link>
            <div class="h6 cl-bg-tertiary pt5 sku" data-testid="productSku">
              {{ product.sku }}
            </div>
            <div class="h6 cl-bg-tertiary pt5 options" v-if="isTotalsActive">
              <div v-for="opt in product.totals.options" :key="opt.label">
                <span class="opn">{{ opt.label }}: </span>
                <span class="opv" v-html="opt.value" />
              </div>
            </div>
            <div class="h6 cl-bg-tertiary pt5 options" v-else-if="!editMode && product.options">
              <div v-for="opt in product.options" :key="opt.label">
                <span class="opn">{{ opt.label }}: </span>
                <span class="opv" v-html="opt.value" />
              </div>
            </div>
            <div class="h6 pt5 cl-error" v-if="hasProductErrors">
              {{ product.errors | formatProductMessages }}
            </div>
            <div class="h6 pt5 cl-success" v-if="hasProductInfo && !hasProductErrors">
              {{ product.info | formatProductMessages }}
            </div>
          </div>
          <div class="mt10 mb5 flex" v-if="estimationMessage != ''">
            <div class="estimationDate">
              {{ estimationMessage }}
            </div>
          </div>
          <div class="flex middle-xs qty-actions-wrap">
            <quantity-box
              class="h5 cl-accent lh25 qty qty-input"
              :value="productQty"
              :max-quantity="maxQuantity"
              :loading="isStockInfoLoading"
              :is-simple-or-configurable="isSimpleOrConfigurable"
              @input="updateProductQty"
              @error="handleQuantityError"
              @show-loader="showLoader"
              :page="'sidebar'"
            />
            <div class="flex middle-xs actions" v-if="!editMode">
              <edit-button class="mx5" @click="openEditMode" v-if="productsAreReconfigurable && !editMode" />
              <remove-button class="mx5" @click="removeItem" />
            </div>
          </div>
        </div>
        <div class="flex align-right start-xs between-sm prices">
          <div class="prices" v-if="!displayItemDiscounts || !isOnline">
            <span class="h4 serif cl-error price-special" v-if="product.special_price">
              {{ product.price_incl_tax * product.qty | price(storeView) }}
            </span>
            <span class="h6 serif price-original" v-if="product.special_price">
              {{ product.original_price_incl_tax * product.qty | price(storeView) }}
            </span>
            <span class="h4 serif price-regular" v-else data-testid="productPrice">
              {{ (product.original_price_incl_tax ? product.original_price_incl_tax : product.price_incl_tax) * product.qty | price(storeView) }}
            </span>
          </div>
          <div class="prices" v-else-if="isOnline && product.totals">
            <span class="h4 serif cl-error price-special" v-if="product.totals.discount_amount">
              {{ product.totals.row_total - product.totals.discount_amount + product.totals.tax_amount | price(storeView) }}
            </span>
            <span class="h6 serif price-original" v-if="product.totals.discount_amount">
              {{ product.totals.row_total_incl_tax | price(storeView) }}
            </span>
            <span class="h4 serif price-regular" v-if="!product.totals.discount_amount">
              {{ product.totals.row_total_incl_tax | price(storeView) }}
            </span>
          </div>
          <div class="prices" v-else>
            <span class="h4 serif price-regular">
              {{ (product.regular_price || product.price_incl_tax) * product.qty | price(storeView) }}
            </span>
          </div>
        </div>
      </div>
      <div class="w-100 pb15 flex flex-wrap bottom-xs" v-if="editMode">
        <div class="ml0 flex flex-wrap filters" v-if="productsAreReconfigurable">
          <div class="h5 pt5 w-100" v-for="(option, index) in product.configurable_options" :key="index">
            <div class="h6 cl-bg-tertiary mr10 mb5">
              {{ option.label }}:
            </div>
            <div class="select-box edit" v-if="editMode">
              <select @change="changeEditModeFilter(getAvailableFilters[option.attribute_code], option.attribute_code)" :id="option.attribute_code" :ref="option.attribute_code">
                <weight-selector
                  v-for="filter in getAvailableFilters[option.attribute_code]"
                  :value="filter.id"
                  :key="filter.id"
                  :variant="filter"
                  :variant-type="getSelectedFilters"
                />
              </select>
            </div>
          </div>
        </div>
        <button-full
          class="update-button"
          @click.native="updateProductVariant"
          :disabled="isUpdateCartDisabled"
        >
          {{ $t('Update item') }}
        </button-full>
      </div>
    </div>
  </li>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import config from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import Product from '@vue-storefront/core/compatibility/components/blocks/Microcart/Product'
import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import ProductImage from 'theme/components/core/ProductImage'
import ColorSelector from 'theme/components/core/ColorSelector.vue'
import SizeSelector from 'theme/components/core/SizeSelector.vue'
import RemoveButton from './RemoveButton'
import EditButton from './EditButton'
import { onlineHelper } from '@vue-storefront/core/helpers'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption'
import { getThumbnailForProduct, getProductConfiguration } from '@vue-storefront/core/modules/cart/helpers'
import ButtonFull from 'theme/components/theme/ButtonFull'
import EditMode from './EditMode'
import QuantityBox from 'theme/components/core/blocks/Product/QuantityBox'
import WeightSelector from 'theme/components/core/WeightSelector.vue'
import { getAvailableFiltersByProduct } from '@vue-storefront/core/modules/catalog/helpers/filters'
import moment from 'moment'

export default {
  name: 'MicroCartProduct',
  data () {
    return {
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false,
      weightSelected: '',
      estimationMessage: '',
      from_date: 'dd/m/yyyy'
    }
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  components: {
    RemoveButton,
    ProductImage,
    EditButton,
    ButtonFull,
    QuantityBox,
    WeightSelector
  },
  mixins: [Product, ProductOption, EditMode],
  computed: {
    ...mapState({
      isMicrocartOpen: state => state.ui.microcart
    }),
    ...mapGetters({
      getEstimation: 'estimation/getEstimation'
    }),
    hasProductInfo () {
      return this.product.info && Object.keys(this.product.info).length > 0
    },
    hasProductErrors () {
      const errors = this.product.errors || {}
      const errorsValuesExists = Object.keys(errors).filter(errorKey => errors[errorKey]).length > 0
      return errorsValuesExists
    },
    isTotalsActive () {
      return this.isOnline && !this.editMode && this.product.totals && this.product.totals.options
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    productsAreReconfigurable () {
      return config.cart.productsAreReconfigurable && this.product.type_id === 'configurable' && this.isOnline
    },
    displayItemDiscounts () {
      return config.cart.displayItemDiscounts
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    thumbnail () {
      return getThumbnailForProduct(this.product)
    },
    configuration () {
      return getProductConfiguration(this.product)
    },
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    editMode () {
      return this.getEditingProductId === this.product.id
    },
    productQty () {
      return this.editMode ? this.getEditingQty : this.product.qty
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.product.type_id)
    },
    isUpdateCartDisabled () {
      return this.quantityError ||
        this.isStockInfoLoading ||
        (this.isOnline && !this.maxQuantity && this.isSimpleOrConfigurable)
    },
    storeView () {
      return currentStoreView()
    }
  },
  async mounted () {
    if (this.product.is_in_stock) {
      await this.$store.dispatch('estimation/getDeliveryEstimation', this.product)
      this.estimationMessage = this.getEstimation.length > 0 ? this.getEstimation[0].cartMessage : ''
    }
  },
  async beforeMount () {
    this.$bus.$on('cart-after-updatetotals', this.stopLoader)
    this.$bus.$on('servercart-after-diff', this.stopLoader)
  },
  methods: {
    format_date (value) {
      if (value) {
        return moment(String(value)).format('DD/MM/YYYY')
      }
    },
    stopLoader () {
      this.isStockInfoLoading = false;
    },
    showLoader () {
      this.isStockInfoLoading = true;
    },
    updateProductVariant () {
      this.showLoader()
      this.updateVariant()
      this.closeEditMode()
    },
    updateProductQty (qty) {
      if (this.editMode) {
        this.editModeSetQty(qty)
        return
      }

      this.updateQuantity(qty)
    },
    removeFromCart () {
      this.$store.dispatch('cart/removeItem', { product: this.product })
    },
    updateQuantity (quantity) {
      this.$store.dispatch('cart/updateQuantity', { product: this.product, qty: quantity })
    },
    async getQuantity (product) {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const validProduct = product || this.product
        const res = await this.$store.dispatch('stock/check', {
          product: validProduct,
          qty: this.productQty
        })
        return res.qty
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    async changeEditModeFilter (filter, code) {
      const editedProduct = this.getEditedProduct(filter)
      const maxQuantity = await this.getQuantity(editedProduct)
      let selectedIndex = this.$refs[code][0].options.selectedIndex;
      this.weightSelected = filter[selectedIndex].id;
      filter = filter[selectedIndex];
      if (!maxQuantity) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t(
            'The product is out of stock and cannot be added to the cart!'
          ),
          action1: { label: this.$t('OK') }
        })
      } else if (maxQuantity < this.productQty) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Only {maxQuantity} products of this type are available!', { maxQuantity }),
          action1: { label: this.$t('OK') }
        })
      } else {
        this.maxQuantity = maxQuantity
        this.editModeSetFilters(filter)
      }
    }
  },
  watch: {
    isOnline: {
      async handler (isOnline) {
        if (isOnline) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      }
    },
    isMicrocartOpen: {
      async handler (isOpen) {
        if (isOpen) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>

.blend {
  flex: 0 0 150px;
}

.image {
  mix-blend-mode: multiply;
  vertical-align: top;
  width: 150px;
  @media (max-width: 767px) {
    width: 100px;
  }
}

.details {
  flex: 1 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.name {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.options, .sku {
  @media (max-width: 767px) {
    font-size: 10px;
  }
}

.qty {
  padding-right: 20px;
  margin: 0;

  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.qty-actions-wrap {
  margin-top: 15px;
}

.actions {
  margin: 0 -5px;
}

.prices {
  flex-direction: column;
  @media (max-width: 767px) {
    padding: 0;
    font-size: 12px;
  }
}

.price-special {
  @media (max-width: 767px) {
    font-size: 14px;
  }
}

.price-original {
  text-decoration: line-through;
}

input {
  width: 30px;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.edit-mode {
  border-bottom: 1px solid color(white-smoke);
}

.filters {
  flex: 1 1 200px;
}

.update-button {
  font-size: 14px;
  min-width: 150px;
  width: 150px;
  padding: 10px;
  line-height: 20px;
}

@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-error: color(error);
$white: color(white);
$mine-shaft: color(mine-shaft);
$primary: color(primary);
$black: color(black);
$green-3C967B: color(green-3C967B);
$gray-E5E5E5: color(gray-E5E5E5);
$gray-404040: color(gray-404040);
$red: color(red);

.product-item {
  padding: 10px 20px;
  border: 1px solid $gray-E5E5E5;
  margin-left: 0;
  margin-right: 0;
  &.relative {
    z-index: 1;
  }
  .product-desc {
    padding: 28px 0px 28px 10px;
    .h6 {
      font-size: 15px;
    }
    .details {
      a {
        color: $gray-404040;
        font-size: 20px;
        line-height: 22px;
        &:hover {
          color: $green-3C967B;
        }
      }
    }
    .actions {
      margin: 0;
    }
    .price-regular, .price-special {
      font-family: 'Aller', sans-serif;
      font-size: 18px;
      color: $green-3C967B;
      font-weight: bold;
    }
    .price-original {
      font-family: 'Aller', sans-serif;
      font-size: 16px;
    }
  }
  .product-quantity {
    padding-right: 0;
    margin-right: 15px;
    margin-top: 12px;
    margin-bottom: 0;
  }
  .size-selector {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .update-button {
    margin-top: 10px;
  }
  .filters {
    margin-top: 15px;
  }
}

</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$black: color(black);
.product-item {
  .qty-input {
    label {
      display: none;
    }
    .qty-element  {
      border: 1px solid $black;
      width: 71px;
      padding: 0 22px;
      height: 30px;
      border-radius: 0;
      position: relative;
      button {
        position: absolute;
        left: 0;
        padding: 0;
        width: 22px;
        height: 28px;
        top: 0;
        &:last-child {
          left: auto;
          right: 0;
        }
      }
      input {
        width: 100%;
        height: 100%;
        padding: 0;
        text-align: center;
        line-height: normal;
        font-size: 12px;
        color: $black;
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
    }
  }
}
.product-item.row {
  @media only screen and (max-width: 767px) {
    padding: 10px;
    .product-image {
      max-width: 80px;
    }
    .product-desc {
      padding: 0 0 0 20px;
      .details {
        flex-wrap: wrap;
        padding-bottom: 36px;
        padding-right: 45px;
        position: relative;
        a {
          font-size: 14px;
          line-height: 14px;
        }
        .h6 {
          font-size: 12px;
          padding-top: 0;
          padding-bottom: 3px;
        }
      }
      .price-regular, .price-special, .price-original {
        font-size: 12px;
      }
      .price-special {
        margin-right: 5px;
      }
      .qty-input {
        position: absolute;
        left: 0;
        bottom: 0;
        margin: 0;
      }
    }
    .blend {
      flex: 0 0 80px;
    }
  }
}
.select-box.edit {
  select {
    height: 35px;
    font-size: 13px;
    padding: 0 10px;
    border-radius: 0;
    background-color: transparent;
    border: solid 1px $black;
  }
}
.estimationDate {
  border: solid 1px #ddd;
  padding: 10px;
  color: #8e8e8e;
  // background-color:rgba(54, 176, 135, 5);
}
</style>
