<template>
  <button @click="$emit('click')" class="remove-cart">
    <span class="hidden-xs">
      {{ $t('Remove') }}
    </span>
    <i data-v-9ceeb744="" class="visible-xs material-icons cl-accent">
      close
    </i>
  </button>
</template>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$green-3C967B: color(green-3C967B);
$gray-404040: color(gray-404040);

.remove-cart {
  border: 0;
  background: none;
  padding: 0;
  font-size: 14px;
  text-decoration: underline;
  &:hover {
    color: $green-3C967B;
  }
  .material-icons {
    display: none;
  }
  @media only screen and (max-width: 767px) {
    font-size: 0;
    position: absolute;
    right: 10px;
    width: 15px;
    height: 18px;
    margin: auto;
    top: 0;
    bottom: 0;
    .material-icons {
      color: $gray-404040;
      display: inline-block;
      vertical-align: top;
      font-size: 18px;
      &:hover {
        color: $green-3C967B;
      }
    }
  }
}
</style>
