<template>
  <div id="app" :class="bodyClass">
    <component :is="layout">
      <router-view />
    </component>
  </div>
</template>

<script>
import { mapState } from 'vuex'
const DefaultLayout = () => import(/* webpackChunkName: "vsf-layout-default" */ './layouts/Default')

export default {
  data () {
    return {
      ordersData: []
    }
  },
  computed: {
    ...mapState({
      overlayActive: state => state.ui.overlay
    }),
    layout () {
      return `${(this.$route.meta.layout || 'default')}-layout`
    },
    bodyClass () {
      return this.$route.name === 'blog-detail' ? 'blog-body' : 'default-body';
    }
  },
  components: {
    DefaultLayout
  }
}
</script>
