<template>
  <div class="sidebar-menu fixed mw-100 bg-cl-black">
    <div class="row mb15">
      <div class="col-xs">
        <button
          type="button"
          :aria-label="$t('Close')"
          class="w-100 inline-flex end-xs bg-cl-transparent brdr-none p0 close-btn"
          @click="closeMenu"
        >
          <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="0.209717" y="0.959961" width="15" height="1.5" rx="0.75" fill="white" />
            <rect x="5.20972" y="6.95996" width="10" height="1.5" rx="0.75" fill="white" />
            <rect x="0.209717" y="12.96" width="15" height="1.5" rx="0.75" fill="white" />
          </svg>
        </button>
      </div>
    </div>
    <div class="sidebar-menu__container row" ref="container">
      <div class="col-xs-12 f-s-14">
        <ul class="p0 pl20 pr20 m0 relative sidebar-menu__list" :style="mainListStyles">
          <li class="bg-cl-gray-141414 menu-catagory flex mb10">
            <router-link
              class="px40 py14 pt18 cl-white no-underline col-xs cl-green-36B289 h5 serif"
              :to="localizedRoute('#')"
              exact
            >
              {{ $t('Our Categories') }}
            </router-link>
          </li>
          <li
            @click="closeMenu"
            class="brdr-1 brdr-bottom-0 brdr-cl-bg-gray-1A1A1A"
          >
            <router-link
              class="block px40 py20 cl-white no-underline"
              :to="localizedRoute('/')"
              exact
            >
              {{ $t('Home') }}
            </router-link>
          </li>
          <li
            class="brdr-1 brdr-bottom-0 brdr-cl-bg-gray-1A1A1A"
            :key="category.slug"
            @click="closeMenu"
            v-for="category in visibleCategories"
          >
            <div
              v-if="isCurrentMenuShowed"
              class="subcategory-item"
            >
              <router-link
                class="px40 py20 cl-white no-underline col-xs"
                :to="categoryLink(category)"
              >
                {{ category.name }}
              </router-link>
            </div>

            <sub-category
              :category-links="category.children_data"
              :id="category.id"
              :parent-slug="category.slug"
              :parent-path="category.url_path"
            />
          </li>
          <li @click="closeMenu" v-if="currentUser" class="brdr-top-1 brdr-cl-bg-gray-1A1A1A my-profile-menu">
            <router-link
              class="block mt10 w-100 p14 weight-700 cl-white no-underline align-center brdr-1 brdr-cl-bg-gray-1A1A1A bg-cl-gray-141414"
              :to="localizedRoute('/my-account')"
              exact
            >
              <svg style="vertical-align: middle;" class="mr10" width="17" height="16" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.72725 3.22727C9.72725 3.76668 9.5673 4.29397 9.26762 4.74246C8.96795 5.19096 8.542 5.54052 8.04366 5.74694C7.54532 5.95336 6.99695 6.00737 6.46791 5.90214C5.93888 5.79691 5.45292 5.53716 5.07151 5.15574C4.69009 4.77433 4.43034 4.28838 4.32511 3.75934C4.21988 3.2303 4.27389 2.68193 4.48031 2.18359C4.68673 1.68525 5.03629 1.2593 5.48479 0.959628C5.93329 0.659952 6.46058 0.5 6.99998 0.5C7.7233 0.5 8.41699 0.787337 8.92845 1.2988C9.43991 1.81026 9.72725 2.50395 9.72725 3.22727Z" stroke="#FCFCFC" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M13 12.4998V12.4998C13 10.3911 11.2905 8.68164 9.18182 8.68164H4.81818C2.70946 8.68164 1 10.3911 1 12.4998V12.4998" stroke="white" />
              </svg>
              {{ $t('My Profile') }}
            </router-link>
          </li>
          <li class="blog-menu category-menu-item" @click.prevent="closeMenu">
            <router-link
              class="block mt10 w-100 p14 weight-700 cl-white no-underline align-center brdr-1 brdr-cl-bg-gray-1A1A1A bg-cl-gray-141414"
              :to="localizedRoute('/blog')"
            >
              {{ $t('Blog') }}
            </router-link>
          </li>
          <li @click="login" v-if="currentUser" class="logout-menu">
            <a href="#" class="block mt10 w-100 p15 weight-700 cl-white no-underline align-center bg-cl-red-CC1414" @click.prevent="logout">
              {{ $t('Logout') }}
            </a>
          </li>
          <li
            @click="login"
            class="brdr-top-1 brdr-cl-bg-gray-1A1A1A my-account-menu"
          >
            <a
              v-if="!currentUser && isCurrentMenuShowed"
              href="#"
              @click.prevent="closeMenu"
              class="block mt10 w-100 p14 weight-700 cl-white no-underline align-center brdr-1 brdr-cl-bg-gray-1A1A1A bg-cl-gray-141414"
            >
              <svg style="vertical-align: middle;" class="mr10" width="17" height="16" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.72725 3.22727C9.72725 3.76668 9.5673 4.29397 9.26762 4.74246C8.96795 5.19096 8.542 5.54052 8.04366 5.74694C7.54532 5.95336 6.99695 6.00737 6.46791 5.90214C5.93888 5.79691 5.45292 5.53716 5.07151 5.15574C4.69009 4.77433 4.43034 4.28838 4.32511 3.75934C4.21988 3.2303 4.27389 2.68193 4.48031 2.18359C4.68673 1.68525 5.03629 1.2593 5.48479 0.959628C5.93329 0.659952 6.46058 0.5 6.99998 0.5C7.7233 0.5 8.41699 0.787337 8.92845 1.2988C9.43991 1.81026 9.72725 2.50395 9.72725 3.22727Z" stroke="#FCFCFC" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M13 12.4998V12.4998C13 10.3911 11.2905 8.68164 9.18182 8.68164H4.81818C2.70946 8.68164 1 10.3911 1 12.4998V12.4998" stroke="white" />
              </svg>
              {{ $t('Login/Signup') }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu'
import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'
import { disableBodyScroll, clearAllBodyScrollLocks } from 'body-scroll-lock'
import AccountIcon from '@vue-storefront/core/compatibility/components/blocks/Header/AccountIcon'

export default {
  components: {
    SubCategory
  },
  mixins: [SidebarMenu, AccountIcon],
  data () {
    return {
      myAccountLinks: [
        {
          id: 1,
          name: i18n.t('My profile'),
          url: '/my-account'
        },
        {
          id: 2,
          name: i18n.t('My shipping details'),
          url: '/my-account/shipping-details'
        },
        {
          id: 3,
          name: i18n.t('My newsletter'),
          url: '/my-account/newsletter'
        },
        {
          id: 4,
          name: i18n.t('My orders'),
          url: '/my-account/orders'
        },
        {
          id: 5,
          name: i18n.t('My loyalty card'),
          url: '#'
        },
        {
          id: 6,
          name: i18n.t('My product reviews'),
          url: '#'
        }
      ],
      componentLoaded: false
    }
  },
  computed: {
    mainListStyles () {
      return this.submenu.depth ? `transform: translateX(${this.submenu.depth * 100}%)` : false
    },
    ...mapState({
      submenu: state => state.ui.submenu,
      currentUser: state => state.user.current
    }),
    getSubmenu () {
      return this.submenu
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0
      })
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
      disableBodyScroll(this.$refs.container)
    })
  },
  destroyed () {
    clearAllBodyScrollLocks()
  },
  methods: {
    login () {
      if (!this.currentUser && this.isCurrentMenuShowed) {
        this.$nextTick(() => {
          this.$store.commit('ui/setAuthElem', 'login')
          this.$bus.$emit('modal-show', 'modal-signup')
          this.$router.push({ name: 'my-account' })
        })
      }
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
@import '~theme/css/base/fonts';
$bg-secondary: color(secondary, $colors-background);
$color-gainsboro: color(gainsboro);
$color-matterhorn: color(matterhorn);
$color-mine-shaft: color(mine-shaft);
$black: color(black);
$gray-1A1A1A: color(gray-1A1A1A);
$green-36B289: color(green-36B289);
$white: color(white);
$gray-141414: color(gray-141414);
$red-CC1414: color(red-CC1414);
.sidebar-menu {
  height: 100vh;
  width: 364px;
  max-width: 100%;
  position: static;
  max-height: none !important;
  &__container {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(100% - 80px);
  }

  &__list {
    transition: transform $duration-main $motion-main;
  }
  .close-btn {
    padding: 10px;
    width: auto;
    margin: 10px;
  }
  .brdr-bottom-0 {
    border-bottom: 0;
  }
  ul {
    list-style-type: none;
  }
  .menu-catagory {
    a {
      color: $green-36B289;
      pointer-events: none;
      font-weight: normal;
    }
  }
  li {
    &:hover,
    &:focus {
      color: $white;
      background-color: $green-36B289;
      > a, > button {
        color: $white;
      }
    }
    &.cl-white {
      &:hover,
      &:focus {
        background-color: $white;
        background-color: $green-36B289;
      }
    }
    &.my-profile-menu,
    &.my-account-menu {
      background-color: transparent;
      border-color: $gray-1A1A1A;
    }
    a.router-link-exact-active {
      color: $white;
      background-color: $green-36B289;
      border-color: $green-36B289;
    }
    a {
      color: $white;
    }
  }
  .my-profile-menu, .logout-menu, .my-account-menu {
    a {
      &:hover {
        color: $white;
        background-color: $green-36B289;
        border-color: $green-36B289;
      }
    }
  }
  .my-profile-menu {
    a {
      background-color: $gray-141414 !important;
      border-color: $gray-1A1A1A !important;
    }
  }
  .sidebar-menu__list {
    > li {
      &:last-child {
        border-bottom: 1px solid $gray-1A1A1A;
      }
    }
  }
  .my-account-menu {
    &:last-child {
      border-bottom: 0 !important;
    }
  }
  .subcategory-item {
    display: flex;
    width: 100%;
  }

}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-1A1A1A: color(gray-1A1A1A);
  .brdr-cl-bg-gray-1A1A1A {
    border-color: $gray-1A1A1A;
  }
</style>
