@import 'vendor/flexboxgrid2';

@import 'variables/variables';
@import 'helpers/mixins';
@import 'helpers/functions';
@import 'base/base';
@import 'base/global_vars';
@import 'base/fonts';
@import 'base/text';
@import 'base/color';
@import 'base/icons';

@import 'layout/layout';
@import 'layout/border';
@import 'layout/margin';
@import 'layout/padding';

@import 'components/buttons';
@import 'components/forms';

@import 'utilities/utilities';
@import 'utilities/visibility';

@import 'animations/animations';
@import 'animations/transitions';

@import 'theme/custom';

@import 'variables/colors';
@import 'helpers/functions/color';
$color-white: color(white);

a.button-full{text-decoration: none;}
a.button-full:hover{color: $color-white;}

