<template>
  <div class="myaccount-links acc-menu accordion-1" ref="accordion-1">
    <h4 class="footer-menu-title accordion-header" @click="toggleAccordion(1)">
      {{ $t('My Account') }}
    </h4>
    <div class="accordion-body">
      <ul>
        <li>
          <router-link :to="localizedRoute('/about-us')" exact>
            {{ $t('About us') }}
          </router-link>
        </li>
        <li>
          <router-link :to="localizedRoute('/contact-us')" exact>
            {{ $t('Contact us') }}
          </router-link>
        </li>
        <li>
          <router-link v-show="isLogged" :to="localizedRoute('/my-account')" exact>
            {{ $t('My account') }}
          </router-link>
          <a v-show="!isLogged" href="#" @click.prevent="goToAccount">
            {{ $t('My account') }}
          </a>
        </li>
        <li>
          <router-link v-show="isLogged" :to="localizedRoute('/my-account/orders')" exact>
            {{ $t('Order history') }}
          </router-link>
          <a v-show="!isLogged" href="#" @click.prevent="goToAccount">
            {{ $t('Order history') }}
          </a>
        </li>
        <li>
          <a href="https://www.iubenda.com/privacy-policy/69683679" target="_blank" rel="noopener">
            {{ $t('Privacy Policy') }}
          </a>
        </li>
        <li>
          <a href="https://www.iubenda.com/privacy-policy/69683679/cookie-policy" target="_blank" rel="noopener">
            {{ $t('Cookies Policy') }}
          </a>
        </li>
        <li>
          <router-link :to="localizedRoute('/terms-conditions')" exact>
            {{ $t('Terms & Conditions') }}
          </router-link>
        </li>
        <li>
          <router-link :to="localizedRoute('/delivery')" exact>
            {{ $t('Delivery') }}
          </router-link>
        </li>
        <li>
          <router-link :to="localizedRoute('/returns-and-refunds')" exact>
            {{ $t('Returns & Refunds') }}
          </router-link>
        </li>
        <li>
          <router-link :to="localizedRoute('/faqs')" exact>
            {{ $t('FAQs') }}
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  name: 'MyAccount',
  mounted () {
    this.toggleAccordionOnMount();
    window.addEventListener('resize', this.toggleAccordionOnResize);
  },
  destroyed () {
    window.removeEventListener('resize', this.toggleAccordionOnResize);
  },
  computed: {
    ...mapGetters({
      isLogged: 'user/isLoggedIn'
    })
  },
  methods: {
    goToAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    toggleAccordion (index) {
      if (screen.width <= 767) {
        this.$refs['accordion-' + index].classList.toggle('is-open');
      }
    },
    toggleAccordionOnResize () {
      if (screen.width > 767) {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.add('is-open');
        });
      } else {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.remove('is-open');
        });
      }
    },
    toggleAccordionOnMount () {
      if (screen.width <= 767) {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.remove('is-open');
        });
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-303030: color(gray-303030);
$gray-BFBFBF : color(gray-BFBFBF);
$gray-141414 : color(gray-141414);
$gray-1A1A1A : color(gray-1A1A1A);
$secondary : color(secondary);

.myaccount-links {
    color: $white;
    border-left: 1px solid $gray-303030;
    border-right: 1px solid $gray-303030;
    padding: 0 100px;
    margin: 0 auto;
    width: 36.3%;
    @media only screen and (min-width: 1024px) and (max-width: 1300px) {
        padding: 0 40px;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        padding: 0 15px;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        padding: 0;
        margin: 0;
        border-left: none;
        border-right: none;
    }

    h4 {
        font-size: 34px;
        font-family: 'Teko';
        font-weight: 500;
        margin-bottom: 20px;
        @media only screen and (min-width: 1024px) and (max-width: 1300px) {
            font-size: 32px;
        }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
          font-size: 28px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 22px;
            position: relative;
            margin-bottom: 0;
            line-height: 60px;
            &:after, &:before {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 16px;
                background-color: #fff;
                height: 2px;
                border-radius: 2px;
                bottom: 0;
                margin: auto;
            }
            &:before {
                width: 2px;
                height: 16px;
                right: 7px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .accordion-body {
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition: 0.5s ease all;
            margin: 0 -16px;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        li {
            line-height: 100%;
            margin-bottom: 20px;
            font-size: 15px;
            width: 50%;
            @media only screen and (min-width: 1024px) and (max-width: 1300px) {
                font-size: 15px;
            }
            @media only screen and (min-width: 768px) and (max-width: 1023px) {
                font-size: 13px;
            }
            @media only screen and (max-width: 767px) {
                margin-bottom: 0;
                font-size: 14px;
                width: 100%;
            }
            a {
                color: $white;
                opacity: 0.6;
                &:hover,
                &.router-link-active {
                     color: $secondary;
                     opacity: 1;
                }
                @media only screen and (max-width: 767px) {
                    color: $gray-BFBFBF;
                    opacity: 1;
                    display: block;
                    line-height: 50px;
                    background-color: $gray-141414;
                    border-bottom: 1px solid $gray-1A1A1A;
                    padding: 0 40px;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.is-open {
    h4 {
        &:before {
            display: none;
        }
    }
    .accordion-body {
        max-height: 2000px;
    }
}
</style>
