<template>
  <div class="newsletter" v-show="!isSubscribed">
    <div class="container">
      <div class="newsletter-content m0 row middle-sm start-md">
        <div class="newslatter-heading">
          <cms-block :identifier="'newslatter_heading'" />
        </div>
        <div class="newsletter-form">
          <form @submit.prevent="subscribe(onSuccesfulSubmission)" novalidate>
            <div>
              <base-input
                type="email"
                name="email"
                v-model="email"
                autocomplete="email"
                placeholder="Enter Email Address *"
                :label="false"
                :validations="[
                  {
                    condition: $v.email.$error && !$v.email.required,
                    text: $t('Field is required.')
                  },
                  {
                    condition: !$v.email.email && $v.email.$error,
                    text: $t('Please provide valid e-mail address.')
                  }
                ]"
              />
            </div>

            <button-full
              class="mb35"
              type="submit"
              :disabled="!isInvalid"
              @click.native="$v.email.$touch"
            >
              {{ $t('Subscribe') }}
            </button-full>
            <div class="subscribe-policy">
              <base-checkbox
                id="newsletterConditions"
                :value="isNewsletterChecked"
                @change="selectCheckbox"
              >
                {{ $t('I accept') }}
                <a
                  href="https://www.iubenda.com/privacy-policy/69683679"
                  class="brdr-bottom-1 no-underline"
                  target="_blank"
                  rel="noopener noreferrer"
                  :title="$t('Privacy & Policy ')"
                >{{ $t('Privacy & Policy') }}</a>
              </base-checkbox>
            </div>
          </form>
          <div class="socil-media">
            <a v-if="links.length > 0 && links.find(o => o.identifier === 'footer_facebook')" :href="links.find(o => o.identifier === 'footer_facebook').content" target="_blank" rel="noopener">
              <span>Facebook</span>
              <svg width="12" height="23" viewBox="0 0 12 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.791 12.827L11.391 8.7H7.648V6.022C7.61356 5.72342 7.64652 5.42092 7.74446 5.13676C7.84239 4.85261 8.0028 4.59403 8.21389 4.38007C8.42497 4.16611 8.68135 4.00221 8.96415 3.90044C9.24695 3.79866 9.54898 3.76161 9.848 3.792H11.548V0.279C10.5503 0.108475 9.54101 0.0151976 8.529 0C5.445 0 3.429 1.977 3.429 5.555V8.7H0V12.827H3.429V22.8H7.648V12.827H10.791Z" fill="white"/>
              </svg>
            </a>
            <a v-if="links.length > 0 && links.find(o => o.identifier === 'footer_instagram')" :href="links.find(o => o.identifier === 'footer_instagram').content" target="_blank" rel="noopener">
              <span>Instagram</span>
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.489 1H17.467C18.1878 1 18.9016 1.14198 19.5675 1.41783C20.2335 1.69367 20.8386 2.09799 21.3483 2.60769C21.858 3.11739 22.2623 3.72249 22.5382 4.38845C22.814 5.05441 22.956 5.76817 22.956 6.489V17.467C22.956 18.9228 22.3777 20.3189 21.3483 21.3483C20.3189 22.3777 18.9228 22.956 17.467 22.956H6.489C5.76817 22.956 5.05441 22.814 4.38845 22.5382C3.72249 22.2623 3.11739 21.858 2.60769 21.3483C1.5783 20.3189 1 18.9228 1 17.467V6.489C1 5.03323 1.5783 3.63708 2.60769 2.60769C3.63708 1.5783 5.03323 1 6.489 1V1Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M16.3693 11.2865C16.5047 12.2001 16.3486 13.1331 15.9231 13.9528C15.4977 14.7725 14.8247 15.4372 13.9997 15.8524C13.1747 16.2675 12.2399 16.412 11.328 16.2653C10.4162 16.1185 9.57391 15.688 8.92086 15.035C8.26782 14.3819 7.83731 13.5396 7.69056 12.6278C7.54381 11.716 7.68829 10.7811 8.10346 9.95615C8.51863 9.13118 9.18334 8.45812 10.0031 8.03269C10.8228 7.60726 11.7558 7.45113 12.6694 7.58649C13.6014 7.72459 14.4644 8.15887 15.1307 8.82516C15.797 9.49145 16.2312 10.3544 16.3693 11.2865Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </a>
            <a v-if="links.length > 0 && links.find(o => o.identifier === 'footer_twitter')" :href="links.find(o => o.identifier === 'footer_twitter').content" target="_blank" rel="noopener">
              <img src="/assets/icon-tweeter.png" alt="Twitter">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
import Subscribe from '@vue-storefront/core/modules/newsletter/mixins/Subscribe'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput.vue'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'
import i18n from '@vue-storefront/i18n'
import { quickSearchByQuery } from '@vue-storefront/core/lib/search'
import { createLoadingBlockQuery, createSingleBlockQuery } from '@vue-storefront/core/modules/cms/helpers'
export default {
  name: 'Newsletter',
  data () {
    return {
      isNewsletterChecked: false,
      links: {}
    }
  },
  computed: {
    isInvalid () {
      return !!(this.$v.$invalid === false && this.isNewsletterChecked === true)
    }
  },
  mixins: [
    SubscriptionStatus,
    Subscribe
  ],
  async mounted () {
    const blockResponse = await quickSearchByQuery({
      query: createLoadingBlockQuery({ filterField: 'identifier', filterValues: ['footer_facebook', 'footer_instagram', 'footer_twitter'] }),
      entityType: 'cms_block'
    })
    this.links = blockResponse.items
  },
  beforeDestroy () {
    this.$off('validation-error')
  },
  methods: {
    selectCheckbox (value) {
      this.isNewsletterChecked = value
    },
    onSuccesfulSubmission (isSubscribed) {
      if (isSubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('Thank you for subscribing.'),
          action1: { label: i18n.t('OK') }
        })
      }
    }
  },
  components: {
    BaseInput,
    ButtonFull,
    BaseCheckbox,
    CmsBlock
  }

}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-303030: color(gray-303030);
$secondary : color(secondary);
$mine-shaft : color(mine-shaft);
div.newsletter {
  padding: 40px 0;
  border-bottom-color: $gray-303030;
  background-color: transparent;
  display: block !important;
  @media only screen and (max-width: 767px) {
      padding: 25px 0 0;
      border-bottom: 0;
  }
  .container {
      max-width: 1612px;
  }
  .newslatter-heading {
      max-width: 508px;
      padding-right: 30px;
      width: 39%;
      h3 {
        color: $white;
        font-size: 34px;
        font-family: 'Teko';
        margin-bottom: 0;
        line-height: 57px;
      }
      p {
        font-size: 16px;
        color: $white;
        opacity: 0.6;
      }
      @media only screen and (max-width: 1023px) {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 30px;
        padding-right: 0;
        h3 {
          font-size: 32px;
        }
        p {
          font-size: 16px;
        }
      }
      @media only screen and (max-width: 767px) {
        width: 100%;
        max-width: 100%;
        text-align: center;
        margin-bottom: 20px;
        padding-right: 0;
        h3 {
          font-size: 22px;
            line-height: normal;
             margin-bottom: 6px;

        }
        p {
          font-size: 14px;
        }
      }
  }
  div.newsletter-form {
    margin-left: auto;
    width: 61%;
    max-width: 840px;
    position: relative;
    display: flex;
    @media only screen and (max-width: 1023px) {
        width: 100%;
        max-width: 100%;
    }
    @media only screen and (max-width: 460px) {
      flex-wrap: wrap;
    }
    form {
      position: relative;
      width:79%;
      @media only screen and (max-width: 460px) {
        width: 100%;
        order: -2;
      }
    }
    .socil-media {
        display: flex;
        padding: 0;
        margin: 0;
        a {
          width: 78px;
          height: 78px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #333;
          border-radius: 0;
          transition: 0.5s;
          margin: 0 0 0 10px;
          font-size: 0;
          &:hover {
            background-color: $secondary;
          }
          @media only screen and (max-width: 767px) {
            width: 52px;
            height: 45px;
            svg{
              max-width: 16px;
              max-height: 16px;
            }
          }
          @media only screen and (max-width:460px) {
            width:45px;
          }
        }
        @media only screen and (max-width: 460px) {
          width: 100%;
          justify-content: center;
          margin-top: 15px !important;
          order: -2;
          a{
            &:first-child {
              margin-left: 0;
          }
        }
      }
    }
  }
}
@media (min-width: 767px) and (max-width: 1200px){
  .button-outline{
    min-width: 100%;
  }
}
@media (max-width: 767px) {
  .h3 {
    font-size: 18px;
    text-align: center;
  }
  .newsletter-button {
    padding-top: 25px;
    text-align: center;
  }
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-303030: color(gray-303030);
$gray-E3E3E3: color(gray-E3E3E3);
$secondary : color(secondary);
$mine-shaft : color(mine-shaft);
div.newsletter-form {
  .base-input {
      min-height: auto;
  }
  form{
    input {
      width: 100%;
      height: 78px;
      padding: 0 220px 0 42px;
      vertical-align: middle;
      font-size: 18px;
      color: $white;
      border: 0;
      margin-bottom: 0;
      background-color: $mine-shaft;
      &::placeholder {
        opacity: 1;
        color: $gray-E3E3E3;
      }
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px $mine-shaft inset;
        box-shadow: 0 0 0 50px $mine-shaft inset;
        -webkit-text-fill-color: $white;
      }
      &:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 50px $mine-shaft inset;
        box-shadow: 0 0 0 50px $mine-shaft inset;
        -webkit-text-fill-color: $white;
      }
    }
  }
  button.bg-cl-secondary {
    position: absolute;
    right: 20px;
    top: 16px;
    height: 46px;
    border: 2px solid $white;
    color: $white;
    font-family: 'Teko';
    line-height: normal;
    font-size: 24px;
    min-width: 189px;
    text-align: center;
    padding: 3px 10px 0;
    transition: 0.5s;
    width: auto;
    opacity: 1;
    background-color: transparent;
    &:hover {
      background-color: $secondary;
      border-color: $secondary;
      color: $white;
    }
    &:disabled {
      cursor: not-allowed;
      pointer-events: auto;
      background: none;
      border-color: $white;
      color: $white;
    }
  }
  @media only screen and (max-width: 767px) {
    form{
      input {
        height: 45px;
        padding: 0 105px 0 15px;
        font-size: 14px;
      }
    }
    button.bg-cl-secondary {
      font-size: 16px;
      min-width: 93px;
      height: 32px;
      right: 7px;
      top: 7px;
    }
    }
    .subscribe-policy{
      font-size: 15px;
      padding-top:15px;
      input{
        height: auto;
      }
      label::before{
        border: 1px solid $white;
      }
      input:checked + label::before {
        background:transparent;
        border-color: $white!important;
      }
      @media (max-width: 767px) {
        order: -3;
      }
    }
  }
</style>
