<template>
  <div class="products-links acc-menu accordion-1" ref="accordion-1">
    <h4 class="footer-menu-title accordion-header" @click="toggleAccordion(1)">
      {{ $t('Categories') }}
    </h4>
    <div class="accordion-body">
      <category-menu />
    </div>
  </div>
</template>

<script>
import CategoryMenu from 'theme/components/core/blocks/Header/CategoryMenu'
export default {
  name: 'ProductsLinks',
  components: {
    CategoryMenu
  },
  mounted () {
    this.toggleAccordionOnMount();
    window.addEventListener('resize', this.toggleAccordionOnResize);
  },
  destroyed () {
    window.removeEventListener('resize', this.toggleAccordionOnResize);
  },
  methods: {
    toggleAccordion (index) {
      if (screen.width <= 767) {
        this.$refs['accordion-' + index].classList.toggle('is-open');
      }
    },
    toggleAccordionOnResize () {
      if (screen.width > 767) {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.add('is-open');
        });
      } else {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.remove('is-open');
        });
      }
    },
    toggleAccordionOnMount () {
      if (screen.width <= 767) {
        Object.values(this.$el.getElementsByClassName('acc-menu')).forEach((accord) => {
          accord.classList.remove('is-open');
        });
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-303030: color(gray-303030);
$gray-BFBFBF : color(gray-BFBFBF);
$gray-141414 : color(gray-141414);
$gray-1A1A1A : color(gray-1A1A1A);
$secondary : color(secondary);

.products-links {
    color: $white;
    padding-left: 100px;
    width: 35.3%;
    margin-left: auto;
    @media only screen and (min-width: 1024px) and (max-width: 1300px) {
        padding-left:40px;
        width: 36.3%;
    }
    @media only screen and (min-width: 768px) and (max-width: 1023px) {
        padding-left: 15px;
        width: 42.3%;
    }
    @media only screen and (max-width: 767px) {
        width: 100%;
        padding-left: 0;
    }
    h4 {
        font-size: 34px;
        font-family: 'Teko';
        font-weight: 500;
        margin-bottom: 20px;
        @media only screen and (min-width: 1024px) and (max-width: 1300px) {
            font-size: 32px;
        }
        @media only screen and (min-width: 768px) and (max-width: 1023px) {
            font-size: 28px;
        }
        @media only screen and (max-width: 767px) {
            font-size: 22px;
            position: relative;
            margin-bottom: 0;
            line-height: 60px;
            &:after, &:before {
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                width: 16px;
                background-color: #fff;
                height: 2px;
                border-radius: 2px;
                bottom: 0;
                margin: auto;
            }
            &:before {
                width: 2px;
                height: 16px;
                right: 7px;
            }
        }
    }
    @media only screen and (max-width: 767px) {
        .accordion-body {
            padding: 0;
            max-height: 0;
            overflow: hidden;
            transition: 0.5s ease all;
            margin: 0 -16px;
        }
    }
}
.is-open {
    h4 {
        &:before {
            display: none;
        }
    }
    .accordion-body {
        max-height: 2000px;
    }
}
</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$gray-303030: color(gray-303030);
$gray-BFBFBF : color(gray-BFBFBF);
$gray-141414 : color(gray-141414);
$gray-1A1A1A : color(gray-1A1A1A);
$secondary : color(secondary);

.footer-links {
    .products-links {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            &:last-child {
                margin-bottom: -20px;
            }
            li {
                line-height: 100%;
                margin-bottom: 20px;
                font-size: 15px;
                width: 50%;
                padding: 0 !important;
                @media only screen and (min-width: 1024px) and (max-width: 1300px) {
                    font-size: 15px;
                }
                @media only screen and (min-width: 768px) and (max-width: 1023px) {
                    font-size: 13px;
                }
                @media only screen and (max-width: 767px) {
                    margin-bottom: 0;
                    font-size: 14px;
                    width: 100%;
                }
                a {
                    color: $white;
                    opacity: 0.6;
                    &:hover {
                        color: $secondary;
                        opacity: 1;
                    }
                    @media only screen and (max-width: 767px) {
                        color: $gray-BFBFBF;
                        opacity: 1;
                        display: block;
                        line-height: 50px;
                        background-color: $gray-141414;
                        border-bottom: 1px solid $gray-1A1A1A;
                        padding: 0 40px;
                    }
                }
            }
        }
        .category-menu-wrap {
            display: block;
            .blog-menu {
                padding:0;
                margin: 0;
                a {
                    margin: 0;
                    padding: 0;
                    background: none;
                    line-height: normal;
                    &:after, &:before {
                        display: none;
                    }
                }
            }
        }
    }
}
</style>
