<template>
  <div class="myaccount-wrap">
    <!-- My orders header -->
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <h3 class="m0 mb5 myaccount-title">
          {{ $t('My orders') }}
        </h3>
      </div>
    </div>
    <!-- My orders body -->
    <div class="row">
      <div class="col-xs-12" v-show="!isHistoryEmpty">
        <div class="order-table brdr-1 brdr-cl-green-36B289">
          <table>
            <thead>
              <tr class="bg-cl-green-36B289 cl-white align-left">
                <th class="p15 pt20 serif lh20">
                  {{ $t('Order ID') }}
                </th>
                <th class="p15 pt20 serif lh20">
                  {{ $t('Date and time') }}
                </th>
                <th class="p15 pt20 serif lh20">
                  {{ $t('Author') }}
                </th>
                <th class="p15 pt20 serif lh20">
                  {{ $t('Value') }}
                </th>
                <th class="p15 pt20 serif lh20 ">
                  {{ $t('Type') }}
                </th>
                <th class="p15 pt20 serif lh20">
                  {{ $t('Status') }}
                </th>
                <th class="p15 pt20 serif lh20">
                  &nbsp;
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="brdr-top-1 brdr-cl-bg-secondary align-left" v-for="order in ordersHistory" :key="order.entity_id">
                <td class="fs16 lh25 p15">
                  #{{ order.increment_id }}
                </td>
                <td class="fs16 lh25 p15">
                  {{ order.created_at | date(null, storeView) }}
                </td>
                <td class="fs16 lh25 p15">
                  {{ order.customer_firstname }} {{ order.customer_lastname }}
                </td>
                <td class="fs16 lh25 p15">
                  {{ order.grand_total | price(storeView) }}
                </td>
                <td class="fs16 lh25 p15">
                  {{ $t('Purchase') }}
                </td>
                <td class="fs16 lh25 p15">
                  {{ order.status | capitalize }}
                </td>
                <td class="fs16 lh25 p15">
                  <span class="relative dropdown align-center">
                    <i class="material-icons cl-secondary pointer">more_horiz</i>
                    <div class="dropdown-content bg-cl-secondary align-left sans-serif lh20 weight-400 fs-medium-small">
                      <router-link class="no-underline block cl-white py10 px15" :to="localizedRoute(`/my-account/orders/${order.entity_id}`)">
                        {{ $t('View order') }}
                      </router-link>
                      <a href="#" class="no-underline block cl-white py10 px15" @click.prevent="remakeOrder(skipGrouped(order.items))">{{ $t('Remake order') }}</a>
                    </div>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-xs-12 h4" v-show="isHistoryEmpty">
        <p>{{ $t('No orders yet') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import UserOrder from '@vue-storefront/core/modules/order/components/UserOrdersHistory'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  mixins: [UserOrder],
  computed: {
    storeView () {
      return currentStoreView()
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-icon-hover: color(secondary, $colors-background);
$gray-404040: color(gray-404040);
$white: color(white);
table {
  border-collapse: collapse;
  width: 100%;
  i {
    vertical-align: middle;
  }
  tbody {
    tr {
      &:last-child {
        .dropdown {
          .dropdown-content {
            top: auto;
            bottom: 100%;
          }
        }
      }
    }
  }

}

.dropdown {
  display: block;
  margin: -5px;
  padding: 5px;

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    width: 160px;
    z-index: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    @media only screen and (max-width: 767px) {
      a {
        padding-top: 7px;
        padding-bottom: 7px;
      }
    }
  }

  a {
    &:hover,
    &:focus {
      background-color: $gray-404040;
      color: $white;
    }

  }

  &:hover .dropdown-content {
    display: block;
  }

}

</style>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$green-36B289: color(green-36B289);
$white-smoke: color(white-smoke);
.order-table {
  @media only screen and (max-width: 1023px) {
    overflow: auto;
  }
  table {
    th {
      font-size: 20px;
      font-weight: 500;
      white-space: nowrap;
    }
    tbody {
      tr {
        &:nth-child(even) {
          td {
            background-color: $white-smoke;
          }
        }

      }
    }
  }
  @media only screen and (max-width: 767px) {
    table {
      th {
        font-size: 18px;
        padding: 15px 15px 10px;
      }
      td {
        font-size: 14px;
        line-height: 140%;
        padding: 10px 15px;
      }
    }
  }
}
</style>
