<template>
  <div class="myaccount-wrap" v-if="order">
    <!-- My order header -->
    <div class="row">
      <div class="col-xs-12 col-md-2 col-lg-1">
        <return-icon class="p12 icon pointer" />
      </div>
      <div class="col-xs-12 col-md-10 p0">
        <h3 class="m0 mb5 mt5 myaccount-title">
          {{ $t('Order #'+order.increment_id ) }}
          <span class="brdr-1 brdr-cl-bg-secondary py5 px10 ml20 sans-serif fs-medium-small weight-400 cl-secondary">
            {{ order.status | capitalize }}
          </span>
        </h3>
      </div>
    </div>
    <!-- My order body -->
    <div class="row fs16 mt10 mb10">
      <div class="col-xs-12 flex">
        <p>{{ order.created_at | date('LLL', storeView) }}</p>
        <p class="ml20">
          <a href="#" class="underline" @click.prevent="remakeOrder(singleOrderItems)">{{ $t('Remake order') }}</a>
        </p>
      </div>
    </div>
    <div class="row fs16 mb35">
      <div class="col-xs-12">
        <h4>{{ $t('Items ordered') }}</h4>
        <div class="order-table brdr-1 brdr-cl-green-36B289">
          <table>
            <thead>
              <tr class="bg-cl-green-36B289 cl-white align-left">
                <th class="p15 pt20 pb15 serif lh20">
                  {{ $t('Thumbnail') }}
                </th>
                <th class="p15 pt20 pb15 serif lh20">
                  {{ $t('Product Name') }}
                </th>
                <th class="p15 pt20 pb15 serif lh20">
                  {{ $t('SKU') }}
                </th>
                <th class="p15 pt20 pb15 serif lh20">
                  {{ $t('Price') }}
                </th>
                <th class="p15 pt20 pb15 serif lh20">
                  {{ $t('Qty') }}
                </th>
                <th class="p15 pt20 pb15 serif lh20 align-right">
                  {{ $t('Subtotal') }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="brdr-top-1 brdr-cl-bg-secondary" v-for="item in singleOrderItems" :key="item.item_id">
                <td class="fs16 lh25 p15" :data-th="$t('Thumbnail')">
                  <product-image :image="{src: itemThumbnail[item.sku]}" />
                </td>
                <td class="fs16 lh25 p15" :data-th="$t('Product Name')">
                  {{ item.name }}
                </td>
                <td class="fs16 lh25 p15" :data-th="$t('SKU')">
                  {{ item.sku }}
                </td>
                <td class="fs16 lh25 p15" :data-th="$t('Price')">
                  {{ item.price_incl_tax | price(storeView) }}
                </td>
                <td class="fs16 lh25 p15" :data-th="$t('Qty')">
                  {{ item.qty_ordered }}
                </td>
                <td class="fs16 lh25 p15 align-right" :data-th="$t('Subtotal')">
                  {{ item.row_total_incl_tax | price(storeView) }}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr class="brdr-top-1 brdr-cl-bg-secondary">
                <td colspan="5" class="align-right p15 pr0">
                  {{ $t('Subtotal') }}
                </td>
                <td class="align-right p15">
                  {{ order.subtotal | price(storeView) }}
                </td>
              </tr>
              <tr>
                <td colspan="5" class="align-right p15 pr0">
                  {{ $t('Shipping') }}
                </td>
                <td class="align-right p15">
                  {{ order.shipping_amount | price(storeView) }}
                </td>
              </tr>
              <tr>
                <td colspan="5" class="align-right p15 pr0">
                  {{ $t('Tax') }}
                </td>
                <td class="align-right p15">
                  {{ order.tax_amount + order.discount_tax_compensation_amount | price(storeView) }}
                </td>
              </tr>
              <tr v-if="order.discount_amount">
                <td colspan="5" class="align-right p15 pr0">
                  {{ $t('Discount') }}
                </td>
                <td class="align-right p15">
                  {{ order.discount_amount | price(storeView) }}
                </td>
              </tr>
              <tr>
                <td colspan="5" class="align-right p15 pr0">
                  {{ $t('Grand total') }}
                </td>
                <td class="align-right p15">
                  {{ order.grand_total | price(storeView) }}
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="row fs16 order-info">
      <div class="col-xs-12">
        <h4 class="h3 mb20 cl-black">
          {{ $t('Order informations') }}
        </h4>
        <div class="row">
          <div class="col-sm-6 col-md-3" v-if="shippingAddress">
            <h5 class="h4 mb15">
              {{ $t('Shipping address') }}
            </h5>
            <address>
              <p>{{ shippingAddress.firstname }} {{ shippingAddress.lastname }}</p>
              <p>{{ shippingAddress.street[0] }} {{ shippingAddress.street[1] }}</p>
              <p>{{ shippingAddress.postcode }} {{ shippingAddress.city }}</p>
              <p>{{ shippingAddress.country }}</p>
            </address>
          </div>
          <div class="col-sm-6 col-md-3" v-if="order.shipping_description">
            <h5 class="h4 mb15">
              {{ $t('Shipping method') }}
            </h5>
            <p>{{ order.shipping_description }}</p>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="h4 mb15">
              {{ $t('Billing address') }}
            </h5>
            <address>
              <p>{{ billingAddress.firstname }} {{ billingAddress.lastname }}</p>
              <p>{{ billingAddress.street[0] }} {{ billingAddress.street[1] }}</p>
              <p>{{ billingAddress.postcode }} {{ billingAddress.city }}</p>
              <p>{{ billingAddress.country }}</p>
            </address>
          </div>
          <div class="col-sm-6 col-md-3">
            <h5 class="h4 mb15">
              {{ $t('Payment method') }}
            </h5>
            <p>{{ paymentMethod }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import MyOrder from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyOrder'
import ReturnIcon from 'theme/components/core/blocks/Header/ReturnIcon'
import ProductImage from 'theme/components/core/ProductImage'
import { getThumbnailPath, productThumbnailPath } from '@vue-storefront/core/helpers'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { mapActions } from 'vuex'

export default {
  mixins: [MyOrder],
  components: {
    ReturnIcon,
    ProductImage
  },
  data () {
    return {
      itemThumbnail: []
    }
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    ...mapActions({
      getProduct: 'product/single'
    })
  },
  mounted () {
    this.singleOrderItems.forEach(async item => {
      if (!this.itemThumbnail[item.sku]) {
        const product = await this.getProduct({ options: { sku: item.sku } })
        const thumbnail = productThumbnailPath(product)
        Vue.set(this.itemThumbnail, item.sku, getThumbnailPath(thumbnail, 280, 280))
      }
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);
$color-white-smoke: color(white-smoke);

table {
  border-collapse: collapse;
  width: 100%;
  @media (max-width: 767px) {
    border-top: none;
  }
  th, td {
    &.align-right {
      @media (max-width: 767px) {
        text-align: left;
      }
    }
  }
  thead {
    @media (max-width: 767px) {
      display: none;
    }
  }
  tbody {
    tr {
      @media (max-width: 767px) {
        display: block
      }
    }
    td {
      @media (max-width: 767px) {
        display: block;
        text-align: left;
        padding: 10px 20px;
        &:before {
          content: attr(data-th) ': ';
          font-weight: 700;
          min-width: 106px;
          display: inline-block;
          vertical-align: top;
        }
      }
      &:first-child {
        @media (max-width: 767px) {
          padding: 20px 20px 10px 20px;
        }
      }
      &:last-child {
        @media (max-width: 767px) {
          padding: 10px 20px 20px 20px;
        }
      }
    }
  }
  tfoot {
    tr {
      @media (max-width: 767px) {
        display: block
      }
    }
    td {
      @media (max-width: 767px) {
        display: block
      }
      &:first-child {
        @media (max-width: 767px) {
          font-weight: 700;
          padding: 12px 0 12px 20px;
          min-width: 106px;
        }
      }
      &:last-child {
        @media (max-width: 767px) {
          padding: 12px 0 12px 20px;
        }
      }
    }
  }
}
.underline {
  text-decoration: underline;
}
address {
  font-style: normal;
}
@media only screen and (max-width: 768px) and (max-width: 1023px) {
  .order-table {
    table {
      td {
        font-size: 15px;
      }
    }
  }
  .h4 {
    font-size: 19px;
  }
  address {
    font-size: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .order-table {
    .product-image {
      max-width: 180px;
      padding-bottom: 220px !important;
      display: inline-block;
      vertical-align: top;
    }
    tfoot {
      td {
        display: inline-block;
        vertical-align: top;
      }
    }
  }
  .fs16 {
    font-size: 14px;
  }
  .order-info {
    .col-sm-6 {
      margin-bottom: 15px;
      &:nth-child(2) {
        margin-bottom: 25px;
      }
    }
  }
}
</style>
