<template>
  <div class="myaccount-wrap recently-viewed">
    <h3 class="m0 mb5 myaccount-title">
      {{ $t('My Recently viewed products') }}
    </h3>
    <div class="ecently-list row" v-if="items && items.length > 0">
      <product-listing columns="3" :products="items" />
    </div>
    <div class="h4" v-else>
      <p>{{ $t('No products yet') }}</p>
    </div>
  </div>
</template>

<script>
import RecentlyViewed from '@vue-storefront/core/modules/recently-viewed/components/RecentlyViewed'
import ProductListing from 'theme/components/core/ProductListing.vue'

export default {
  mixins: [RecentlyViewed],
  components: {
    ProductListing
  }
}
</script>

<style lang="scss">
.recently-viewed {
  .product-listing {
    width: 100%;
    margin: 0;
    @media only screen and (min-width: 768px) and (max-width: 1100px) {
      .col-sm-6 {
        flex-basis: 50%;
        max-width: 50%;
      }
    }
    @media only screen and (max-width: 575px) {
      .col-sm-6 {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }
}
</style>
