<template>
  <section
    class="new-collection section"
    v-if="getCurrentRelatedProducts.length"
  >
    <div class="container-fluid">
      <h2 class="section-heading">
        <span>{{ subheading }}</span>
        {{ heading }}
      </h2>
      <div class="product-list-wrap">
        <swiper class="swiper product-listing" ref="relatedSwiper" :auto-update="true" :auto-destroy="true" :options="relatedSwiperOption">
          <swiper-slide
            v-for="product in getCurrentRelatedProducts"
            :key="product.id"
            class="product-item"
          >
            <product-tile :product="product" />
          </swiper-slide>
        </swiper>
        <div class="swiper-button-prev" slot="button-prev">
          <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.5 13L1.5 7L7.5 1" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
        <div class="swiper-button-next" slot="button-next">
          <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.5 0.999999L7.5 7L1.5 13" stroke="#111111" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapGetters } from 'vuex'
import { prepareRelatedQuery } from '@vue-storefront/core/modules/catalog/queries/related'
import i18n from '@vue-storefront/i18n'
import config from 'config'
import ProductTile from 'theme/components/core/ProductTile'
import SwiperCore, { Navigation } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  name: 'Related',
  props: {
    type: {
      type: String,
      required: true
    },
    heading: {
      type: String,
      required: false,
      default: i18n.t('PEOPLE ALSO BUY')
    },
    subheading: {
      type: String,
      required: false,
      default: i18n.t('With this')
    }
  },
  components: {
    ProductTile,
    Swiper,
    SwiperSlide
  },
  data () {
    return {
      relatedSwiperOption: {
        slidesPerView: 'auto',
        spaceBetween: 0,
        roundLengths: true,
        freeMode: true,
        navigation: {
          nextEl: '.product-list-wrap .swiper-button-next',
          prevEl: '.product-list-wrap .swiper-button-prev'
        },
        breakpoints: {
          1200: {
            slidesPerView: 5,
            spaceBetween: 0
          },
          992: {
            slidesPerView: 4,
            spaceBetween: 0
          },
          0: {
            slidesPerView: 'auto',
            spaceBetween: 10
          }
        }
      }
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-load', this.refreshList)

    if (config.usePriceTiers) {
      this.$bus.$on('user-after-loggedin', this.refreshList)
      this.$bus.$on('user-after-logout', this.refreshList)
    }

    this.refreshList()
  },
  beforeDestroy () {
    if (config.usePriceTiers) {
      this.$bus.$off('user-after-loggedin', this.refreshList)
      this.$bus.$off('user-after-logout', this.refreshList)
    }
  },
  destroyed () {
    this.$bus.$off('product-after-load', this.refreshList)
  },
  methods: {
    async refreshList () {
      let sku = this.productLinks ? this.productLinks
        .filter(pl => pl.link_type === this.type)
        .map(pl => pl.linked_product_sku) : null

      let key = 'sku'
      if (sku === null || (sku.length === 0)) {
        sku = this.getCurrentProduct.category_ids
        key = 'category_ids'
      }
      let relatedProductsQuery = prepareRelatedQuery(key, sku)

      const { items } = await this.$store.dispatch('product/findProducts', {
        query: relatedProductsQuery,
        size: 8,
        options: {
          populateRequestCacheTags: false,
          prefetchGroupProducts: false
        }
      })
      if (items.length) {
        this.$store.dispatch('product/related', {
          key: this.type,
          items: items
        })
        this.$forceUpdate()
      }
    }
  },
  computed: {
    ...mapGetters({
      getProductRelated: 'product/getProductRelated',
      getCurrentProduct: 'product/getCurrentProduct'
    }),
    getCurrentRelatedProducts () {
      return this.getProductRelated[this.type] || []
    },
    productLinks () {
      return this.getCurrentProduct.product_links
    }
  }
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);

.new-collection {
  padding-left: 24px;
  padding-right: 24px;
}

.product-list-wrap {
  position: relative;

  .product-item {
    margin-bottom: 5px;
    height: auto;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    opacity: 1;
    cursor: pointer;

    @media (max-width: 991px) {
      display: none;
    }

    &.swiper-button-disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    svg {
      path {
        transition: all 0.5s ease 0s;
      }
    }

    &:hover {
      svg {
        path {
          stroke: $color-secondary;
        }
      }
    }
  }

  .swiper-button-prev {
    left: -17px;
  }

  .swiper-button-next {
    right: -17px;
  }
}

.product-listing {
  .swiper-slide {
    @media (max-width: 991px) {
      flex: 0 0 250px;
      max-width: 250px;
    }
    @media (max-width: 767px) {
      flex: 0 0 200px;
      max-width: 200px;
    }
  }
}
</style>
