<template>
  <div class="shop-by-category-subitem" v-if="getCmsData">
    <div class="shop-by-category-item-wrap">
      <div class="shop-by-category-img" v-html="getCmsData.content" />
      <div class="shop-by-category-content">
        <h2 class="shop-by-category-title">
          <router-link
            :to="extractCatUrl"
          >
            {{ getCmsData.title }}
          </router-link>
        </h2>
        <router-link
          :to="extractCatUrl"
        >
          {{ $t('View Category') }}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { isServer } from '@vue-storefront/core/helpers'
import { mapGetters } from 'vuex'

export default {
  data () {
    return {
      categoryLink: ''
    }
  },
  props: {
    identifier: {
      type: String,
      default: null,
      required: false
    }
  },
  serverPrefetch () {
    return this.fetchCmsBlock()
  },
  created () {
    if (!isServer) {
      this.fetchCmsBlock()
    }
    this.getCategoryLink();
  },
  methods: {
    fetchCmsBlock () {
      let queryKey = ''
      let queryValue = ''
      if (this.identifier) {
        queryKey = 'identifier'
        queryValue = this.identifier
      }
      if (queryKey && queryValue) {
        return this.$store.dispatch('cmsBlock/single', {
          key: queryKey,
          value: queryValue
        })
      }
    },
    getCategoryLink (category = null) {
      if (category === null) {
        category = this.getCategories;
      }

      let currentCat = this.getCmsData;
      let res = [];

      const categoryFlate = (cf) => {
        res.push({
          id: cf.id,
          url: cf.url_path,
          label: cf.name
        });
        cf.children_data && cf.children_data.forEach(categoryFlate);
      }
      category.forEach(categoryFlate);
      this.categoryLink = res.filter(k => k.label === currentCat['title']);
    }
  },
  computed: {
    ...mapGetters({
      getMenuCategories: 'category-next/getMenuCategories'
    }),
    getCategories () {
      return this.getMenuCategories
    },
    getCmsData () {
      if (this.identifier) {
        const catData = this.$store.getters[`cmsBlock/getCmsBlockByIdentifier`](this.identifier);
        if (catData !== undefined) {
          return catData;
        }
      }
      return '';
    },
    extractCatUrl () {
      return this.categoryLink && this.categoryLink[0] !== undefined ? this.categoryLink[0].url : '/';
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
