<template>
  <component
    :is="compontentType"
    :type="!link ? type : false"
    :to="redirectionLink"
    class="no-outline button-full block brdr-none w-100 px10 py20 bg-cl-secondary :bg-cl-th-secondary ripple weight-400 h4 cl-white sans-serif fs-medium"
    :class="{ 'no-underline pointer align-center border-box': link, 'disabled': disabled, 'button-disabled': disabled }"
    data-testid="subscribeSubmit"
    :disabled="disabled"
  >
    <slot>
      Button
    </slot>
  </component>
</template>

<script>
import focusClean from 'theme/components/theme/directives/focusClean'
export default {
  name: 'ButtonFull',
  directives: { focusClean },
  props: {
    type: {
      type: String,
      required: false,
      default: 'button'
    },
    link: {
      type: Object,
      required: false,
      default: null
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  computed: {
    compontentType () {
      return this.link ? 'router-link' : 'button'
    },
    redirectionLink () {
      return this.link ? this.localizedRoute(this.link) : null
    }
  }
}
</script>

<style lang="scss">
@import "~theme/css/animations/transitions";
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$green-36B289: color(green-36B289);
  .button-full {
    min-width: 250px;
  }
  button.bg-cl-secondary {
    color: $white;
    background-color: $green-36B289;
    line-height: 50px;
    padding: 0 25px;
    font-size: 18px;
    font-family: 'Aller', sans-serif;
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    button.bg-cl-secondary {
      font-size: 16px;
    }
  }
  @media only screen and (max-width: 767px) {
    button.bg-cl-secondary {
      font-size: 16px;
      line-height: 45px;
    }
  }
</style>
