<template>
  <div class="promotional-bar-sec">
    <div class="container">
      <swiper class="swiper promotional-bar-list" ref="promotionalSwiper" :auto-update="true" :auto-destroy="true" :options="swiperOption">
        <swiper-slide class="promotional-bar-item" v-for="(promotionalBarItem, index) in promotionalBarItems" :key="index">
          <cms-block :identifier="promotionalBarItem.id" />
        </swiper-slide>
      </swiper>
    </div>
  </div>
</template>

<script>
import PromotionalBar from 'theme/resource/promotional-bar.json'
import SwiperCore, { Autoplay } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'
import CmsBlock from 'theme/components/core/blocks/Cms/Block'

SwiperCore.use([Autoplay]);

export default {
  components: {
    Swiper,
    SwiperSlide,
    CmsBlock
  },
  data () {
    return {
      promotionalBarItems: PromotionalBar,
      swiperOption: {
        spaceBetween: 0,
        init: false,
        roundLengths: true,
        observer: true,
        observeParents: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
        breakpoints: {
          992: {
            slidesPerView: 'auto',
            allowTouchMove: false
          },
          576: {
            slidesPerView: 2,
            allowTouchMove: true
          },
          0: {
            slidesPerView: 1,
            allowTouchMove: true
          }
        }
      }
    }
  },
  computed: {
    swiper () {
      return this.$refs.promotionalSwiper.$swiper
    }
  },
  mounted () {
    this.checkScreenSize();
    window.addEventListener('resize', this.checkScreenSize);
  },
  methods: {
    checkScreenSize () {
      var self = this;
      if (self.swiper.initialized && window.screen.width > 991) {
        self.swiper.autoplay.stop();
        self.swiper.init(false);
        self.swiper.el.classList.remove('swiper-container-initialized', 'swiper-container-horizontal', 'swiper-container-android', 'swiper-container-ios');
        self.swiper.wrapperEl.removeAttribute('style');
        self.swiper.slides.forEach((slide) => {
          slide.removeAttribute('style');
          slide.classList.remove('swiper-slide-active', 'swiper-slide-next', 'swiper-slide-prev');
        });
        return;
      }
      if (window.screen.width <= 991) {
        self.swiper.init(true);
        self.swiper.autoplay.start();
      }
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-F5F5F5: color(gray-F5F5F5);
$gray-DDDDDD: color(gray-DDDDDD);
$gray-808182: color(gray-808182);
$black: color(black);

.promotional-bar-sec {
  background-color: $gray-F5F5F5;
  padding: 20px 0;
  color: $black;

  @media (max-width: 991px) {
    padding: 10px 0;
  }
}

.promotional-bar-list {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 67px;
  @media (min-width: 992px) {
    .swiper-wrapper {
      justify-content: center;
    }
  }
  @media (max-width: 767px) {
    min-height: 48px;
  }
  .promotional-bar-item {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 7%;
    padding-left: 7%;
    width: auto;
    height: auto;
    white-space: nowrap;
    @media (max-width: 1270px) {
      margin-left: 5%;
      padding-left: 5%;
    }

    @media (max-width: 1199px) {
      margin-left: 2.4%;
      padding-left: 2.4%;
    }

    .promotional-bar-title {
      @media (max-width: 991px) {
        font-size: 16px;
      }

      @media (max-width: 575px) {
        font-size: 20px;
      }
    }

    @media (max-width: 767px) {
      margin-left: 20px;
      padding-left: 20px;
    }

    @media (max-width: 575px) {
      margin: 0;
      padding: 0;
      flex: 0 0 100%;
    }

    &:first-child {
      margin-left: 0;
      padding-left: 0;
      img {
        width: 45px;
      }
    }
    &:nth-child(2) {
      img {
        width: 45px;
      }
    }
    &:last-child {
      flex: 0 0 29.2%;
    }
    @media (max-width: 1270px) {
      &:last-child {
        flex: 0 0 auto;
      }
    }
    & + .promotional-bar-item {
      &::after {
        content: "";
        background: $gray-DDDDDD;
        position: absolute;
        top: 5px;
        bottom: 5px;
        width: 1px;
        left: 0;

        @media (max-width: 575px) {
          display: none;
        }
      }
    }

    img {
      margin-right: 20px;
    }

    .promotional-bar-subtitle {
      color: $gray-808182;

      @media (max-width: 991px) {
        font-size: 10px;
        line-height: 1.2;
        margin-bottom: 5px;
      }

      @media (max-width: 575px) {
        font-size: 12px;
      }
    }
  }
  .klarna-img {
    max-width: 285px;
    margin-right: 0 !important;
    @media (max-width: 767px) {
      max-width: 200px;
    }
  }
}
</style>
