<template>
  <div>
    <div class="blank-section" v-if="!getCmsData" />
    <div class="section shop-by-category-sec" v-if="getCmsData">
      <div class="container-fluid">
        <div class="shop-by-category-desktop-sec">
          <swiper class="swiper shop-by-category-list" ref="shopByCategorySwiper" :auto-update="true" :auto-destroy="true" :options="shopByCategorySwiperOption">
            <swiper-slide class="shop-by-category-item shop-by-category-sublist">
              <shop-by-category-tile :identifier="shopByCategoryData[0].id" />
              <shop-by-category-tile :identifier="shopByCategoryData[1].id" />
            </swiper-slide>
            <swiper-slide class="shop-by-category-item">
              <shop-by-category-tile :identifier="shopByCategoryData[2].id" />
            </swiper-slide>
            <swiper-slide class="shop-by-category-item  shop-by-category-sublist">
              <shop-by-category-tile :identifier="shopByCategoryData[3].id" />
              <shop-by-category-tile :identifier="shopByCategoryData[4].id" />
            </swiper-slide>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import shopByCategoryData from 'theme/resource/shop-by-category.json'
import SwiperCore, { Autoplay } from 'swiper';
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import ShopByCategoryTile from 'theme/components/theme/blocks/Home/ShopByCategoryTile'
import 'swiper/swiper.scss'
import { isServer } from '@vue-storefront/core/helpers'

SwiperCore.use([Autoplay]);

export default {
  components: {
    Swiper,
    ShopByCategoryTile,
    SwiperSlide
  },
  data () {
    return {
      shopByCategoryData: shopByCategoryData,
      shopByCategorySwiperOption: {
        slidesPerView: 'auto',
        spaceBetween: 0,
        init: false,
        roundLengths: true,
        freeMode: true,
        autoplay: {
          delay: 3000,
          disableOnInteraction: false
        },
        breakpoints: {
          992: {
            slidesPerView: 'auto',
            allowTouchMove: false
          },
          0: {
            autoplay: false,
            allowTouchMove: true
          }
        }
      }
    }
  },
  serverPrefetch () {
    return this.fetchCmsBlock()
  },
  created () {
    if (!isServer) {
      this.fetchCmsBlock()
    }
  },
  computed: {
    swiper () {
      if (this.$refs.shopByCategorySwiper) {
        return this.$refs.shopByCategorySwiper.$swiper
      }
      return '';
    }
  },
  mounted () {
    this.checkScreenSize();
    window.addEventListener('resize', this.checkScreenSize);
  },
  methods: {
    checkScreenSize () {
      var self = this;
      if (self.swiper.initialized && window.screen.width > 991 && self.swiper) {
        self.swiper.init(false);
        self.swiper.el.classList.remove('swiper-container-initialized', 'swiper-container-horizontal', 'swiper-container-android', 'swiper-container-ios', 'swiper-container-free-mode');
        self.swiper.wrapperEl.removeAttribute('style');
        self.swiper.slides.forEach((slide) => {
          slide.removeAttribute('style');
          slide.classList.remove('swiper-slide-active', 'swiper-slide-next', 'swiper-slide-prev');
        });
        return;
      }
      if (window.screen.width <= 991 && self.swiper) {
        self.swiper.init(true);
      }
    },
    fetchCmsBlock (identifier) {
      let queryKey = ''
      let queryValue = ''
      if (identifier) {
        queryKey = 'identifier'
        queryValue = identifier
      }
      if (queryKey && queryValue) {
        return this.$store.dispatch('cmsBlock/single', {
          key: queryKey,
          value: queryValue
        })
      }
    },
    getCmsData () {
      for (let i = 0; i < shopByCategoryData.length; i++) {
        this.fetchCmsBlock(shopByCategoryData[i].id);
        const catData = this.$store.getters[`cmsBlock/getCmsBlockByIdentifier`](shopByCategoryData[i].id);
        if (catData !== undefined) {
          return catData;
        } else {
          break;
        }
      };
      return null;
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-FCFCFC: color(gray-FCFCFC);
$white: color(white);
$black: color(black);
$color-secondary: color(secondary);

.shop-by-category-sec {
  padding-left: 24px;
  padding-right: 24px;

  @media (max-width: 767px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.shop-by-category-list {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: 991px) {
    display: block;
  }

  .swiper-wrapper {
    flex-wrap: wrap;

    @media (max-width: 991px) {
      flex-wrap: nowrap;
    }
  }

  .shop-by-category-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    position: relative;
    overflow: hidden;
    height: 82vh;

    @media (max-width: 1199px) {
      height: 62vh;
    }

    @media (max-width: 991px) {
      height: 200px;
      flex: 0 0 334px;
      max-width: 334px;

      &:nth-child(1),
      &:nth-child(3) {
        flex: 0 0 668px;
        max-width: 668px;
      }
      @media (max-width: 575px) {
        &:nth-child(1),
        &:nth-child(3) {
          flex: 0 0 550px;
          max-width: 550px;
        }
      }

    }

    & + .shop-by-category-item {
      padding-left: 20px;
    }

    .shop-by-category-subitem {
      position: relative;
      height: 100%;
      overflow: hidden;
      .shop-by-category-subitem{
        height: 100%;
        .shop-by-category-item-wrap{
          height: 100%;
        }
      }

      &:hover {
        .shop-by-category-img {
          transform: scale(1.05);
        }

        .shop-by-category-content {
          &::after {
            background-color: rgba($color-secondary, 0.6);
            mix-blend-mode: overlay;
          }
          .shop-by-category-title {
            & > a {
              color: $color-secondary;
            }
          }

          & > a {
            color: $color-secondary;
          }
        }
      }
    }

    .shop-by-category-img {
      position: relative;
      height: 100%;
      transition: all 0.3s ease 0s;
      transform: scale(1.01);
      p {
        height: 100%;
      }
      img{
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    .shop-by-category-content {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 18px 20px 12px;
      color: $white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 100%;
        background-color: rgba($black, 0.6);
        transition: all 0.5s ease 0s;
      }

      .shop-by-category-title {
        font-size: 30px;
        color: $gray-FCFCFC;
        padding-right: 10px;
        margin: 0;
        position: relative;
        z-index: 1;

        @media (max-width: 1250px) {
          font-size: 20px;
        }

        @media (max-width: 767px) {
          font-size: 16px;
        }

        & > a {
          color: inherit;
        }
      }

      & > a {
        font-size: 16px;
        color: $white;
        position: relative;
        z-index: 1;

        @media (max-width: 1250px) {
          font-size: 14px;
        }

        @media (max-width: 767px) {
          font-size: 10px;
        }
      }
    }

    .shop-by-category-subitem, .shop-by-category-item-wrap {
      height:100%;overflow: hidden; position: relative;
    }

    &.shop-by-category-sublist {
      display: flex;
      flex-direction: column;

      @media (max-width: 991px) {
        flex-direction: row;
      }
     .shop-by-category-subitem, .shop-by-category-item-wrap{
        height:100%;overflow: hidden; position: relative;
      }
      .shop-by-category-subitem {
        height: 50%;
        position: relative;
        overflow: hidden;
        @media (max-width:575px) {
          height: 100%;
        }
        @media (max-width: 991px) {
          flex: 0 0 50%;
          max-width: 50%;
          height: 100%;
        }

        & + .shop-by-category-subitem {
          padding-top: 20px;

          @media (max-width: 991px) {
            padding-top: 0;
            padding-left: 20px;
          }
        }
      }
    }
  }
}
</style>
