<template lang="html">
  <div class="tabs__light">
    <ul class="tabs__header">
      <li v-for="(tab, index) in tabs"
          :key="tab.title"
          @click="selectTab(index)"
          :class="{ 'tab__selected': (index === selectedIndex) }"
      >
        {{ tab.title }}
      </li>
    </ul>
    <slot />
  </div>
</template>

<script>
export default {
  data () {
    return {
      selectedIndex: 0,
      tabs: []
    }
  },
  created () {
    this.tabs = this.$children
  },
  mounted () {
    this.selectTab(0)
  },
  methods: {
    selectTab (i) {
      this.selectedIndex = i
      this.tabs.forEach((tab, index) => {
        tab.isActive = (index === i)
      })
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-808080: color(gray-808080);
$gray-888888: color(gray-888888);
$gray-E5E5E5: color(gray-E5E5E5);
$mine-shaft: color(mine-shaft);
$color-secondary: color(secondary);

ul.tabs__header {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid $gray-E5E5E5;

  & > li {
    padding: 4px 48px;
    margin: 0;
    cursor: pointer;
    position: relative;
    color: $gray-808080;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Teko';

    @media (max-width: 991px) {
      padding: 4px 10px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: transparent;
    }

    &.tab__selected {
      color: $mine-shaft;

      &::after {
        background-color: $color-secondary;
      }
    }
  }
}

.tab {
  color: $gray-888888;
  padding: 16px 0;
  font-size: 14px;

  p {
    margin-top: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

</style>
