[v-cloak],
.hidden {
  display: none;
}

@media only screen and (max-width: 575px) {
  .visible-xs {
    display: inherit;
  }
}

@media only screen and (min-width: 576px) {
  .visible-sm {
    display: inherit;
  }
}

@media only screen and (min-width: 768px) {
  .visible-md {
    display: inherit;
  }
}

@media only screen and (min-width: 992px) {
  .visible-lg {
    display: inherit;
  }
}

@media only screen and (min-width: 1200px) {
  .visible-xl {
    display: inherit;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
