<template>
  <div class="bl__wrapper--single">
    <div class="bl__wrapper--title">
      <div class="blogimg">
        <router-link :to="localizedRoute('/blog/' + blog.identifier)">
          <img :src="blog.featured_img" :alt="blog.title" class="blog-img">
        </router-link>
      </div>
      <div class="blog-text">
        <router-link :to="localizedRoute('/blog/' + blog.identifier)" class="blog-title">
          {{ blog.title }}
        </router-link>
        <div v-html="blog.content" v-if="blogDescription" class="blog-disc" />
        <div>
          <p class="blog-date">
            {{ $t('Author : ') + blog.author_name }} - {{ blog.publish_time | date('ll') }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'BlogSingle',
  props: {
    blog: {
      type: Object,
      default: () => {}
    },
    blogDescription: {
      type: Boolean,
      required: false,
      default: true
    }
  }
}
</script>
