<template>
  <div class="bl__wrapper" v-if="blogPaginate.length > 0">
    <div class="log-list">
      <blog-single v-for="blog in blogPaginate" :blog="blog" :key="blog.post_id" />
    </div>
    <blog-pagination :perpage="perPage" :current="currentPage" :total-blogs="getBlogs.length" />
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import BlogSingle from '../components/BlogSingle.vue'
import BlogPagination from '../components/BlogPagination.vue'
export default {
  name: 'BlogList',
  components: {
    BlogSingle,
    BlogPagination
  },
  computed: {
    ...mapGetters({
      getBlogs: 'blogs/getBlogs'
    }),
    perPage () {
      return this.$store.state.blogs.perPage
    },
    currentPage () {
      return this.$store.state.blogs.currentPage
    },
    blogPaginate () {
      return this.getBlogs.slice((this.currentPage - 1) * this.perPage, this.perPage * this.currentPage)
    }
  }
}
</script>
