<template>
  <div v-if="cmsPageContent">
    <div class="container" v-html="cmsPageContent.content" />
  </div>
</template>

<script>
import { htmlDecode } from '@vue-storefront/core/filters/html-decode'

export default {
  name: 'Example',
  computed: {
    pageTitle () {
      return this.$store.state.cmsPage.current ? this.$store.state.cmsPage.current.title : ''
    },
    cmsPageContent () {
      return this.$store.state.cmsPage.current
    }
  },
  metaInfo () {
    return {
      title: htmlDecode(this.pageTitle || this.$route.meta.title),
      meta: this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: htmlDecode(this.$route.meta.description) }] : []
    }
  },
  watch: {
    '$route': 'validateRoute'
  },
  methods: {
    validateRoute () {
      let urlkey = this.$route.fullPath.replace('/', '')
      this.$store.dispatch('cmsPage/single', { value: urlkey, setCurrent: true }).then(cmsPage => {
        if (!cmsPage) {
          this.$router.push(this.localizedRoute('/'))
        }
      })
    }
  },
  mounted () {
    this.validateRoute()
  }
}

</script>
