<template>
  <div class="confirmation">
    <div id="klarna-render-confirmation" />
    <div v-if="confirmation.loading">
      <loading-spinner />
    </div>
    <div v-if="confirmation.snippet" v-html="confirmation.snippet" /> <!-- eslint-disable-line vue/no-v-html -->
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import qs from 'qs'
import { isServer } from '@vue-storefront/core/helpers'
import LoadingSpinner from '../components/LoadingSpinner.vue'
import { TaskQueue } from '@vue-storefront/core/lib/sync'

const execute = (url, method = 'GET', body = null) => TaskQueue.execute({
  url,
  payload: {
    method,
    headers: { 'Content-Type': 'application/json' },
    mode: 'cors',
    body: body ? JSON.stringify(body) : null
  },
  silent: true
})

export default {
  name: 'KlarnaConfirmation',
  computed: {
    ...mapGetters({
      confirmation: 'kco/confirmation'
    })
  },
  components: {
    LoadingSpinner
  },
  async mounted () {
    this.$bus.$emit('notification-progress-start', 'Sending acknowledgement to Klarna');
    if (!isServer) {
      const queryString = this.$route.fullPath.replace(this.$route.path, '')
      const { sid } = qs.parse(queryString, { ignoreQueryPrefix: true })
      if (!sid) {
        return
      }
      this.$bus.$emit('kco-order-confirmation', { orderId: sid })
      await this.$store.dispatch('kco/confirmation', { sid })
      this.$store.dispatch('cart/clear')
      const { default: postscribe } = await import('postscribe')
      postscribe('#klarna-render-confirmation', this.confirmation.snippet)

      if (window.localStorage.getItem(sid) === '2') {
        return;
      }
      if (!window.localStorage.getItem('dataLayer')) {
        return;
      }
      let url = '/api/ext/aureatelabs/klarna/?orderId=' + sid;
      const intv = setInterval(async () => {
        const { result } = await execute(url);
        if (!result) {
          return;
        }
        clearInterval(intv);
        window.localStorage.setItem(sid, '2')
        const payload = JSON.parse(window.localStorage.getItem('dataLayer'));
        window.localStorage.removeItem('dataLayer');
        var allProducts = [];
        const orderId = result
        const revenue = (payload.order_amount) / 100
        const order_tax_amount = (payload.order_tax_amount) / 100
        this.$store.dispatch('notification/removeNotification');
        payload.order_lines.forEach((item, index) => {
          if (item.type === 'physical') {
            let singleProduct = {}
            singleProduct['name'] = item.name;
            singleProduct['id'] = item.reference;
            singleProduct['price'] = (item.total_amount / 100);
            singleProduct['quantity'] = item.quantity;
            singleProduct['brand'] = 'Fitnessbug';
            singleProduct['coupon'] = '';
            allProducts.push(singleProduct);
          }
        });

        // const products = allProducts.map(product => getProduct(product))
        const shipping = payload.selected_shipping_option ? payload.selected_shipping_option.tax_amount : 0
        window.dataLayer.push({
          'event': 'purchase',
          'ecommerce': {
            'purchase': {
              'actionField': {
                'id': orderId,
                'affiliation': 'Fitnessbug',
                'revenue': revenue,
                'tax': order_tax_amount,
                'shipping': shipping,
                'coupon': ''
              },
              'products': allProducts.length > 0 ? allProducts : []
            }
          }
        })
        window.dataLayer.push({
          'event': 'order_success',
          'value': revenue,
          'currency': 'GBP',
          'transaction_id': orderId
        });
      }, 2000);
    }
  }
}
</script>

<style lang="scss" scoped>
.confirmation {
  min-height: 580px;
}
</style>

<style lang="scss">
#klarna-unsupported-page {
  display: none;
}
</style>
