<template>
  <section class="productreview-section">
    <div class="container">
      <div class="productreview-box align-center">
        <h2>{{ $t('Product Reviews') }}</h2>
        <p>{{ product.name }}</p>
        <h3>{{ getRatings }} {{ 'out of 5' }}</h3>
        <div class="product-reviews-summary">
          <div class="rating-summary">
            <span class="rating-result" :style="productRatingLength" />
          </div>
          <span class="reviews-actions">{{ totalReview }} {{ $t('Reviews') }}</span>
        </div>
        <div class="rating-chart">
          <div class="rating-chart-rating" :class="'rating-chart-star-' + ratingStar.ratingValue" v-for="(ratingStar, index) in ratingStars" :key="index">
            <div class="rating-chart-label">
              {{ $t(ratingStar.ratingValue + ' stars') }}
            </div>
            <div class="rating-chart-bar">
              <div class="rating-chart-bar-var" :style="'width:' + reviewPercentage(totalReview, totalRatings[ratingStar.ratingKey]) + '%'" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { mapState } from 'vuex'
import map from 'lodash-es/map'
import meanBy from 'lodash-es/meanBy'
import groupBy from 'lodash-es/groupBy'
import sumBy from 'lodash-es/sumBy'
export default {
  data () {
    return {
      boxactive: false,
      totalRatings: {
        one: 0,
        two: 0,
        three: 0,
        four: 0,
        five: 0
      },
      ratingStars: [
        { ratingValue: 5, ratingKey: 'five' },
        { ratingValue: 4, ratingKey: 'four' },
        { ratingValue: 3, ratingKey: 'three' },
        { ratingValue: 2, ratingKey: 'two' },
        { ratingValue: 1, ratingKey: 'one' }
      ]
    };
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  computed: {
    ...mapState({
      currentUser: state => state.user.current,
      reviews: state => state.review.items.items,
      totalReview: state => state.review.items.items ? state.review.items.items.length : 0
    }),
    currentUser () {
      return this.$store.state.user.current
    },
    getRatings () {
      let productReviews = map(this.reviews, 'ratings') || [];
      let bifercatedReviews = groupBy(productReviews, (rating) => {
        return Math.round(meanBy(rating, 'value'))
      });
      let ratings = sumBy(productReviews, (rating) => {
        return meanBy(rating, 'value')
      });
      this.clearRatings({
        one: bifercatedReviews[1]?.length || 0,
        two: bifercatedReviews[2]?.length || 0,
        three: bifercatedReviews[3]?.length || 0,
        four: bifercatedReviews[4]?.length || 0,
        five: bifercatedReviews[5]?.length || 0
      });
      return (this.reviews && this.reviews.length && ratings > 0) ? (ratings / this.reviews.length).toFixed(1) : 0;
    },
    productRatingLength () {
      return this.getRatings > 0 ? 'width:' + ((this.getRatings * 100) / 5) + '%' : 'width:0';
    }
  },
  methods: {
    clearRatings (data) {
      this.totalRatings = data;
    },
    reviewPercentage (total, value) {
      if (total > 0) {
        const ratingWidth = Math.round((value * 100) / total);
        return ratingWidth >= 100 ? 100 : ratingWidth
      }
      return 0;
    }
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$mine-shaft: color(mine-shaft);
$white: color(white);
$black: color(black);
$light-gray: color(light-gray);
$orange: color(orange);
.productreview-section {
  padding: 20px 0 0;
  .showreview {
    display: none;
    &.active {
      display: block;
      text-align: left;
    }
  }
  .productreview-box {
    max-width: 550px;
    margin: 0 auto;
    padding: 0 15px;
    h2 {
      font-size: 21px;
      margin-bottom: 15px;
    }
    p {
      font-size: 16px;
    }
    h3 {
      font-size: 18px;
    }
    .product-reviews-summary {
      padding: 10px 0;
      display: flex;
      justify-content: center;
      .rating-summary {
        background: url(/assets/icons/star.png);
        width: 100px;
        height: 20px;
        .rating-result {
          background: url(/assets/icons/star-active.png);
          display: block;
          height: 20px;
        }
      }
      .reviews-actions {
        margin-left: 5px;
        line-height: 1.5;
        font-size: 14px;
        color: $black;
      }
    }
    .rating-chart {
      margin: 15px 0 25px;
      .rating-chart-rating {
        display: flex;
        margin-bottom: 15px;
        align-items: center;
        .rating-chart-label {
          min-width: 60px;
          margin-right: 10px;
          text-align: right;
        }
        .rating-chart-bar {
          display: block;
          background-color: $light-gray;
          position: relative;
          height: 30px;
          width: 100%;
          .rating-chart-bar-var {
            background-color: $orange;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
          }
        }
      }
    }
  }
}
</style>
<style lang="scss">
.productreview-section {
  .showreview {
    textarea {
      margin-top: 0;
    }
    form {
      .error-msg {
        margin-top: 5px;
      }
    }
    @media (max-width: 767px) {
      input[type="text"], input[type="email"], textarea {
        font-size: 16px;
      }
    }
  }
}
</style>
