<template>
  <div>
    <div class="h5" v-if="!itemsPerPage || itemsPerPage.length === 0">
      {{ $t('No reviews have been posted yet. Please don\'t hesitate to share Your opinion and write the first review!') }}
    </div>
    <div class="review-list-wrap">
      <div class="review-list" v-for="(item, index) in itemsPerPage" :key="index">
        <div class="product-reviews-summary">
          <div class="rating-summary" v-if="item.ratings.length > 0">
            <span class="rating-result" :style="'width:'+item.ratings[0].percent+'%'" />
          </div>
        </div>
        <div class="review-auther flex mb10">
          <h4 class="weight-400 m0">
            {{ item.title }}
          </h4>
          <p class="ml17">
            {{ item.nickname }}, {{ item.created_at | date(null, storeView) }}
          </p>
        </div>
        <p class="cl-gray lh25">
          {{ item.detail }}
        </p>
        <div class="review-images" v-if="item.images !== '' && JSON.parse(item.images) !== 'null'">
          <div>
            <ul class="imageGallery">
              <li v-for="(img, imgIndex) in JSON.parse(item.images)" :key="imgIndex">
                <a :href="reviewImgPath(img)" @click="lightboxOpen(item, reviewImgPath(img, 600, 600), imgIndex, $event)" :class="{ active: active == imgIndex }">
                  <img :src="reviewImgPath(img)" alt="">
                </a>
              </li>
            </ul>

            <div id="overlay" @click.self="closeOverlay" @keyup="keyBoardShortcuts(e)">
              <div class="holder">
                <img id="overlay_image">
                <div class="nav">
                  <a id="close" nohref @click="closeOverlay"><span>×</span></a>
                  <a id="prev" nohref @click="cyclePrev"><span>←</span></a>
                  <a id="next" nohref @click="cycleNext"><span>→</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row middle-xs center-xs mt20" v-if="pageCount > 1">
      <a href="#" class="mr10 no-underline f-s-16 arrow" :class="{ inactive: currentPage === 1 }" @click.prevent="prevPage">
        <i class="material-icons mr8">chevron_left</i>{{ $t('Previous') }}
      </a>
      <span class="pagination-page" v-for="pageNumber in pageList" :key="pageNumber">
        <span class="block py4 px10 f-s-16 active" v-if="pageNumber === currentPage">
          {{ pageNumber }}
        </span>
        <a href="#" class="block py4 f-s-16 px12 pointer" v-else @click.prevent="changePage(pageNumber)">
          {{ pageNumber }}
        </a>
      </span>
      <a href="#" class="ml10 no-underline f-s-16 arrow" :class="{ inactive: currentPage === pageCount }" @click.prevent="nextPage">
        {{ $t('Next') }}<i class="material-icons ml8">chevron_right</i>
      </a>
    </div>
  </div>
</template>

<script>
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { reviewJsonLd } from '@vue-storefront/core/helpers'
import { getThumbnailPath } from '@vue-storefront/core/helpers'
import config from 'config'
export default {
  props: {
    perPage: {
      type: Number,
      required: false,
      default: 4
    },
    items: {
      type: Array,
      default: () => []
    },
    productName: {
      type: String,
      default: ''
    },
    product: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      currentPage: 1,
      imagePathArray: [],
      showNav: 1,
      keyBoardNav: 1,
      showcaption: 1,
      loop: 1,
      allowKeyboard: 1,
      imageIndex: 0,
      active: 0,
      images: []
    }
  },
  computed: {
    itemsPerPage () {
      let start = ((this.currentPage - 1) * this.perPage)
      let end = start + this.perPage
      return this.items.slice(start, end).filter(review => !!review.review_status)
    },
    pageCount () {
      return Math.floor(this.items.length / this.perPage) + Math.min(1, this.items.length % this.perPage)
    },
    pageList () {
      if (this.pageCount <= 5 || this.currentPage === 1 || this.currentPage === 2) {
        const pages = []
        for (let i = 1; i <= Math.min(this.pageCount, 5); i += 1) {
          pages.push(i)
        }
        return pages
      } else if (this.currentPage === this.pageCount || this.currentPage === this.pageCount - 1) {
        const pages = []
        for (let i = this.pageCount; i >= 1 && i >= this.pageCount - 4; i -= 1) {
          pages.unshift(i)
        }
        return pages
      } else {
        return [this.currentPage - 2, this.currentPage - 1, this.currentPage, this.currentPage + 1, this.currentPage + 2]
      }
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    prevPage () {
      this.scrollToReviewsMain();
      this.currentPage = Math.max(1, this.currentPage - 1)
    },
    nextPage () {
      this.scrollToReviewsMain();
      this.currentPage = Math.min(this.pageCount, this.currentPage + 1)
    },
    changePage (pageNumber) {
      this.scrollToReviewsMain();
      this.currentPage = Math.max(1, Math.min(this.pageCount, pageNumber))
    },
    reviewImgPath (image, width = 300, height = 300) {
      return getThumbnailPath('/' + image, width, height, 'review')
    },
    scrollToReviewsMain () {
      const headerOffset = document.querySelector('.header').clientHeight;
      const offsetTop = document.querySelector('.reviews-sec').offsetTop;
      const offset = offsetTop - headerOffset;
      scroll({
        top: offset,
        behavior: 'smooth'
      });
    },

    /* review image gallary popup */
    lightboxOpen (item, href, index, event) {
      event.preventDefault();
      document.getElementById('overlay_image').src = href;
      this.allowKeyboard = 1;
      document.getElementById('overlay').style.display = 'block';
      this.imageIndex = index;
      this.active = index;
      this.images = item.images.split(',');
    },
    closeOverlay () {
      document.getElementById('overlay').style.display = 'none';
      this.allowKeyboard = 0;
      this.images = [];
    },
    cycleNext () {
      if (this.images.length !== this.imageIndex + 1) {
        var nextActiveImage = document.querySelector('.active').parentElement.nextSibling.querySelector('img');
        nextActiveImage.click();
      } else if (this.loop === 1) {
        var firstActiveImage = document.querySelector('.imageGallery').querySelector('li').querySelector('img');
        firstActiveImage.click();
      }
    },
    cyclePrev () {
      if (this.imageIndex !== 0) {
        var prevActiveImage = document.querySelector('.active').parentElement.previousSibling.querySelector('img');
        prevActiveImage.click();
      } else if (this.loop === 1) {
        var lastActiveImage = document.querySelector('.imageGallery').querySelectorAll('li')
        var lastChild = lastActiveImage[lastActiveImage.length - 1].querySelector('img');
        lastChild.click();
      }
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$mine-shaft: color(mine-shaft);
$white: color(white);
$black: color(black);
$gray-E5E5E5: color(gray-E5E5E5);
$light-black-2D2D2D: color(light-black-2D2D2D);
$gray-888888: color(gray-888888);
$green-36B289: color(green-36B289);

.arrow {
  background-color: $mine-shaft;
  color: $white;
  padding: 4px 10px;
  border-radius: 3px;
  &:hover {
    background-color: $green-36B289;
  }
}
.inactive {
  opacity: 0.3;
  pointer-events: none;
  background-color: transparent;
  color: $mine-shaft;
}
.material-icons {
  font-size: 28px;
  line-height: 17px;
  vertical-align: middle;
  width: 10px;
  text-indent: -8px;
}
.pagination-page {
  a {
    &:hover {
      border-color: $green-36B289;
      color: $green-36B289;
    }
  }
  @media (max-width: 767px) {
    margin: 0;
  }
  a, span {
    border-radius: 3px;
    border: 1px solid transparent;
    &.active {
      border-color: $green-36B289;
      color: $green-36B289;
    }
  }
}
.review-list {
  border-bottom: 1px solid $gray-E5E5E5;
  padding-bottom: 30px;
  margin-bottom: 30px;
  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
  .review-auther {
    h4 {
      font-size: 18px;
      color: $black;
      line-height: 110%;
      font-family: 'Aller', sans-serif;
    }
    p {
      font-size: 14px;
      line-height: 18px;
      color: $gray-888888;
      &:before {
        content: "• ";
        color: $light-black-2D2D2D;
      }
    }
  }
  .product-reviews-summary {
      padding: 0 0 10px;
      .rating-summary {
        background: url(/assets/icons/star.png);
        width: 100px;
        height: 20px;
        .rating-result {
          background: url(/assets/icons/star-active.png);
          display: block;
          height: 20px;
        }
      }
    }
}
@media (max-width: 767px) {
  .review-list {
    padding-bottom: 15px;
    margin-bottom: 15px;
    .review-auther {
      h4 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .arrow {
    font-size: 14px;
    .material-icons {
      font-size: 24px;
      line-height: 13px;
    }
  }
  .pagination-page {
    a, span {
      font-size: 14px;
    }
  }
}
.review-images {
  .imageGallery {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
    li {
      margin-right: 10px;
      margin-top: 10px;
      img {
        width: 80px;
        height: 80px;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
}
.review-list-wrap {
  #overlay {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    z-index: 9;
    .holder {
      max-width: 600px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      @media (max-width: 767px) {
        max-width: 80%;
      }
      img {
        width: 100%;
        max-width: 600px;
        max-height: 92vh;
        object-fit: cover;
        cursor: pointer;
        box-sizing: border-box;
        display: block;
        background-color:$white;
      }
      .nav {
        max-width: 600px;
        margin: 0 auto;
        font-size: 14px;
        a {
          color: $white;
          opacity: 0.5;
          user-select: none;
          -webkit-user-select: none;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
        #next, #prev {
          position: absolute;
          top: 50%;
          font-size: 40px;
          transform: translateY(-50%);
          padding: 0;

          span {
            line-height: 20px;
            display: block;
            height: 30px;
          }
        }
        #next {
          right: -49px;
          text-align: right;
        }
        #prev {
          left: -49px;
          text-align: left;
        }
        #close {
          right: -15px;
          top: -15px;
          font-size: 30px;
          z-index: 99;
          position: absolute;
          opacity: 1;
          width: 30px;
          height: 30px;
          text-align: center;
          border-radius: 50%;
          line-height: 30px;
          padding-left: 1px;
          background-color: $black;
          &:hover {
            background-color: $green-36B289;
          }
        }
      }
    }
  }
}
</style>
