<template>
  <div class="breadcrumbs h5 cl-gray">
    <span>
      <router-link :to="localizedRoute('/')" :title="$t('Home Page')">
        {{ $t('Home') }}
      </router-link> <label>/</label>
    </span>
    <span v-for="link in paths" :key="link.route_link">
      <router-link :to="link.route_link" v-if="link.name !== 'Default Category' && link.name !== 'Homepage'">
        {{ link.name | htmlDecode }}
      </router-link> <label v-if="link.name !== 'Default Category' && link.name !== 'Homepage'">/</label>
    </span>
    <span class="cl-mine-shaft">
      {{ current | htmlDecode }}
    </span>
  </div>
</template>

<script>
import { Breadcrumbs } from '@vue-storefront/core/modules/breadcrumbs/components/Breadcrumbs.ts'

export default {
  mixins: [Breadcrumbs]
}
</script>
<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$cgray-B3B3B3: color(gray-B3B3B3);
$gray-666666: color(gray-666666);

header{
  .breadcrumbs{
    font-family: 'Aller', sans-serif;
    color: $cgray-B3B3B3;
    padding: 15px 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    & > span {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    a{color:$cgray-B3B3B3; font-size: 16px; }
    label{ margin:0 4px;}
    .cl-mine-shaft{ color: $gray-666666;}
  }
}
@media (max-width: 767px) {
  header .breadcrumbs { padding: 11px 0;}
  header .breadcrumbs a, header .breadcrumbs .cl-mine-shaft{font-size: 13px;}
}
</style>
