<template>
  <div class="notifications fixed">
    <transition-group name="fade-in-down">
      <div
        class="notification mt30 border-box cl-white px40"
        v-for="(notification, index) in notifications"
        :key="`${notification.type}_${index}`"
        :class="notification.type"
      >
        <i
          class="modal-close material-icons cl-bg-tertiary"
          :class="`border-${notification.type}`"
          id="notificationAction1"
          data-testid="notificationAction1"
          @click="execAction(notification.action1, index)"
        >
          close
        </i>
        <div
          @click="execAction(notification.action1, index)"
          class="message pt50 f-s-18 weight-700"
          data-testid="notificationMessage"
        >
          {{ notification.message }}
          <div class="mt10 cl-gray-979797 f-s-16 weight-400">
            {{ notification.message_second }}
          </div>
        </div>
        <div class="py30 actions align-right">
          <div
            class="py0 px30 mr10 pt2 pointer weight-700 f-s-16 cl-white action-border notification-action uppercase"
            :class="`border-${notification.type}`"
            id="notificationAction1"
            data-testid="notificationAction1"
            @click="execAction(notification.action1, index)"
          >
            {{ notification.action1.label }}
          </div>
          <div
            class="py0 px30 pt3 pointer weight-700 f-s-16 cl-white notification-action uppercase"
            :class="`bg-${notification.type}`"
            id="notificationAction2"
            data-testid="notificationAction2"
            @click="execAction(notification.action2, index)"
            v-if="notification.action2"
          >
            {{ notification.action2.label }}
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
import { Notification } from '@vue-storefront/core/modules/notification/components/Notification'

export default {
  mixins: [Notification],
  methods: {
    execAction (action, index) {
      if (action.action) {
        // for backward compatibility
        if (action.action === 'close') {
          this.$store.dispatch('notification/removeNotification', index)
        } else {
          action.action()
        }
      }
      this.$store.dispatch('notification/removeNotification', index)
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/base/global_vars';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$z-index-notification: map-get($z-index, notification);
$color-error: color(error);
$color-success: color(success);
$color-warning: color(warning);
$color-info: color(accent);
$color-action: color(black);
$white: color(white);
$mine-shaft: color(mine-shaft);
$secondary: color(secondary);
$gray-666666: color(gray-666666);
$red-E64A19: color(red-E64A19);
$gray-808080: color(gray-808080);
$gray-4d4d4d: color(gray-4d4d4d);
$green-82CE34: color(green-82CE34);
$gray-979797: color(gray-979797);
$green-36B289: color(green-36B289);
.notifications {
  top: 100px;
  right: 5%;
  width: 443px;
  z-index: 99999 !important;

  @media (max-width: 767px) {
    width: auto;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;

    .fade-in-down-enter,
    .fade-in-down-leave-to {
      transform: translateY(100%);
    }
    .notification {
      border-radius: 0;
      padding: 0 25px;
      .message {
        font-size: 16px;
        text-align: center;
        padding-top: 40px;
        div {
          font-size: 14px;
          margin-top: 5px;
        }
      }
      .actions {
        justify-content: center;
        padding: 20px 0 25px;
        div {
          font-size: 14px;
        }
      }
    }
  }
}
.notification {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
  background-color: $white;
  border-radius: 16px;
  position: relative;
  color: $mine-shaft;
  overflow: hidden;
  &:first-child  {
    margin-top: 0;
  }
  i.modal-close {
    cursor: pointer;
    color: $gray-666666;
    position: absolute;
    right: 17px;
    top: 17px;
    transition: 0.5s;
    font-size: 19px;
    font-weight: bold;
    &:hover {
      color: $secondary;
    }
  }
}
.actions {
  display: flex;
  justify-content: flex-end;
  div {
    line-height: 38px;
    border-radius: 6px;
    transition: 0.5s;
    &:hover {
      background-color: $green-36B289;
      border-color: $green-36B289 !important;
      color: $white !important;
    }
  }
  .bg-warning {
    background-color: $red-E64A19;
  }
  .bg-success {
    background-color: $green-82CE34;
  }
  .bg-error {
    background-color: $color-error;
  }
  .bg-info {
    background-color: $color-info;
  }
  #notificationAction1{
    border: 1px solid $gray-808080;
    color: $gray-4d4d4d;
    &:last-child {
      margin-right: 0;
    }
  }
}

</style>
<style lang="scss">
#app {
  .overlay {
    background:rgba(0, 0, 0, 0.6);
  }
}
</style>
