<template>
  <div class="media-gallery-carousel relative">
    <div class="swiper-slider-wrap">
      <swiper :options="newSwiperOption" ref="newSwiperOption" :instance-name="sliderId" :speed="carouselTransitionSpeed" @pageChange="pageChange" :navigate-to="currentPage">
        <swiper-slide class="swiper-slide hover-on-product" v-for="(images, index) in gallery" :key="images.src">
          <div
            class="product-image-container"
            :class="{'video-container w-100 h-100 flex relative': images.video}"
          >
            <product-image
              v-show="hideImageAtIndex !== index"
              @click="openOverlay"
              class="pointer image"
              :image="images"
              :alt="productName | htmlDecode"
            />
            <product-video
              v-if="images.video && (index === currentPage)"
              v-bind="images.video"
              :index="index"
              @video-started="onVideoStarted"
            />
          </div>
        </swiper-slide>
      </swiper>
    </div>
    <div :id="sliderId + '-button-prev'" class="swiper-button-prev" slot="button-prev">
      <i class="material-icons pointer">keyboard_arrow_left</i>
    </div>
    <div :id="sliderId + '-button-next'" class="swiper-button-next" slot="button-next">
      <i class="material-icons pointer">keyboard_arrow_right</i>
    </div>
  </div>
</template>

<script>
import config from 'config'
import ProductImage from './ProductImage'
import ProductVideo from './ProductVideo'
import reduce from 'lodash-es/reduce'
import map from 'lodash-es/map'
import SwiperCore, { Navigation } from 'swiper';
import { directive, Swiper, SwiperSlide } from 'vue-awesome-swiper'
import 'swiper/swiper.scss'

SwiperCore.use([Navigation]);

export default {
  name: 'ProductGalleryCarousel',
  components: {
    ProductImage,
    ProductVideo,
    Swiper,
    SwiperSlide
  },
  props: {
    gallery: {
      type: Array,
      required: true
    },
    productName: {
      type: String,
      default: ''
    },
    configuration: {
      type: Object,
      required: true
    },
    sliderId: {
      type: String,
      default: 'product-gallery'
    }
  },
  data () {
    return {
      carouselTransition: true,
      carouselTransitionSpeed: 0,
      currentColor: 0,
      currentPage: 0,
      hideImageAtIndex: null,
      newSwiperOption: {
        spaceBetween: 0,
        slidesPerView: 1,
        loop: false,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        }
      }
    }
  },
  directives: {
    swiper: directive
  },
  computed: {},
  beforeMount () {
    this.$bus.$on('product-after-configure', this.selectVariant)
    this.$bus.$on('product-after-load', this.selectVariant)
  },
  mounted () {
    this.selectVariant()

    if (this.configuration.color) {
      const { color } = this.configuration
      this.currentColor = color.id
    }
    this.$emit('loaded')
  },
  beforeDestroy () {
    this.$bus.$off('product-after-configure', this.selectVariant)
    this.$bus.$off('product-after-load', this.selectVariant)
  },
  methods: {
    navigate (index) {
      if (index < 0) return
      this.currentPage = index
    },
    async selectVariant (configuration) {
      await this.$nextTick()
      if (config.products.gallery) {
        const option = reduce(map(this.configuration, 'attribute_code'), (result, attribute) => {
          result[attribute] = this.configuration[attribute].id

          return result
        }, {})
        if (option) {
          let index = this.gallery.findIndex(
            obj => obj.id && Object.entries(obj.id).toString() === Object.entries(option).toString(), option)
          if (index < 0) index = this.gallery.findIndex(obj => String(obj.id && obj.id.color) === String(option.color))
          this.navigate(index)
        }
      }

      this.$emit('close')
    },
    openOverlay () {
      const currentSlide = this.$refs.newSwiperOption.$swiper.activeIndex
      this.$emit('toggle', currentSlide)
    },
    switchCarouselSpeed () {
      const { color } = this.configuration
      if (color && this.currentColor !== color.id) {
        this.currentColor = color.id
        this.carouselTransitionSpeed = 0
      } else {
        this.carouselTransitionSpeed = 500
      }
    },
    pageChange (index) {
      this.switchCarouselSpeed()
      this.hideImageAtIndex = null
    },
    onVideoStarted (index) {
      this.hideImageAtIndex = index
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
.media-gallery-carousel {
  position: relative;
  text-align: center;
  height: 100%;
}
.zoom-in {
  position: absolute;
  bottom: 0;
  right: 0;
}
.video-container {
  align-items: center;
  justify-content: center;
}
</style>

<style lang="scss">
.media-gallery-carousel,
.media-zoom-carousel {
  .VueCarousel-pagination {
    position: absolute;
    bottom: 15px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 24px;
    z-index: 1;
    user-select: none;
    &.swiper-button-disabled {
      opacity: 0.5;
      cursor: default;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .VueCarousel-navigation-button {
    margin: 0;
    transform: translateY(-50%) !important;
  }
  .VueCarousel-slide {
    backface-visibility: unset;
  }
  .VueCarousel-navigation {
    &--disabled {
      opacity: 0.5;
    }
  }
  .VueCarousel-dot {
    padding: 8px !important;
    button {
      border: 2px solid #828282;
    }
  }
  &:hover {
    .VueCarousel-navigation-button {
      transition: opacity 3s;
      &:after {
        background-color: transparent;
      }
    }
  }
}
</style>
