<template>
  <li>
    <span class="spac-lable">{{ label|htmlDecode }} </span>
    <span>{{ value|htmlDecode }}</span>
  </li>
</template>

<script>
import { ProductAttribute } from '@vue-storefront/core/modules/catalog/components/ProductAttribute.ts'

export default {
  mixins: [ProductAttribute]
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-2D242D: color(gray-2D242D);
$mine-shaft: color(mine-shaft);

.spac-lable {
  color: $gray-2D242D;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

li {
  color: rgba($mine-shaft, 0.6);

  & + li {
    margin-top: 10px;
  }
}
</style>
