<template>
  <div
    class="product align-center w-100 p20"
    v-observe-visibility="visibilityChanged"
  >
    <router-link
      class="block no-underline product-link"
      :to="productLink"
      data-testid="productLink"
    >
      <div
        class="product-cover"
        :class="[
          { sale: labelsActive && isOnSale },
          { new: labelsActive && isNew },
        ]"
      >
        <product-image
          class="product-cover__thumb"
          :image="thumbnailObj"
          :alt="product.name | htmlDecode"
          :calc-ratio="false"
          data-testid="productImage"
        />
      </div>

      <p class="mb20 mt10 lh20 teko f-s-20" v-if="!onlyImage">
        {{ product.name | htmlDecode }}
      </p>
      <div class="product-reviews-summary short flex middle-sm">
        <div class="rating-summary">
          <span class="rating-result" :style="productRatingLength" />
        </div>
        <span class="reviews-actions">{{ showNoOfReviews }} {{ $t('Reviews') }}</span>
      </div>
      <span
        class="price-special lh20  weight-700 f-s-19 aller cl-secondary"
        v-if="product.special_price && parseFloat(product.special_price) > 0 && !onlyImage"
      >{{ product.price | price(storeView) }}</span>

      <span
        class="lh20 f-s-19 aller weight-700 cl-secondary"
        v-if="!product.special_price && parseFloat(product.price) > 0 && !onlyImage"
      >{{ product.price | price(storeView) }}</span>

      <span
        class="price-original ml5 lh20 weight-400 f-s-19 aller cl-gray"
        v-if="product.special_price && parseFloat(product.original_price) > 0 && !onlyImage"
      >{{ product.original_price | price(storeView) }}</span>
    </router-link>
    <div class="product__icons flex">
      <router-link
        class="no-outline button-full block brdr-none w-100 px10 py20 bg-cl-secondary :bg-cl-th-secondary ripple weight-400 h4 cl-white sans-serif fs-medium bg-cl-th-secondary"
        :to="productLink"
        data-testid="productLink"
      >
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-62db5e26="">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M1.5 0.75C1.08579 0.75 0.75 1.08579 0.75 1.5C0.75 1.91421 1.08579 2.25 1.5 2.25H7.5C7.91421 2.25 8.25 1.91421 8.25 1.5C8.25 1.08579 7.91421 0.75 7.5 0.75H1.5ZM5.39307 21C5.39307 20.3096 5.95271 19.75 6.64307 19.75C7.33342 19.75 7.89307 20.3096 7.89307 21C7.89307 21.6904 7.33342 22.25 6.64307 22.25C5.95271 22.25 5.39307 21.6904 5.39307 21ZM6.64307 18.25C5.12428 18.25 3.89307 19.4812 3.89307 21C3.89307 22.5188 5.12428 23.75 6.64307 23.75C8.16185 23.75 9.39307 22.5188 9.39307 21C9.39307 19.4812 8.16185 18.25 6.64307 18.25ZM14.1929 21C14.1929 20.3096 14.7525 19.75 15.4429 19.75C16.1332 19.75 16.6929 20.3096 16.6929 21C16.6929 21.6904 16.1332 22.25 15.4429 22.25C14.7525 22.25 14.1929 21.6904 14.1929 21ZM15.4429 18.25C13.9241 18.25 12.6929 19.4812 12.6929 21C12.6929 22.5188 13.9241 23.75 15.4429 23.75C16.9617 23.75 18.1929 22.5188 18.1929 21C18.1929 19.4812 16.9617 18.25 15.4429 18.25ZM3.70998 6.5H22.2639C22.6356 6.5 22.8774 6.89116 22.7111 7.22361L18.7111 15.2236C18.6264 15.393 18.4533 15.5 18.2639 15.5H4.50997C4.2531 15.5 4.03802 15.3054 4.01246 15.0498L3.21246 7.04975C3.18302 6.75541 3.41417 6.5 3.70998 6.5ZM1.7199 7.19901C1.60216 6.02164 2.52673 5 3.70998 5H22.2639C23.7507 5 24.7177 6.56463 24.0528 7.89443L20.0528 15.8944C19.714 16.572 19.0215 17 18.2639 17H4.50997C3.48247 17 2.62214 16.2214 2.5199 15.199L1.7199 7.19901Z" fill="white" data-v-62db5e26="" />
        </svg>
        {{ $t('Add to cart') }}
      </router-link>
      <AddToWishlist :product="product" class="addwishlistbtn">
        <div
          class="product__icon"
          :class="{ 'product__icon--active': isOnWishlist }"
          :title="isOnWishlist ? $t('Remove') : $t('Add to favorite')"
        >
          <svg
            width="23"
            height="24"
            viewBox="0 0 23 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              id="Path"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M16.5 1C19.8137 1 22.5 3.81421 22.5 7.28571C22.5 13.5697 11.5 23 11.5 23C11.5 23 0.5 13.571 0.5 7.28571C0.5 3.81421 3.18629 1 6.5 1C8.58752 1 10.426 2.11683 11.5008 3.81125C12.574 2.11683 14.4125 1 16.5 1Z"
              stroke="black"
            />
          </svg>
        </div>
      </AddToWishlist>
    </div>
  </div>
</template>

<script>
import rootStore from '@vue-storefront/core/store';
import { ProductTile } from '@vue-storefront/core/modules/catalog/components/ProductTile.ts';
import config from 'config';
import ProductImage from './ProductImage';
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist';
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist';
import { currentStoreView } from '@vue-storefront/core/lib/multistore';
import { getThumbnailPath } from '@vue-storefront/core/helpers'

export default {
  mixins: [ProductTile, IsOnWishlist],
  components: {
    ProductImage,
    AddToWishlist
  },
  props: {
    labelsActive: {
      type: Boolean,
      default: true
    },
    onlyImage: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    thumbnailObj () {
      return {
        src: this.product.parent_product_img ? getThumbnailPath(this.product.parent_product_img, 300, 300) : this.thumbnail,
        loading: this.thumbnail
      };
    },
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border';
    },
    storeView () {
      return currentStoreView();
    },
    showNoOfReviews () {
      if (this.product.no_of_review) {
        return this.product.no_of_review
      } else {
        return 0
      }
    },
    productRatingLength () {
      if (this.product.rating_count && this.product.rating_count !== 'undefined' && this.product.rating_count > 0) {
        const countNum = this.product.rating_count
        const ratingVal = (countNum.toFixed(2) * 100) / 5;
        return 'width:' + ratingVal + '%';
      }
      return 'width:0';
    }
  },
  methods: {
    onProductPriceUpdate (product) {
      if (product.sku === this.product.sku) {
        Object.assign(this.product, product);
      }
    },
    visibilityChanged (isVisible, entry) {
      if (
        isVisible &&
        config.products.configurableChildrenStockPrefetchDynamic &&
        config.products.filterUnavailableVariants &&
        this.product.type_id === 'configurable' &&
        this.product.configurable_children &&
        this.product.configurable_children.length > 0
      ) {
        const skus = [this.product.sku];
        for (const confChild of this.product.configurable_children) {
          const cachedItem = rootStore.state.stock.cache[confChild.id];
          if (typeof cachedItem === 'undefined' || cachedItem === null) {
            skus.push(confChild.sku);
          }
        }
        if (skus.length > 0) {
          rootStore.dispatch('stock/list', { skus: skus }); // store it in the cache
        }
      }
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-priceupdate', this.onProductPriceUpdate);
  },
  beforeDestroy () {
    this.$bus.$off('product-after-priceupdate', this.onProductPriceUpdate);
  }
};
</script>

<style lang="scss" scoped>
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$bg-secondary: color(secondary, $colors-background);
$border-secondary: color(secondary, $colors-border);
$color-white: color(white);
$red-F22424: color(red-F22424);
$gray-eee: color(gray-eee);

.product {
  .product__icons {
    position: static;
    flex-direction: inherit;
    padding-right: 0;
    padding-top: 20px;
  }
  position: relative;
  @media (max-width: 767px) {
    padding-bottom: 10px;
  }
  &__icons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-top: 10px;
  }
  &__icon {
    padding-top: 10px;
    opacity: 0;
    z-index: 2;
    transition: 0.3s opacity $motion-main;
    @media (max-width: 767px) {
      opacity: 1;
    }
    &--active {
      opacity: 1;
    }
  }
  &:hover {
    .product__icon {
      opacity: 1;
    }
  }
  p{
    height:37px;
    display: flex;
    overflow: hidden;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    @media (max-width: 991px){
      height:30px;
    }
  }
}
.product-reviews-summary{
  padding: 0 0 15px;
  justify-content: center;
  &.short{
    .rating-summary{
      background: url(/assets/icons/star.png);
      background-size:auto 18px;
      width: 89px;
      height: 16px;
      .rating-result{
        background: url(/assets/icons/star-active.png);
        background-size:auto 18px;
        display: block;
        height: 16px;
      }
    }
    .reviews-actions{
      font-size: 13px;
      margin-left: 12px;
    }
    @media only screen and (min-width: 768px) and (max-width: 850px) {
      display: block;
      .rating-summary {
        margin: 0 auto 4px;
      }
    }
    @media (max-width: 550px) {
      display: block;
      .rating-summary {
        margin: 0 auto 4px;
      }
    }
    @media (max-width: 419px) {
      display: block;
      span.reviews-actions {
        margin-left: 0;
        display: block;
        margin-top: 5px;
      }
    }
  }
  @media (max-width: 767px) {
    .sale-tag{
      img{
        max-width:55px;
      }
    }
  }
}

.price-original {
  text-decoration: line-through;
}

%label {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: $border-secondary;
  text-transform: uppercase;
  color: $color-white;
  font-size: 12px;
}

.product-cover {
  overflow: hidden;

  &__thumb {
    padding-bottom: calc(143.88% / (164.5 / 100));
    will-change: transform;
    transition: 0.3s transform $motion-main;
  }

  @media screen and (min-width: 768px) {
    &:hover {
      .product-cover__thumb {
        transform: scale(1.05);
      }
    }
  }

  &.sale {
    &::after {
      @extend %label;
      content: 'Sale';
    }
  }
  &.new {
    &::after {
      @extend %label;
      content: 'New';
    }
  }
}
.product__icon--active path {
  fill: $red-F22424;
  stroke: $red-F22424;
}
</style>

<style lang="scss">
@import '~theme/css/animations/transitions';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-secondary: color(secondary);
$color-white: color(white);
$color-black: color(black);
$red-F22424: color(red-F22424);
$gray-888888: color(gray-888888);
$gray-eee: color(gray-eee);
$white-smoke: color(white-smoke);
$gray-E5E5E5: color(gray-E5E5E5);

#app {
  .product {
    margin-bottom: 10px;
    @media (max-width: 991px) {
      box-shadow: none;
      border: 1px solid $white-smoke;
      padding: 10px 20px;
      p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 16px;
      }
      .f-s-19 {
        font-size: 14px;
      }
      .product-link{
        width: 100%;
      }
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    &:hover {
      box-shadow: 4px 3px 6px $gray-eee;
      @media (max-width: 991px) {
        box-shadow: none;
      }
    }
    .product__icons {
      visibility: hidden;
      opacity: 0;
      @media (max-width: 991px) {
        visibility: visible;
        opacity: 1;
        padding-top: 10px;
        width: 100%;
        margin-top: auto;
      }
      .product__icon {
        opacity: inherit;
      }
      .button-full {
        flex: inherit;
        max-width: 100%;
        position: static;
        flex-direction: inherit;
        padding-right: 0;
        padding-top: 20px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin: 0 10px 0 0;
        min-width: inherit;
        height: 53px;
        background: $color-secondary;
        flex-basis: inherit;
        padding: 5px 5px;
        font-size: 16px;
        line-height: normal;
        @media (max-width: 991px) {
          height: 30px;
          font-size: 13px;
        }
        svg {
          margin-right: 10px;
          @media (max-width: 991px) {
            display: none;
          }
        }
      }
      .addwishlistbtn {
        flex: 0 0 53px;
        justify-content: center;
        border: solid 1px $color-black;
        height: 53px;
        text-align: center;
        @media (max-width: 991px) {
          flex: 0 0 30px;
          height: 30px;
          border-color: $gray-E5E5E5;
        }
        svg {
          @media (max-width: 991px) {
            height: 12px;
          }
        }
        .product__icon {
          padding: 0;
          margin: 0;
          line-height: 0;
          .material-icons {
            color: $color-black;
          }
        }
      }
    }
    &:hover {
      .product__icons {
        visibility: visible;
        opacity: 1;
      }
      .old-price {
        color: $gray-888888;
        font-size: 14px;
        text-decoration: line-through;
        margin-left: 10px;
      }
    }
  }
}
</style>
