<template>
  <div @click="$emit('change', variant)">
    <button
      class="relative brdr-cl-bg-tertiary brdr-1 bg-cl-transparent mr7 pointer check-selector"
      :class="{ active: isActive }"
      :aria-label="$t('Weight {variant}', { variant: variant.label })"
    >
      <span class="bg-cl-transparent absolute block square" />
    </button>
    <span>{{ variant.label }}</span>
  </div>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  name: 'WeightSelectorFilter',
  mixins: [filterMixin]
}
</script>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-event: color(tertiary);
$color-active: color(accent);
$gray: color(gray);
$black-2E2E2E: color(black-2E2E2E);
$suva-gray: color(suva-gray);

.check-select {
  color: $gray;
  font-size: 14px;
  font-family: 'Aller';
  button{ display: inline-block; vertical-align: middle;}
}
.check-selector {
  width:15px;
  height:15px;
  padding: 0;
  border-radius: 3px;
  position: relative;
  border: $suva-gray solid 1px;
  display: inline-block;
  vertical-align: middle;

  &:hover {
    .square {
      background-color: $color-event;
    }
  }

  &.active {
    .square {
      background-color:$black-2E2E2E;
    }
  }
}

.square {
  width: 11px;
  height: 11px;
  left: 1px;
  top: 1px;
}
</style>
