<template>
  <option
    :aria-label="$t('Select weight ') + variant.label" :selected="getVariantType()"
  >
    {{ variant.label }}
  </option>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin],
  props: {
    variant: {
      type: Object,
      default: () => {}
    },
    variantType: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    getVariantType () {
      if (this.variant.id === this.variantType[this.variant.type].id) {
        return true;
      }
    }
  }
}
</script>
