<template>
  <div>
    <div class="relative">
      <input
        class="m0 no-outline"
        type="checkbox"
        :id="id"
        :checked="value"
        @keyup.enter="$emit('click')"
        @click="$emit('click')"
        @blur="$emit('blur')"
        @change="$emit('change', $event.target.checked)"
        :disabled="disabled"
        :value="value"
      >
      <label
        class="pl35 lh30 pointer"
        :for="id"
      >
        <slot />
      </label>
    </div>
    <ValidationMessages v-if="validations" :validations="validations" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

export default {
  name: 'BaseCheckbox',
  components: {
    ValidationMessages
  },
  model: {
    prop: 'value',
    event: 'change'
  },
  props: {
    id: {
      type: String,
      required: true
    },
    value: {
      type: Boolean,
      required: true
    },
    validations: {
      type: Array,
      default: () => []
    },
    disabled: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-silver: color(silver);
  $color-active: color(secondary);
  $color-white: color(white);
  $mine-shaft: color(mine-shaft);
  $gray: color(gray);

  label {
    user-select: none;
    font-family: 'Aller', sans-serif;
    display: inline-block;
    vertical-align: top;
    position: relative;
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    color: $gray;
    padding-left: 25px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 15px;
      height: 15px;
      background-color: transparent;
      border: 1px solid $mine-shaft;
      cursor: pointer;
      border-radius: 1px;
    }
  }

  input {
    position: absolute;
    top: 3px;
    left: 0;
    opacity: 0;
    &:checked + label {
      &:before {
        background-color: $mine-shaft;
        border-color: $mine-shaft !important;
        cursor: pointer;
      }
      &:after {
        content: '';
        position: absolute;
        border: 1px solid $color-white;
        border-top: none;
        border-right: none;
        background-color: transparent;
        transform: rotate(-45deg);
        top: 4px;
        left: 4px;
        width: 8px;
        height: 4px;
      }
    }
    &:hover,
    &:focus {
      + label {
        &:before {
          border-color: $color-active;
        }
      }
    }
    &:disabled + label {
      cursor: not-allowed;
      opacity: 0.5;
      pointer-events: none;
      &:hover,
      &:focus {
        &:before {
          border-color: $color-silver;
          cursor: not-allowed;
        }
      }
    }
  }
</style>
