<template>
  <div class="relative base-input">
    <div class="relative">
      <label v-if="label">{{ placeholder }}</label>
      <input
        class="
         py10 w-100 border-box brdr-none brdr-bottom-1
         brdr-cl-primary h4 sans-serif
       "
        :class="{pr30: type === 'password', empty: value === ''}"
        :type="type === 'password' ? passType : type"
        :name="name"
        :autocomplete="autocomplete"
        :value="value"
        :autofocus="autofocus"
        :ref="name"
        :placeholder="!label ? placeholder : ''"
        :disabled="disabled"
        @input="$emit('input', $event.target.value)"
        @blur="$emit('blur')"
        @keyup.enter="$emit('keyup.enter', $event.target.value)"
        @keyup="$emit('keyup', $event)"
      >
    </div>
    <button
      v-if="iconActive"
      type="button"
      class="
        icon material-icons absolute brdr-none no-outline
        p0 bg-cl-transparent cl-brdr-secondary pointer
      "
      @click="togglePassType()"
      :aria-label="$t('Toggle password visibility')"
      :title="$t('Toggle password visibility')"
    >
      {{ icon }}
    </button>
    <ValidationMessages v-if="validations" :validations="validations" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

export default {
  name: 'BaseInput',
  components: {
    ValidationMessages
  },
  data () {
    return {
      passType: 'password',
      iconActive: false,
      icon: 'visibility_off'
    }
  },
  props: {
    type: {
      type: String,
      required: true
    },
    value: {
      type: [String, Number],
      default: ''
    },
    name: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    label: {
      type: Boolean,
      required: false,
      default: true
    },
    autocomplete: {
      type: String,
      required: false,
      default: ''
    },
    focus: {
      type: Boolean,
      required: false,
      default: false
    },
    autofocus: {
      type: Boolean,
      required: false,
      default: false
    },
    validations: {
      type: Array,
      default: () => []
    },
    disabled: {
      type: Boolean,
      required: false
    }
  },
  methods: {
    togglePassType () {
      if (this.passType === 'password') {
        this.passType = 'text'
        this.icon = 'visibility'
      } else {
        this.passType = 'password'
        this.icon = 'visibility_off'
      }
    },
    // setFocus sets focus on a field which has a value of 'ref' tag equal to fieldName
    setFocus (fieldName) {
      if (this.name === fieldName) {
        this.$refs[this.name].focus()
      }
    }
  },
  created () {
    if (this.type === 'password') {
      this.iconActive = true
    }
  },
  mounted () {
    if (this.focus) {
      this.$refs[this.name].focus()
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  $color-tertiary: color(tertiary);
  $color-black: color(black);
  $color-puerto-rico: color(puerto-rico);
  $color-hover: color(tertiary, $colors-background);
  $gray-D8D8D8: color(gray-D8D8D8);
  $green-27B146: color(green-27B146);
  $gray-888888: color(gray-888888);
  .base-input {
    min-height: 4.5rem;
  }

  input {
    height: 50px;
    border: 1px solid $gray-D8D8D8;
    font-size: 16px;
    padding: 0 20px;
    color: $color-black;
    width: 100%;
    &:hover,
    &:focus {
      outline: none;
      border-color: $green-27B146;
    }

    &:disabled,
    &:disabled + label {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  label {
    color: $gray-888888;
    font-size: 16px;
    display: block;
    line-height: 20px;
    margin-bottom: 5px;
    font-family: 'Teko', serif;
  }

  .icon {
    right: 31px;
    top: 38px;
    &:hover,
    &:focus {
      color: $color-hover;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    input {
      font-size: 14px;
      padding: 0 15px;
    }
  }
  @media only screen and (max-width: 767px) {
    input {
      height: 45px;
      font-size: 14px;
      padding: 0 15px;
    }
    label {
      font-size: 14px;
    }
    .icon {
      font-size: 22px;
      top: 37px;
    }
  }
</style>
