<template>
  <div class="relative">
    <div class="relative">
      <label v-if="label">{{ placeholder }}</label>
      <textarea
        class="
          mt10 pb10 w-100 border-box brdr-none brdr-bottom-1
          brdr-cl-primary h4 sans-serif
        "
        :class="{empty: value === ''}"
        :type="type"
        :name="name"
        :autocomplete="autocomplete"
        :value="value"
        :autofocus="autofocus"
        :ref="focus ? name : false"
        :placeholder="!label ? placeholder : ''"
        @input="$emit('input', $event.target.value)"
        @blur="$emit('blur')"
        @keyup.enter="$emit('keyup.enter', $event.target.value)"
        @keyup="$emit('keyup', $event)"
      />
    </div>

    <ValidationMessages v-if="validations" :validations="validations" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

export default {
  name: 'BaseTextarea',
  components: {
    ValidationMessages
  },
  data () {
    return {
      iconActive: false,
      icon: 'visibility'
    }
  },
  props: {
    type: {
      type: String,
      required: true
    },
    value: {
      type: [String, Number],
      required: true
    },
    name: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    label: {
      type: Boolean,
      required: false,
      default: true
    },
    autocomplete: {
      type: String,
      required: false,
      default: ''
    },
    focus: {
      type: Boolean,
      required: false,
      default: false
    },
    autofocus: {
      type: Boolean,
      required: false,
      default: false
    },
    validations: {
      type: Array,
      default: () => []
    }
  },
  mounted () {
    if (this.focus) {
      this.$refs[this.name].focus()
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';

  $color-tertiary: color(tertiary);
  $color-black: color(black);
  $color-puerto-rico: color(puerto-rico);
  $color-hover: color(tertiary, $colors-background);
  $gray-D8D8D8: color(gray-D8D8D8);
  $green-27B146: color(green-27B146);
  $gray-888888: color(gray-888888);
  textarea {
    resize: none;
    background: inherit;
    min-height: 100px;
    border: 1px solid $gray-D8D8D8;
    font-size: 16px;
    padding: 15px 20px;
    color: $color-black;
    &:hover,
    &:focus {
      outline: none;
      border-color: $green-27B146;
    }
  }

  label {
    color: $gray-888888;
    font-size: 16px;
    display: block;
    line-height: 20px;
    margin-bottom: 5px;
    font-family: 'Teko', serif;
  }

  .icon {
    right: 6px;
    top: 10px;
    &:hover,
    &:focus {
      color: $color-hover;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    textarea {
      font-size: 14px;
      padding: 0 15px;
    }
  }
  @media only screen and (max-width: 767px) {
    textarea {
      height: 45px;
      font-size: 14px;
      padding: 10px 15px;
    }
    label {
      font-size: 14px;
    }
  }
</style>
