<template>
  <div class="select-wrapper relative">
    <label v-if="label">{{ placeholder }}</label>
    <select
      :name="name"
      :class="{
        'cl-tertiary' : options.length === 0,
        'empty': !selected
      }"
      :autocomplete="autocomplete"
      @focus="$emit('focus')"
      @blur="$emit('blur')"
      @change="$emit('change', $event.target.value)"
      @input="$emit('input', $event.target.value)"
    >
      <option disabled selected value v-if="!selected" />
      <option
        v-for="(option, key) in options"
        :key="key"
        :value="option.value"
        v-bind="{selected: option.value === selected}"
      >
        {{ option.label }}
      </option>
    </select>

    <ValidationMessages v-if="validations" :validations="validations" />
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

export default {
  name: 'BaseSelect',
  components: {
    ValidationMessages
  },
  props: {
    id: {
      type: String,
      required: false,
      default: ''
    },
    name: {
      type: String,
      required: false,
      default: ''
    },
    options: {
      type: Array,
      required: true,
      default: () => []
    },
    selected: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    label: {
      type: Boolean,
      required: false,
      default: true
    },
    autocomplete: {
      type: String,
      required: false,
      default: ''
    },
    validations: {
      type: Array,
      default: () => []
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '~theme/css/variables/colors';
  @import '~theme/css/helpers/functions/color';
  @import '~theme/css/base/text';
  $color-tertiary: color(tertiary);
  $color-black: color(black);
  $color-puerto-rico: color(puerto-rico);
  $color-hover: color(tertiary, $colors-background);
  $gray-D8D8D8: color(gray-D8D8D8);
  $green-27B146: color(green-27B146);
  $gray-888888: color(gray-888888);
.select-wrapper {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 47px;
    right: 26px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: $color-black transparent transparent transparent;
    pointer-events: none;
  }

  select {
    width: 100%;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0;
    background-color: transparent;
    height: 50px;
    border: 1px solid $gray-D8D8D8;
    font-size: 16px;
    padding: 0 20px;
    color: $color-black;

    &:hover,
    &:focus {
      outline: none;
      border-color: $green-27B146;
    }

    &:disabled,
    &:disabled + label {
      opacity: 0.5;
      cursor: not-allowed;
      pointer-events: none;
    }
  }
  label {
    color: $gray-888888;
    font-size: 16px;
    display: block;
    line-height: 20px;
    margin-bottom: 5px;
    font-family: 'Teko', serif;
  }
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    select {
      font-size: 14px;
      padding: 0 15px;
    }
  }
  @media only screen and (max-width: 767px) {
    .select-wrapper {
      &::after {
        top: 44px;
      }
    }
    select {
      height: 45px;
      font-size: 14px;
      padding: 0 15px;
    }
    label {
      font-size: 14px;
    }
  }
}
</style>
