@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$white: color(white);
$black: color(black);
$color-primary: color(primary);
$color-secondary: color(secondary);

// Default
*, ::after, ::before {
  box-sizing: border-box;
}

::-moz-selection {
  color: $white;
  background-color: $color-secondary;
}

::selection {
  color: $white;
  background-color: $color-secondary;
}

:focus {
  outline-offset: 0;
  outline: 0 none;
}

body {
  color: $color-primary;
}

a, button, input[type="submit"], input[type="button"] {
  transition: all 0.5s ease 0s;
}

p {
  margin: 0 0 15px 0;

  &:last-child {
    margin-bottom: 0;
  }

  &:empty {
    margin: 0;
  }
}

a {
  color: $color-primary;

  &.router-link-exact-active,
  &:hover {
    color: $color-secondary;
  }
}

header {
  button,
  a {
    color: $white;
  
    &.router-link-exact-active,
    &:hover {
      color: $color-secondary;
    }
  }
}

footer {
  button,
  a {
    color: rgba($white, 0.6);
  
    &.router-link-exact-active,
    &:hover {
      color: rgba($color-secondary, 0.6);
    }
  }
}

.default-body {
  img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }
}

.blog-body{
  header, footer{
    img{
      max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    }
  }
}

.object-cover {
  font-family: 'object-fit: cover;';
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.blank-section {
  padding-bottom: 80px;

  @media (max-width: 767px) {
    padding-bottom: 20px;
  }
}

.overflow-hidden {
  overflow: hidden;
}

.section-heading {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 80px;

  @media (max-width: 767px) {
    margin-bottom: 20px;
    font-size: 18px;
  }

  & > span {
    margin-bottom: 10px;
    font-size: 16px;
    display: block;
    color: $color-secondary;
    font-family: 'Aller';

    @media (max-width: 767px) {
      margin-bottom: 5px;
      font-size: 14px;
    }
  }
}

.VueCarousel-navigation-button {
  &:focus {
    outline: 0 none !important;
  }
}
div#onetrust-consent-sdk div#onetrust-banner-sdk {
  bottom: 0 !important;
}