<template>
  <section class="reviews-sec">
    <div class="container">
      <div class="row between-xs">
        <div class="col-xs-12 col-md-6">
          <h2 class="h2 m0 mb20 serif lh40">
            {{ $t('Reviews') }}
          </h2>
          <reviews-list
            :per-page="3"
            :items="reviews"
            :product-name="productName"
            :product="product"
          />
        </div>
        <div class="col-xs-12 col-md-5">
          <h2 class="h2 m0 mb20 serif lh40">
            {{ $t('Write Your Review') }}
          </h2>
          <form id="review_form" action="#" @submit.prevent="outOfScope()">
            <div class="your-rating flex mb10">
              <label>
                {{ $t('Your Rating') }}*
              </label>
              <div id="full-stars-example-two">
                <div class="rating-group" :class="{'unfilled-star': !formData.ratings}">
                  <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                  <label aria-label="1 star" class="rating__label" for="rating3-1">
                    <span class="rating__icon rating__icon--star fa fa-star" />
                  </label>
                  <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio" v-model="formData.ratings">
                  <label aria-label="2 stars" class="rating__label" for="rating3-2">
                    <span class="rating__icon rating__icon--star fa fa-star" />
                  </label>
                  <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio" v-model="formData.ratings">
                  <label aria-label="3 stars" class="rating__label" for="rating3-3">
                    <span class="rating__icon rating__icon--star fa fa-star" />
                  </label>
                  <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio" v-model="formData.ratings">
                  <label aria-label="4 stars" class="rating__label" for="rating3-4">
                    <span class="rating__icon rating__icon--star fa fa-star" />
                  </label>
                  <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio" v-model="formData.ratings">
                  <label aria-label="5 stars" class="rating__label" for="rating3-5">
                    <span class="rating__icon rating__icon--star fa fa-star" />
                  </label>
                  <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio" v-model="formData.ratings">
                </div>
              </div>
            </div>
            <div class="block cl-error h6 mt5 align-left" v-if="$v.formData.ratings.$error">
              {{ $t('Please select one of each of the ratings above.') }}
            </div>
            <div class="mb10">
              <base-input
                type="text"
                :placeholder="$t('Nick Name*')"
                v-model="formData.name"
                @blur="$v.formData.name.$touch()"
                :validations="[
                  {
                    condition: $v.formData.name.$error && !$v.formData.name.required,
                    text: $t('Field is required')
                  },
                  {
                    condition: !$v.formData.name.minLength,
                    text: $t('Name must have at least 2 letters.')
                  }
                ]"
              />
            </div>
            <div class="mb10">
              <base-input
                type="text"
                :placeholder="$t('summary*')"
                v-model="formData.summary"
                @blur="$v.formData.summary.$touch()"
                :validations="[
                  {
                    condition: $v.formData.summary.$error && !$v.formData.summary.required,
                    text: $t('Field is required')
                  }
                ]"
              />
            </div>
            <div class="mb25">
              <base-textarea
                type="text"
                :placeholder="$t('Your review*')"
                v-model="formData.review"
                @blur="$v.formData.review.$touch()"
                :validations="[
                  {
                    condition: $v.formData.review.$error && !$v.formData.review.required,
                    text: $t('Field is required')
                  }
                ]"
              />
            </div>
            <div class="mb25">
              <input type="file" accept="image/*" multiple="multiple" name="review_image" @change="reviewImageUpload" class="form-control-file" id="review_images">
            </div>
            <div class="terms-checkbox mb25">
              <base-checkbox
                class="mb10"
                id="acceptTermsCheckbox"
                @blur="$v.formData.terms.$touch()"
                v-model="formData.terms"
                :validations="[{
                  condition: !$v.formData.terms.sameAs && $v.formData.terms.$error,
                  text: $t('Field is required')
                }]"
              >
                {{ $t('I accept ') }}
                <a href="https://www.iubenda.com/privacy-policy/69683679" target="_blank">
                  {{ $t('privacy policy') }}
                </a>
                {{ $t('and ') }}
                <router-link :to="localizedRoute('/terms-conditions')" exact>
                  {{ $t('terms and conditions') }}
                </router-link> *
              </base-checkbox>
            </div>
            <div class="row m0 middle-xs center-xs start-sm buttons">
              <button-full
                @click.native="validate()"
                :class="{ 'w-auto': !currentUser }"
              >
                {{ $t('SUBMIT') }}
              </button-full>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { required, minLength, sameAs } from 'vuelidate/lib/validators'

import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseTextarea from 'theme/components/core/blocks/Form/BaseTextarea'
import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox.vue'
import ButtonFull from 'theme/components/theme/ButtonFull'
import ReviewsList from 'theme/components/theme/blocks/Reviews/ReviewsList'
import { Reviews } from '@vue-storefront/core/modules/review/components/Reviews'
import { AddReview } from '@vue-storefront/core/modules/review/components/AddReview'
import NoSSR from 'vue-no-ssr'
import i18n from '@vue-storefront/i18n'

export default {
  name: 'Reviews',
  data () {
    return {
      reviewImages: [],
      formData: {
        name: '',
        summary: '',
        review: '',
        terms: false,
        ratings: ''
      }
    }
  },
  props: {
    productId: {
      type: [String, Number],
      required: true
    },
    productName: {
      type: String,
      default: ''
    },
    product: {
      type: Object,
      required: true
    }
  },
  computed: {
    currentUser () {
      return this.$store.state.user.current
    }
  },
  methods: {
    reviewImageUpload (event) {
      const input = event.target
      if (input.files && input.files.length) {
        this.reviewImages = [];
        let fileData = input.files
        const errorFile = [...fileData].filter(f => !f.type.includes('image/jpg') && !f.type.includes('image/jpeg') && !f.type.includes('image/png'))
        if (errorFile.length > 0) {
          if (errorFile.length === 1) {
            const errorFileName = errorFile[0].name
            this.$store.dispatch('notification/spawnNotification', {
              type: 'warning',
              message: errorFileName + this.$t(' is not allowed! Only (jpg, png, jpeg) format\'s are allowed.'),
              action1: { label: this.$t('OK') }
            })
            return
          }
          this.$store.dispatch('notification/spawnNotification', {
            type: 'warning',
            message: this.$t('Some file types are not allowed! Only (jpg, png, jpeg) format\'s are allowed.'),
            action1: { label: this.$t('OK') }
          })
          return
        }
        for (var key in fileData) {
          if (fileData.hasOwnProperty(key)) {
            const k = parseInt(key)
            var reader = new FileReader();
            reader.onload = (e) => {
              const base64data = e.target.result
              const base64Ary = base64data.split(',');
              let appendData = {
                base64_encoded_data: base64Ary.length > 0 ? base64Ary[1] : base64data,
                type: fileData[k].type,
                name: fileData[k].name
              }
              this.reviewImages.push(appendData);
            }
            reader.readAsDataURL(fileData[key]);
          }
        }
      }
    },
    validate () {
      if (!this.currentUser) {
        this.login();
        return false;
      }
      this.$v.$touch()
      if (!this.$v.$invalid) {
        this.submit()
      }
    },
    refreshList () {
      this.$store.dispatch('review/list', { productId: this.product.type_id === 'configurable' ? this.product.parentId : this.product.id })
    },
    async submit () {
      const isReviewCreated = await this.$store.dispatch('review/add', {
        'product_id': this.product.type_id === 'configurable' ? this.product.parentId : this.product.id,
        'title': this.formData.summary,
        'detail': this.formData.review,
        'nickname': this.formData.name,
        'review_entity': 'product',
        'customer_id': this.currentUser ? this.currentUser.id : null,
        'ratings': [{
          'rating_name': 'Rating',
          'value': this.formData.ratings
        }],
        'images': this.reviewImages
      })

      if (isReviewCreated) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You submitted your review for moderation.'),
          action1: { label: i18n.t('OK') }
        })

        return
      }

      this.$store.dispatch('notification/spawnNotification', {
        type: 'error',
        message: i18n.t('Something went wrong. Try again in a few seconds.'),
        action1: { label: i18n.t('OK') }
      })
    },
    clearReviewForm () {
      this.formData.name = ''
      this.formData.summary = ''
      this.formData.review = ''
      this.formData.ratings = ''
      this.reviewImages = []
      this.$v.$reset()
    },
    login () {
      this.$bus.$emit('modal-show', 'modal-signup')
    },
    fillInUserData () {
      if (this.currentUser) {
        this.formData.name = this.currentUser.firstname
      }
    }
  },
  mounted () {
    this.$bus.$on('product-after-load', this.refreshList)
    this.$bus.$on('clear-add-review-form', this.clearReviewForm)
    this.$bus.$on('user-after-loggedin', this.fillInUserData)
  },
  destroyed () {
    this.$bus.$off('product-after-load', this.refreshList)
    this.$bus.$off('clear-add-review-form', this.clearReviewForm)
    this.$bus.$off('user-after-loggedin', this.fillInUserData)
  },
  beforeMount () {
    this.refreshList()
    this.fillInUserData()
  },
  mixins: [ Reviews ],
  validations: {
    formData: {
      name: {
        minLength: minLength(2),
        required
      },
      summary: {
        required
      },
      review: {
        required
      },
      ratings: {
        required
      },
      terms: {
        sameAs: sameAs(() => true)
      }
    }
  },
  components: {
    ButtonFull,
    BaseInput,
    BaseTextarea,
    BaseCheckbox,
    ReviewsList,
    'no-ssr': NoSSR
  }
}
</script>
<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-F7F7F7: color(gray-F7F7F7);

.reviews-sec {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: $gray-F7F7F7;
}
.your-rating label {
  display: block;
  line-height: 20px;
  margin-bottom: 5px;
  font-family: 'Teko', serif;
}
#full-stars-example-two {

  .rating-group {
    display: inline-flex;
  }
  /* make hover effect work properly in IE */
  .rating__icon {
    pointer-events: none;
  }
  /* hide radio inputs */
  .rating__input {
   position: absolute !important;
   left: -9999px !important;
  }
  /* hide 'none' input from screenreaders */
  .rating__input--none {
    display: none
  }
  /* set icon padding and size */
  .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    margin:0;
    font-size: 2rem;
  }
  /* set default star color */
  .rating__icon--star {
    display: inline-block;
    background-image: url('/assets/icons/star-active.png');
    height: 20px;
    width: 20px;
    margin-right: -4px;
  }
  /* if any input is checked, make its following siblings grey */
  .rating__input:checked ~ .rating__label .rating__icon--star {
    background-image: url('/assets/icons/star.png');
  }
  /* make all stars orange on rating group hover */
  .rating-group:hover .rating__label .rating__icon--star {
    background-image: url('/assets/icons/star-active.png');
  }
  /* make hovered input's following siblings grey on hover */
  .rating__input:hover ~ .rating__label .rating__icon--star {
    background-image: url('/assets/icons/star.png');
  }
  .unfilled-star .rating__icon--star {
    background-image: url('/assets/icons/star.png');
  }
}
</style>

<style lang="scss">
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$gray-A6A6A6: color(gray-A6A6A6);
$white-smoke: color(white-smoke);
$white: color(white);
$green-36B289: color(green-36B289);
.reviews-sec {
  label {
    font-size: 14px;
    color: $gray-A6A6A6;
    text-transform: uppercase;
    font-weight: 500;
  }
  input, textarea{
    border-color: $white-smoke;
  }
  textarea{
    background-color: $white;
    margin-top: 0;
    vertical-align: top;
  }
  .cl-error {
    font-size: 14px;
  }
  .button-full {
    width: auto;
    background-color: $green-36B289;
    min-width: 176px;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    padding: 0 25px;
    text-align: center;
    color: $white;
  }
  @media (max-width: 767px) {
    .col-md-5 {
      margin-top: 30px;
    }
    .h2 {
      font-size: 20px;
    }
    p {
      font-size: 12px;
      line-height: 18px;
    }
    .button-full {
      padding-top: 17px;
      padding-bottom: 15px;
    }
  }
}
</style>
