<!DOCTYPE html>
<html data-vue-meta-server-rendered {{{ meta.inject().htmlAttrs.text() }}}>
  <head>
    <!-- index for default theme -->
    {{{ meta.inject().title.text() }}} {{{ meta.inject().meta.text() }}}
    <meta name="generator" content="Vue Storefront" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{{ meta.inject().link.text() }}} {{{ meta.inject().script.text() }}} {{{
    renderResourceHints() }}} {{{ renderStyles() }}} {{{ output.appendHead() }}}
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Organization",
        "name": "FitnessBug",
        "url": "https://www.fitnessbug.co.uk/",
        "logo": "https://www.fitnessbug.co.uk/assets/logo.svg",
        "sameAs": [
          "https://www.facebook.com/FitnessBugOfficial",
          "https://www.instagram.com/fitnessbugofficial"
        ]
      }
    </script>
    <!-- OneTrust Cookies Consent Notice start for fitnessbug.co.uk -->
    <script type="text/javascript" src="https://cdn.cookielaw.org/consent/019c0076-45da-4d74-acab-2d89823d8dc6/OtAutoBlock.js" async></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="019c0076-45da-4d74-acab-2d89823d8dc6" async></script>
    <script type="text/javascript">
    function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end for fitnessbug.co.uk -->
  </head>
  <body>
    <!--vue-ssr-outlet-->
    {{{ renderState() }}} {{{ renderScripts() }}}
  </body>
</html>
