// Colors
// ======
// @LandonSchropp's approach of naming color variables.
// - http://davidwalsh.name/sass-color-variables-dont-suck
// - http://www.color-blindness.com/color-name-hue/

// General colors palette
$colors: (
  transparent: transparent,
  black: #000,
  light-black: #111,
  white: #fff,
  red: #ff0000,
  white-smoke: #f2f2f2,
  gainsboro: #e0e0e0,
  silver: #bdbdbd,
  gray: #828282,
  light-gray: #cccccc,
  suva-gray: #8e8e8e,
  matterhorn: #4f4f4f,
  burnt-sienna: #eb5757,
  red-F22424: #F22424,
  red-E64A19: #E64A19,
  buccaneer: #755,
  forest-green: #308c14,
  puerto-rico: #4dba87,
  mine-shaft: #333,
  light-black-2D2D2D: #2D2D2D,
  gray-404040: #404040,
  green-3C967B: #3C967B,
  gray-F5F5F5: #F5F5F5,
  gray-DDDDDD: #DDDDDD,
  gray-808182: #808182,
  gray-595959: #595959,
  gray-FCFCFC: #FCFCFC,
  gray-303030: #303030,
  gray-BFBFBF: #BFBFBF,
  gray-141414: #141414,
  gray-1A1A1A: #1A1A1A,
  gray-E3E3E3: #E3E3E3,
  gray-E5E5E5: #E5E5E5,
  gray-666666: #666666,
  gray-F7F7F7: #F7F7F7,
  gray-808080: #808080,
  gray-888888: #888888,
  gray-2D242D: #2D242D,
  gray-2d242d: #2d242d,
  gray-d8d8d8: #d8d8d8,
  gray-A6A6A6: #A6A6A6,
  green-36B289: #36B289,
  gray-494949: #494949,
  gray-B3B3B3: #B3B3B3,
  gray-444444:#444444,
  gray-DBDBDB:#DBDBDB,
  gray-C9C9C9:#C9C9C9,
  gray-737373:#737373,
  gray-EAEAEC: #EAEAEC,
  gray-4d4d4d: #4d4d4d,
  gray-979797: #979797,
  gray-eee: #eee,
  black-2E2E2E: #2E2E2E,
  red-CC1414: #CC1414,
  green-82CE34: #82CE34,
  white-light: #FAFAFA,
  gray-C4C4C4: #C4C4C4,
  orange: #F19D18,
  blue: #0961EA
);

// Theme generic colors
// Key: name of color
// Value: color value or map with default, hover, focus color values
$colors-theme: (
  primary: (
    default: map-get($colors, gray-404040),
    hover: map-get($colors, green-36B289)
  ),
  secondary: (
    default: map-get($colors, green-36B289),
    hover: map-get($colors, gray-404040),
  ),
  accent: (
    default: map-get($colors, matterhorn),
    hover: map-get($colors, black),
  ),
  tertiary: map-get($colors, silver),
  success: map-get($colors, puerto-rico),
  warning: map-get($colors, buccaneer),
  error: map-get($colors, burnt-sienna)
);

$colors-border: (
  primary: map-get($colors, gray-404040),
  secondary: map-get($colors, green-36B289),
);

$colors-background: (
  primary: (
    default: map-get($colors, gray-404040),
    hover: map-get($colors, green-36B289)
  ),
  secondary: (
    default: map-get($colors, green-36B289),
    hover: map-get($colors, gray-404040),
  ),
  tertiary: map-get($colors, suva-gray)
);
