<template>
  <div>
    <div style="color: red;">
      {{ $t(message) }}
    </div>
    <div class="paypal-button" />
  </div>
</template>

<script>
import { PaypalButton } from './PaypalButton'

export default {
  mixins: [PaypalButton],
  data () {
    return {
      additionalMethod: {}
    }
  },
  beforeMount () {
    this.$bus.$on('checkout-before-placeOrder', () => {
      this.$bus.$emit('checkout-do-placeOrder', this.additionalMethod)
    })
  },
  methods: {
    async onApprove (data, actions) {
      this.additionalMethod = {
        // magento 2 fields expects
        paypal_express_checkout_token: this.token,
        button: 1,
        paypal_express_checkout_payer_id: data.payerID,
        paypal_express_checkout_redirect_required: false
      }
      this.$emit('placeOrderByPaypal')
    },
    async renderButton () {
      window.paypal.Buttons({
        createOrder: await this.onCreateOrder,
        onApprove: this.onApprove,
        style: this.styling
      }).render('.paypal-button')
    },
    async onCreateOrder (data, actions) {
      const token = await this.$store.dispatch('payment-paypal-magento2/createOrder')
      return token
    }
  }
}
</script>
